@import "./vars";

*,
*::before,
*::after {
  font-family: $font-hauora;
  font-size: 1.4rem;
  line-height: 1.9rem;
  font-weight: $regular;
  color: $black;
  padding: 0;
  margin: 0;
}

// *>* {
//   font-family: inherit;
//   font-size: inherit;
//   line-height: inherit;
//   font-weight: inherit;
//   color: inherit;
// }

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 167rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.prof-item {
  height: 48rem;
  padding: 0.2rem;
  border-radius: 0.8rem;
  background: linear-gradient($red, $black);
  cursor: pointer;

  &:hover & {
    &__btn {
      height: 4.8rem;
      opacity: 1;
      pointer-events: all;
      margin-top: 2rem;
    }
  }

  &__inner {
    background-color: $white;
    border-radius: 0.8rem;
    padding: 3.8rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $grey;
    font-size: 1.4rem;
    line-height: 1.9rem;
    margin-bottom: 1rem;

    span {
      font-size: inherit;
      line-height: inherit;
      color: inherit;
    }
  }

  &__title {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 700;
    color: $red;
    font-family: $font-next;
    position: relative;
    margin-bottom: 2.5rem;

    &::after {
      content: "";
      width: 8.1rem;
      height: 0.2rem;
      background-color: $red;
      position: absolute;
      left: 0;
      bottom: -2rem;
    }
  }

  &__text {
    margin-top: auto;
  }

  &__btn {
    padding: 0;
    border: none;
    outline: none;
    color: $white;
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 700;
    font-family: $font-next;
    background-color: $black;
    border-radius: 0.4rem;
    height: 0;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
    overflow: hidden;
  }
}

.teacher-item {
  padding: 0.2rem;
  border-radius: 0.8rem;
  height: 50.9rem;
  background: linear-gradient($red, $black);

  &__inner {
    width: 100%;
    height: 100%;
    background-color: $white;
    border-radius: 0.8rem;
    padding: 3.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__img {
    width: 100%;
    height: 34rem;
    margin-bottom: 4rem;

    img {
      object-fit: cover;
      object-position: center center;
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__title {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 700;
    font-family: $font-next;
    color: $red;
  }
}