.footer {
  margin-top: auto;
  padding: 8rem 0;
  // background-color: $black;
  background-color: $white;
  border-top: 0.2rem solid $black;

  &-container {
    display: flex;
    flex-direction: column;
    gap: 8rem;

    @include breakpoint($xl-bp) {
      gap: 4rem;
    }
  }

  &-main {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 12rem;
  }

  &-inner {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include breakpoint($xl-bp) {
      display: grid;
    }

    @include breakpoint($sm-bp) {
      display: flex;
      flex-direction: column;
    }
  }

  &-logo {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 14rem;

    @include breakpoint($xl-bp) {
      grid-area: 1/1/2/2;
    }

    @include breakpoint($sm-bp) {
      height: 9.8rem;
    }

    img {
      object-fit: contain;
      object-position: left center;
      height: 100%;
    }

    &__text {
      font-size: 1.2rem;
      line-height: 2rem;
      font-weight: 700;
      font-family: $font-next;
      // color: $white;
      max-width: 66.7rem;

      @include breakpoint($sm-bp) {
        line-height: 1.7rem;
      }
    }
  }

  &-nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;

    @include breakpoint($xl-bp) {
      grid-area: 2/1/3/3;
    }

    @include breakpoint($lb-bp) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem;
    }

    @include breakpoint($sm-bp) {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    &-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;

      @include breakpoint($sm-bp) {
        gap: 2rem;
      }

      &__link {
        // color: $white;

        &_dekor {
          text-decoration: underline;
        }
      }
    }
  }

  &-contacts {
    // border: 0.2rem solid $white;
    border: 0.2rem solid $black;
    border-radius: 0.8rem;
    padding: 4rem;
    flex: none;
    max-width: 38rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    @include breakpoint($xl-bp) {
      grid-area: 1/2/2/3;
    }

    @include breakpoint($sm-bp) {
      padding: 2rem;
    }

    &__link {
      // color: $white;
      font-family: $font-next;
      font-weight: 700;
    }

    &__text {
      // color: $white;
    }
  }

  &-legal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
    // border-top: 0.2rem solid $white;
    border-top: 0.2rem solid $black;

    @include breakpoint($sm-bp) {
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;
    }

    &__text {
      color: $grey;
    }

    &__box {
      display: flex;
      align-items: center;
      gap: 2rem;

      @include breakpoint($sm-bp) {
        flex-direction: column;
        align-items: flex-start;
      }

      & > * {
        &:not(:first-child) {
          display: flex;
          align-items: center;

          @include breakpoint($sm-bp) {
            display: inline-block;
          }

          &::before {
            content: "|";
            color: $grey;
            margin-right: 2rem;

            @include breakpoint($sm-bp) {
              display: none;
            }
          }
        }
      }
    }
  }
}
