.info-slider {
  padding: 14rem 0;

  @include breakpoint($xl-bp) {
    padding: 8rem 0;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.2rem solid $red;
    padding-bottom: 3.9rem;
    margin-bottom: 3.9rem;

    @include breakpoint($sm-bp) {
      margin-bottom: 0;
      border: none;
    }
  }

  &__title {
    font-family: $font-next;
    font-weight: 900;
    font-size: 4rem;
    line-height: 4.5rem;

    @include breakpoint($sm-bp) {
      font-size: 3rem;
      line-height: 3.4rem;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 4rem;

    @include breakpoint($sm-bp) {
      display: none;
    }
  }

  &__btn {
    width: 4rem;
    height: 4.5rem;
    padding: 0;
    border: none;
    outline: none;
    border: none;
    background-color: transparent;

    &:hover {
      svg {
        fill: $red;
      }
    }

    &.swiper-button-disabled {
      pointer-events: none;
      opacity: 0.5;
    }

    svg {
      object-fit: contain;
      object-position: center center;
      width: 100%;
      height: 100%;
      fill: $black;
      transition: 0.3s;
    }
  }

  &-swiper {
    &-wrapper {
      @include breakpoint($sm-bp) {
        display: flex;
        flex-direction: column;
        gap: 4rem;
      }
    }

    &-slide {
      @include breakpoint($sm-bp) {
        &:nth-child(3n + 1) {
          display: none;
        }
      }
    }
  }
}
