.main {
  &-top {
    height: 89rem;
    position: relative;
    padding-top: 14rem;

    @include breakpoint($xl-bp) {
      padding-top: 2rem;
      height: unset;
      display: flex;
      flex-direction: column;
      gap: 4rem;
    }

    @include breakpoint($lb-bp) {
      margin-bottom: 18rem;
    }

    &__bg {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: calc(50% - 2rem);

      @include breakpoint($xl-bp) {
        position: static;
        width: 100%;
        order: 2;
        height: 65rem;
      }

      @include breakpoint($lb-bp) {
        height: 50rem;
      }

      @include breakpoint($lb-bp) {
        height: 35.5rem;
      }

      img {
        object-fit: cover;
        object-position: right center;
        width: 100%;
        height: 100%;
      }
    }

    &-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4rem;
      // max-width: calc(50% - 2rem);
      padding-right: 45%;

      @include breakpoint($xl-bp) {
        max-width: unset;
        order: 1;
        gap: 2rem;
      }

      @include breakpoint($lb-bp) {
        padding-right: 2rem;
      }
    }

    &__title {
      font-family: $font-next;
      font-weight: 900;
      // font-size: 7rem;
      // line-height: 7.9rem;
      font-size: 5.8rem;
      line-height: 6.6rem;

      @include breakpoint($xl-bp) {
        font-size: 3.4rem;
        line-height: 3.9rem;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      li {
        font-size: 2rem;
        line-height: 2.7rem;
        padding-left: 2.6rem;
        position: relative;

        @include breakpoint($lb-bp) {
          font-size: 1.4rem;
          line-height: 1.9rem;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0.5em;
          left: 0.5em;
          width: 0.4rem;
          height: 0.4rem;
          background-color: $red;
          border-radius: 50%;
        }
      }
    }

    &__btn {
      width: 20rem;
      height: 20rem;
      border-radius: 50%;
      background-color: $red;
      color: $white;
      padding: 0;
      margin: 0;
      border: none;
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $font-next;
      font-weight: 900;
      font-size: 2.2rem;
      line-height: 2.5rem;
      position: absolute;
      bottom: 14rem;
      left: calc(50% + 2rem);
      transform: translateX(-50%);

      @include breakpoint($lb-bp) {
        left: 2rem;
        transform: none;
      }

      @include breakpoint($lb-bp) {
        left: 50%;
        transform: translateX(-50%) translateY(50%);
        bottom: 0;
      }
    }
  }

  &-advantages {
    padding: 15rem 0;

    @include breakpoint($xl-bp) {
      padding: 8rem 0;
    }

    &__head {
      border-bottom: 0.2rem solid $red;
      padding-bottom: 3.9rem;
      margin-bottom: 3.9rem;
    }

    &__title {
      font-size: 4rem;
      line-height: 4.5rem;
      font-weight: 900;
      font-family: $font-next;
      max-width: 52rem;

      @include breakpoint($xl-bp) {
        font-size: 3rem;
        line-height: 3.4rem;
        max-width: unset;
      }
    }

    &-info {
      padding-left: 42rem;
      display: flex;
      flex-direction: column;
      gap: 3.9rem;

      @include breakpoint($xl-bp) {
        padding: 0;
      }

      &__item {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 3.9rem;
        border-bottom: 0.2rem solid $red;
      }

      &__title {
        font-weight: 900;
        font-size: 6rem;
        line-height: 6.8rem;
        font-family: $font-next;
        color: $red;

        @include breakpoint($xl-bp) {
          font-size: 2.6rem;
          line-height: 2.9rem;
        }
      }

      &__text {
        max-width: 52rem;
      }
    }
  }

  &-prof-slider {
    background-color: $light-grey;

    &__link {
      text-align: center;
      display: none;
      margin-top: 4rem;

      @include breakpoint($sm-bp) {
        display: block;
      }
    }
  }

  &-doc {
    padding: 15rem 0;
    display: flex;
    flex-direction: column;
    gap: 15rem;

    @include breakpoint($xl-bp) {
      padding: 8rem 0;
      gap: 8rem;
    }

    &-item {
      display: flex;
      align-items: flex-start;
      gap: 4rem;

      @include breakpoint($lb-bp) {
        flex-direction: column;
      }

      &__content {
        max-width: 38rem;
        display: flex;
        flex-direction: column;
        gap: 4rem;

        @include breakpoint($lb-bp) {
          max-width: 100%;
        }
      }

      &__title {
        font-weight: 900;
        font-size: 4rem;
        line-height: 4.5rem;
        font-family: $font-next;

        @include breakpoint($sm-bp) {
          font-size: 3rem;
          line-height: 3.4rem;
        }
      }

      &__list {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem;

        @include breakpoint($xl-bp) {
          grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint($lb-bp) {
          width: 100%;
        }

        @include breakpoint($sm-bp) {
          display: flex;
          flex-direction: column;
        }
      }

      &-img {
        height: 52rem;
        border-radius: 0.4rem;
        background-color: $white;

        @include breakpoint($xl-bp) {
          height: 40rem;
        }

        @include breakpoint($lb-bp) {
          height: 46rem;
        }

        &_border {
          padding: 0.2rem;
          background: linear-gradient($red, $black);
        }

        img {
          object-fit: cover;
          object-position: center center;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  &-news {
    margin-bottom: 15rem;

    @include breakpoint($xl-bp) {
      margin-bottom: 8rem;
    }

    &__title {
      font-weight: 900;
      font-size: 4rem;
      line-height: 4.5rem;
      font-family: $font-next;
      margin-bottom: 4rem;
    }

    &-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 4rem;
      // height: 63.4rem;

      @include breakpoint($xl-bp) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include breakpoint($sm-bp) {
        display: flex;
        flex-direction: column;
      }

      &-item {
        // height: 100%;
        height: 63.4rem;
        padding: 0.2rem;
        border-radius: 0.8rem;
        background: linear-gradient($red, $black);
        cursor: pointer;

        &:hover & {
          &__btn {
            height: 4.8rem;
            opacity: 1;
            pointer-events: all;
            margin-top: 2rem;
          }
        }

        &__inner {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          padding: 3.8rem;
          background-color: $white;
          border-radius: 0.8rem;

          @include breakpoint($lb-bp) {
            padding: 1.8rem;
          }
        }

        &__img {
          width: 100%;
          height: 26rem;
          margin-bottom: 4rem;

          img {
            object-fit: cover;
            object-position: center center;
            width: 100%;
            height: 100%;
          }
        }

        &__date {
          color: $grey;
          margin-bottom: 1rem;
        }

        &__title {
          font-family: $font-next;
          font-weight: 700;
          font-size: 1.4rem;
          line-height: 2rem;
          color: $red;
          margin-bottom: 2rem;
          position: relative;
          text-transform: uppercase;

          &::after {
            content: "";
            width: 8.1rem;
            height: 0.2rem;
            background-color: $red;
            position: absolute;
            bottom: -2rem;
            left: 0;
          }
        }

        &__text {
          margin-top: auto;
        }

        &__btn {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          overflow: hidden;
          padding: 0;
          border: none;
          outline: none;
          border-radius: 0.4rem;
          color: $white;
          background-color: $black;
          font-weight: 700;
          font-size: 1.4rem;
          line-height: 1.6rem;
          font-family: $font-next;
          height: 0;
          opacity: 0;
          pointer-events: none;
          transition: 0.3s;
        }
      }
    }
  }

  &-about {
    margin-bottom: 15rem;

    @include breakpoint($xl-bp) {
      margin-bottom: 8rem;
    }

    &__title {
      font-weight: 900;
      font-size: 4rem;
      line-height: 4.5rem;
      font-family: $font-next;
      margin-bottom: 6rem;

      @include breakpoint($sm-bp) {
        font-size: 3rem;
        line-height: 3.4rem;
        margin-bottom: 4rem;
      }
    }

    &__inner {
      display: flex;
      align-items: flex-start;
      gap: 18rem;

      @include breakpoint($xl-bp) {
        gap: 4rem;
      }

      @include breakpoint($lb-bp) {
        flex-direction: column;
      }
    }

    &__btns {
      flex: none;
      width: 24rem;
      display: flex;
      flex-direction: column;

      @include breakpoint($lb-bp) {
        width: 100%;
      }
    }

    &__btn {
      width: 100%;
      padding: 1.9rem 0;
      border: none;
      border-top: 0.2rem solid $black;
      border-bottom: 0.2rem solid $black;
      font-weight: 700;
      font-size: 1.4rem;
      line-height: 2rem;
      font-family: $font-next;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: transparent;
      position: relative;
      transition: 0.3s;

      &:hover {
        svg {
          opacity: 1;
        }
      }

      &._active {
        color: $red;
        z-index: 2;
        border-color: $red;

        svg {
          fill: $red;
          opacity: 1;
        }
      }

      &:not(:first-child) {
        margin-top: -0.2rem;
      }

      svg {
        object-fit: contain;
        object-position: center center;
        fill: rgb(43, 42, 41);
        transition: 0.3s;
        width: 4rem;
        height: 2rem;
        fill: $black;
        opacity: 0;
        transition: 0.3s;
      }
    }

    &-swiper {
      @include breakpoint($lb-bp) {
        width: 100%;
      }

      &-slide {
        display: flex;
        flex-wrap: wrap;
        gap: 4rem;

        @include breakpoint($xl-bp) {
          gap: 2rem;
        }

        @include breakpoint($lb-bp) {
          flex-direction: column;
        }
      }
    }

    &-info {
      width: 100%;
      height: fit-content;
      padding: 0.2rem;
      background: linear-gradient($red, $black);
      border-radius: 0.8rem;
      width: calc(100% / 3 - 8rem / 3);

      @include breakpoint($lb-bp) {
        width: 100%;
      }

      &__inner {
        background-color: $white;
        width: 100%;
        border-radius: 0.8rem;
        padding: 3.8rem;

        @include breakpoint($xl-bp) {
          padding: 1.8rem;
        }

        @include breakpoint($lb-bp) {
          padding: 3.8rem;
        }
      }

      &:nth-child(1) {
        grid-area: 1/1/2/7;
        width: calc(50% - 2rem);

        @include breakpoint($lb-bp) {
          width: initial;
        }
      }

      &:nth-child(2) {
        grid-area: 1/7/2/13;
        width: calc(50% - 2rem);

        @include breakpoint($lb-bp) {
          width: initial;
        }
      }

      &__title {
        font-family: $font-next;
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 2rem;
        margin-bottom: 4rem;
        color: $red;
        position: relative;

        &::after {
          content: "";
          width: 8.1rem;
          height: 0.2rem;
          background-color: $red;
          position: absolute;
          left: 0;
          bottom: -2rem;
        }
      }

      &__text {
        font-size: 1.4rem;
        line-height: 1.9rem;
        display: flex;
        flex-direction: column;
        gap: 1.4em;

        p {
          font-size: inherit;
          line-height: inherit;
        }
      }
    }
  }

  &-teacher-slider {
    padding: 15rem 0;

    @include breakpoint($xl-bp) {
      padding: 8rem 0;
    }

    &__link {
      text-align: center;
      display: none;
      margin-top: 4rem;

      @include breakpoint($sm-bp) {
        display: block;
      }
    }
  }

  &-reviews {
    background-color: $light-grey;
  }

  &-partners-slider {
    padding: 15rem 0;

    @include breakpoint($xl-bp) {
      padding: 8rem 0;
    }
  }
}
