<section class="all-news">
  <div class="container">

    <div class="page-info">
      <div class="page-info-nav">
        <a href="#" class="page-info-nav__link">
          Главная
        </a>
        <a href="#" class="page-info-nav__link">
          Новости
        </a>
      </div>

      <h1 class="page-info__title">
        Новости
      </h1>
    </div>

    <div class="all-news-container">
      <ul class="all-news-list">
        <li class="main-news-list-item">
          <div class="main-news-list-item__inner">
            <div class="main-news-list-item__img">
              <img src="./assets/images/news-1.jpg" alt="main-news">
            </div>

            <span class="main-news-list-item__date">22 марта 2023</span>

            <h5 class="main-news-list-item__title">Встреча с представителями военного университета</h5>

            <p class="main-news-list-item__text">
              Сегодня 22 марта 2023 года в стенах Нижегородского гуманитарно-технического колледжа прошла встреча с
              представител...
            </p>

            <a href="#" class="main-news-list-item__btn">
              Читать далее
            </a>
          </div>
        </li>

        <li class="main-news-list-item">
          <div class="main-news-list-item__inner">
            <div class="main-news-list-item__img">
              <img src="./assets/images/news-2.jpg" alt="main-news">
            </div>

            <span class="main-news-list-item__date">8 марта 2023</span>

            <h5 class="main-news-list-item__title">Поздравляем с Международным женским днем!</h5>

            <p class="main-news-list-item__text">
              Дорогие девушки! Хотим поздравить вас с этим замечательным праздником. Желаем вам, чтобы вы были любимы...
            </p>

            <a href="#" class="main-news-list-item__btn">
              Читать далее
            </a>
          </div>
        </li>

        <li class="main-news-list-item">
          <div class="main-news-list-item__inner">
            <div class="main-news-list-item__img">
              <img src="./assets/images/news-3.jpg" alt="main-news">
            </div>

            <span class="main-news-list-item__date">7 марта 2023</span>

            <h5 class="main-news-list-item__title">Вручение почетных грамот и&nbsp;благодарственных писем
              от&nbsp;Министерства!
            </h5>

            <p class="main-news-list-item__text">
              Поздравляем преподавателя экономики НГТК Ражева Андрея Александровича с&nbsp;получением почетной грамоты
              от
              Минист...
            </p>

            <a href="#" class="main-news-list-item__btn">
              Читать далее
            </a>
          </div>
        </li>

        <li class="main-news-list-item">
          <div class="main-news-list-item__inner">
            <div class="main-news-list-item__img">
              <img src="./assets/images/news-4.jpg" alt="main-news">
            </div>

            <span class="main-news-list-item__date">2 марта 2023</span>

            <h5 class="main-news-list-item__title">Состоялось награждение правозащитников Нижегородской области</h5>

            <p class="main-news-list-item__text">
              Первого марта заседание Комиссии по&nbsp;правам человека, содействию развитию институтов гражданского
              общества...
            </p>

            <a href="#" class="main-news-list-item__btn">
              Читать далее
            </a>
          </div>
        </li>

        <li class="main-news-list-item">
          <div class="main-news-list-item__inner">
            <div class="main-news-list-item__img">
              <img src="./assets/images/news-2.jpg" alt="main-news">
            </div>

            <span class="main-news-list-item__date">8 марта 2023</span>

            <h5 class="main-news-list-item__title">Поздравляем с Международным женским днем!</h5>

            <p class="main-news-list-item__text">
              Дорогие девушки! Хотим поздравить вас с этим замечательным праздником. Желаем вам, чтобы вы были любимы...
            </p>

            <a href="#" class="main-news-list-item__btn">
              Читать далее
            </a>
          </div>
        </li>

        <li class="main-news-list-item">
          <div class="main-news-list-item__inner">
            <div class="main-news-list-item__img">
              <img src="./assets/images/news-3.jpg" alt="main-news">
            </div>

            <span class="main-news-list-item__date">7 марта 2023</span>

            <h5 class="main-news-list-item__title">Вручение почетных грамот и&nbsp;благодарственных писем
              от&nbsp;Министерства!
            </h5>

            <p class="main-news-list-item__text">
              Поздравляем преподавателя экономики НГТК Ражева Андрея Александровича с&nbsp;получением почетной грамоты
              от
              Минист...
            </p>

            <a href="#" class="main-news-list-item__btn">
              Читать далее
            </a>
          </div>
        </li>

        <li class="main-news-list-item">
          <div class="main-news-list-item__inner">
            <div class="main-news-list-item__img">
              <img src="./assets/images/news-4.jpg" alt="main-news">
            </div>

            <span class="main-news-list-item__date">2 марта 2023</span>

            <h5 class="main-news-list-item__title">Состоялось награждение правозащитников Нижегородской области</h5>

            <p class="main-news-list-item__text">
              Первого марта заседание Комиссии по&nbsp;правам человека, содействию развитию институтов гражданского
              общества...
            </p>

            <a href="#" class="main-news-list-item__btn">
              Читать далее
            </a>
          </div>
        </li>

        <li class="main-news-list-item">
          <div class="main-news-list-item__inner">
            <div class="main-news-list-item__img">
              <img src="./assets/images/news-2.jpg" alt="main-news">
            </div>

            <span class="main-news-list-item__date">8 марта 2023</span>

            <h5 class="main-news-list-item__title">Поздравляем с Международным женским днем!</h5>

            <p class="main-news-list-item__text">
              Дорогие девушки! Хотим поздравить вас с этим замечательным праздником. Желаем вам, чтобы вы были любимы...
            </p>

            <a href="#" class="main-news-list-item__btn">
              Читать далее
            </a>
          </div>
        </li>
      </ul>

      <button type="button" class="entrance-form__btn all-news-btn">Загрузить еще</button>
    </div>

  </div>
</section>