<section class="club">
  <div class="container">

    <div class="page-info">
      <div class="page-info-nav">
        <a href="#" class="page-info-nav__link">
          Главная
        </a>
        <a href="#" class="page-info-nav__link">
          Студенческий спортивный клуб “Геракл”
        </a>
      </div>

      <h1 class="page-info__title">
        Студенческий спортивный клуб “Геракл”
      </h1>
    </div>

    <div class="club-info">
      <div class="doc-info">
        <div class="doc-info__content">
          <div class="doc-info-item">
            <p>
              В соотвествии с перечнем поручений Президента Российской Федерации по итогам заседания при Президенте
              Российской Федерации по развитию физической культуры и спорта от 22 ноября 2019 года (пункт 1 подпункту
              «Б», часть 3) с 31 октября 2022 в Нижегородском гуманитарно-техническом колледже создано структурное
              подразделение Студенческий спортивный клуб «Геракл»
            </p>
          </div>
          <div class="doc-info-item">
            <ul>
              <li data-doc-type=".pdf">
                <a href="#">
                  Выписка из реестра лицензий на осуществление образовательной деятельности ЧПОУ «НГТК»
                </a>
              </li>
              <li data-doc-type=".pdf">
                <a href="#">
                  Приказ № 58К от 31.10.2022 О создании Студенческого спортивного клуба
                </a>
              </li>
              <li data-doc-type=".pdf">
                <a href="#">
                  Положение о студенческом спортивном клубе от 31.10.2022
                </a>
              </li>
              <li data-doc-type=".pdf">
                <a href="#">
                  План работы студенческого спортивного клуба «Геракл» на 2022-2023 учебный год
                </a>
              </li>
              <li data-doc-type=".pdf">
                <a href="#">
                  Календарный план физкультурно-оздоровительных и культурно-массовых мероприятий студенческого
                  спортивного клуба «Геракл» на 2022-2023 учебный год
                </a>
              </li>
              <li data-doc-type=".pdf">
                <a href="#">
                  Расписание учебных занятий спортивного студенческого клуба «Геракл» ЧПОУ НГТК на 2022-2023 учебный год
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="club-info-img">
        <a href="./assets/images/club-1.jpg" class="club-info-img__img" data-fancybox>
          <img src="./assets/images/club-1.jpg" alt="club">
        </a>
      </div>
    </div>

    <div class="main-news">
      <h4 class="main-news__title">Другие новости</h4>

      <ul class="main-news-list">
        <li class="main-news-list-item">
          <div class="main-news-list-item__inner">
            <div class="main-news-list-item__img">
              <img src="./assets/images/news-1.jpg" alt="main-news">
            </div>

            <span class="main-news-list-item__date">22 марта 2023</span>

            <h5 class="main-news-list-item__title">Встреча с представителями военного университета</h5>

            <p class="main-news-list-item__text">
              Сегодня 22 марта 2023 года в стенах Нижегородского гуманитарно-технического колледжа прошла встреча с
              представител...
            </p>

            <a href="#" class="main-news-list-item__btn">
              Читать далее
            </a>
          </div>
        </li>

        <li class="main-news-list-item">
          <div class="main-news-list-item__inner">
            <div class="main-news-list-item__img">
              <img src="./assets/images/news-2.jpg" alt="main-news">
            </div>

            <span class="main-news-list-item__date">8 марта 2023</span>

            <h5 class="main-news-list-item__title">Поздравляем с Международным женским днем!</h5>

            <p class="main-news-list-item__text">
              Дорогие девушки! Хотим поздравить вас с этим замечательным праздником. Желаем вам, чтобы вы были любимы...
            </p>

            <a href="#" class="main-news-list-item__btn">
              Читать далее
            </a>
          </div>
        </li>

        <li class="main-news-list-item">
          <div class="main-news-list-item__inner">
            <div class="main-news-list-item__img">
              <img src="./assets/images/news-3.jpg" alt="main-news">
            </div>

            <span class="main-news-list-item__date">7 марта 2023</span>

            <h5 class="main-news-list-item__title">Вручение почетных грамот и&nbsp;благодарственных писем
              от&nbsp;Министерства!
            </h5>

            <p class="main-news-list-item__text">
              Поздравляем преподавателя экономики НГТК Ражева Андрея Александровича с&nbsp;получением почетной грамоты
              от
              Минист...
            </p>

            <a href="#" class="main-news-list-item__btn">
              Читать далее
            </a>
          </div>
        </li>

        <li class="main-news-list-item">
          <div class="main-news-list-item__inner">
            <div class="main-news-list-item__img">
              <img src="./assets/images/news-4.jpg" alt="main-news">
            </div>

            <span class="main-news-list-item__date">2 марта 2023</span>

            <h5 class="main-news-list-item__title">Состоялось награждение правозащитников Нижегородской области</h5>

            <p class="main-news-list-item__text">
              Первого марта заседание Комиссии по&nbsp;правам человека, содействию развитию институтов гражданского
              общества...
            </p>

            <a href="#" class="main-news-list-item__btn">
              Читать далее
            </a>
          </div>
        </li>
      </ul>
    </div>

  </div>
</section>