<section class="contacts">
  <div class="container">

    <div class="page-info">
      <div class="page-info-nav">
        <a href="#" class="page-info-nav__link">
          Главная
        </a>
        <a href="#" class="page-info-nav__link">
          Контакты
        </a>
      </div>

      <h1 class="page-info__title">
        Контакты
      </h1>
    </div>

    <div class="contacts-container">
      <div class="contacts-info">
        <div class="contacts-info-item">
          <h3 class="contacts-info-item__title">Адрес</h3>
          <div class="contacts-info-item__text">
            <p>
              603122, г. Нижний Новгород, ул. Ванеева д. 205
            </p>
          </div>
        </div>
        <div class="contacts-info-item">
          <h3 class="contacts-info-item__title">Телефон приемной комиссии</h3>
          <div class="contacts-info-item__text">
            <a href="tel:+78314163061">+7 (831) 416-30-61</a>
            <a href="tel:+78314177122"> +7 (831) 417-71-22 (факс)</a>
          </div>
        </div>
        <div class="contacts-info-item">
          <h3 class="contacts-info-item__title">Время работы</h3>
          <div class="contacts-info-item__text">
            <p>
              С понедельника по пятницу с 09:00 до 17:30 Перерыв с 13:00 до 13:30
            </p>
          </div>
        </div>
      </div>

      <div class="contacts-map">
        <iframe
          src="https://yandex.ru/map-widget/v1/?um=constructor%3A69b6c6c7db134985ac442e06ae87284c3d3e4dc033b637a7616dae7fce4ea90e&amp;source=constructor"
          width="100%" height="100%" frameborder="0"></iframe>
      </div>
    </div>

  </div>

  <form action="#" class="entrance-form">
    <div class="container">

      <div class="entrance-form-container">
        <div class="entrance-form-info">
          <h3 class="entrance-form__title">Заявка на поступление</h3>

          <p class="entrance-form__text">
            Поступить к нам не сложно — просто оставьте заявку, мы свяжемся с вами и проконсультируем по всем
            интересующим
            вопросам, а также подскажем, что делать дальше
          </p>
        </div>

        <div class="entrance-form-inner">
          <input type="text" class="entrance-form__input" placeholder="Имя">
          <input type="text" class="entrance-form__input" placeholder="Фамилия">
          <input type="text" class="entrance-form__input" placeholder="Телефон">
          <input type="text" class="entrance-form__input" placeholder="E-mail">
          <label class="entrance-form-checkbox" data-checkbox>
            <input type="checkbox">
            <span class="entrance-form-checkbox__icon">
              <svg>
                <use href="#check-icon"></use>
              </svg>
              <svg>
                <use href="#check-icon"></use>
              </svg>
            </span>
            <span class="entrance-form-checkbox__text">
              Согласен на обработку персональных данных, получение рассылок, а
              также с <a href="#">Политикой конфиденциальности</a>
            </span>
          </label>

          <button class="entrance-form__btn">
            Оставить заявку
          </button>
        </div>
      </div>

    </div>
  </form>

</section>