<section class="specialization">
  <div class="container">

    <div class="page-info">
      <div class="page-info-nav">
        <a href="#" class="page-info-nav__link">
          Главная
        </a>
        <a href="#" class="page-info-nav__link">
          Курсы
        </a>
      </div>

      <h1 class="page-info__title">
        Курсы
      </h1>
    </div>

    <div class="doc">
      <div class="doc-nav">
        <a href="#" class="doc-nav__link _active">
          ПОВЫШЕНИЕ КВАЛИФИКАЦИИ ОХРАННИКОВ 4 РАЗРЯДА
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          ПРОФЕССИОНАЛЬНАЯ ПОДГОТОВКА ОХРАННИКОВ 4 РАЗРЯДА
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
      </div>

      <div class="doc-container">
        <div class="doc-info">
          <div class="doc-info__content">
            <div class="doc-inner">
              <h3 class="doc-inner__title">
                ПОВЫШЕНИЕ КВАЛИФИКАЦИИ ОХРАННИКОВ 4 РАЗРЯДА
              </h3>
            </div>

            <div class="doc-info-item">
              <h4>Квалификация</h4>
              <p>
                Охранник 4 разряда
              </p>
            </div>

            <div class="doc-info-item">
              <h4>Код направления подготовки</h4>
              <p>
                -
              </p>
            </div>

            <div class="doc-info-item">
              <p>
                Наше образовательное учреждение на основании лицензии серия 52Л01 № 0002813 от 09.10. 2015 года, рег. №
                963, выданной Министерством образования Нижегородской области, проводит профессиональное обучение и
                повышение квалификации охранников.
              </p>
              <p>
                По окончанию профессиональной подготовки выпускнику выдается свидетельство об обучении.
              </p>
            </div>

            <div class="doc-info-item">
              <ul>
                <li>
                  <a href="#">
                    Календарный учебный график ППК Охранников 4 разряда
                  </a>
                </li>
                <li>
                  <a href="#">
                    Учебный план ППК Охранников 4 разряда
                  </a>
                </li>
                <li>
                  <a href="#">
                    Программа профессионального обучения для работы в качестве частого охранника — «Программа повышения
                    квалификации охранников 4 разряда»
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="specialization-info">
          <div class="specialization-info-item">
            <div class="specialization-info-item__container">
              <h3 class="specialization-info-item__title">Сроки обучения</h3>

              <div class="specialization-info-item__content">
                <p class="specialization-info-item__text">8 ак.ч. (2 дня)</p>
              </div>
            </div>
          </div>
          <div class="specialization-info-item">
            <div class="specialization-info-item__container">
              <h3 class="specialization-info-item__title">Стоимость</h3>

              <div class="specialization-info-item__content">
                <p class="specialization-info-item__text">2000 рублей</p>
              </div>
            </div>
          </div>
          <div class="specialization-info-item">
            <div class="specialization-info-item__container">
              <h3 class="specialization-info-item__title">ФОРМА ОБУЧЕНИЯ</h3>

              <div class="specialization-info-item__content">
                <p class="specialization-info-item__text">Очная</p>
              </div>
            </div>
          </div>
          <div class="specialization-info-item">
            <div class="specialization-info-item__container">
              <h3 class="specialization-info-item__title">ВСТУПИТЕЛЬНЫЕ ЭКЗАМЕНЫ</h3>

              <div class="specialization-info-item__content">
                <p class="specialization-info-item__text">
                  Не требуются
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="doc-plans">
          <div class="doc-plans-head doc-plans-item">
            <div class="doc-plans-head__text doc-plans-item__inner">
              №
            </div>
            <div class="doc-plans-head__text doc-plans-item__inner">
              Наименование учебной дисциплины
            </div>
            <div class="doc-plans-head__text doc-plans-item__inner">
              Теоретических часов
            </div>
            <div class="doc-plans-head__text doc-plans-item__inner">
              Практических часов
            </div>
            <div class="doc-plans-head__text doc-plans-item__inner">
              Всего часов
            </div>
            <div class="doc-plans-head__text doc-plans-item__inner">
              Промежуточная аттестация*
            </div>
          </div>
          <div class="doc-plans-item">
            <div class="doc-plans-item__text doc-plans-item__inner">
              1
            </div>
            <div class="doc-plans-item__text doc-plans-item__inner">
              Правовая подготовка
            </div>
            <div class="doc-plans-item__text doc-plans-item__inner">
              0,5
            </div>
            <div class="doc-plans-item__text doc-plans-item__inner">
              0,5 (0,5)
            </div>
            <div class="doc-plans-item__text doc-plans-item__inner">
              1
            </div>
            <div class="doc-plans-item__text doc-plans-item__inner">
              зачет
            </div>
          </div>
          <div class="doc-plans-item">
            <div class="doc-plans-item__text doc-plans-item__inner">
              2
            </div>
            <div class="doc-plans-item__text doc-plans-item__inner">
              Тактико-специальная подготовка
            </div>
            <div class="doc-plans-item__text doc-plans-item__inner">
              0,5
            </div>
            <div class="doc-plans-item__text doc-plans-item__inner">
              0,5 (0,5)
            </div>
            <div class="doc-plans-item__text doc-plans-item__inner">
              1
            </div>
            <div class="doc-plans-item__text doc-plans-item__inner">
              зачет
            </div>
          </div>
          <div class="doc-plans-item">
            <div class="doc-plans-item__text doc-plans-item__inner">
              3
            </div>
            <div class="doc-plans-item__text doc-plans-item__inner">
              Техническая подготовка
            </div>
            <div class="doc-plans-item__text doc-plans-item__inner">
              0,5
            </div>
            <div class="doc-plans-item__text doc-plans-item__inner">
              0,5 (0,5)
            </div>
            <div class="doc-plans-item__text doc-plans-item__inner">
              1
            </div>
            <div class="doc-plans-item__text doc-plans-item__inner">
              зачет
            </div>
          </div>
          <div class="doc-plans-item">
            <div class="doc-plans-item__text doc-plans-item__inner">
              4
            </div>
            <div class="doc-plans-item__text doc-plans-item__inner">
              Использование специальных средств
            </div>
            <div class="doc-plans-item__text doc-plans-item__inner">
              0,5
            </div>
            <div class="doc-plans-item__text doc-plans-item__inner">
              0,5 (0,5)
            </div>
            <div class="doc-plans-item__text doc-plans-item__inner">
              1
            </div>
            <div class="doc-plans-item__text doc-plans-item__inner">
              зачет
            </div>
          </div>
          <div class="doc-plans-item">
            <div class="doc-plans-item__text doc-plans-item__inner">
              5
            </div>
            <div class="doc-plans-item__text doc-plans-item__inner">
              Оказание первая помощь
            </div>
            <div class="doc-plans-item__text doc-plans-item__inner">
              0,5
            </div>
            <div class="doc-plans-item__text doc-plans-item__inner">
              0,5 (0,5)
            </div>
            <div class="doc-plans-item__text doc-plans-item__inner">
              1
            </div>
            <div class="doc-plans-item__text doc-plans-item__inner">
              зачет
            </div>
          </div>
          <div class="doc-plans-item">
            <div class="doc-plans-item__text doc-plans-item__inner">
              6
            </div>
            <div class="doc-plans-item__text doc-plans-item__inner">
              Противодействие терроризму
            </div>
            <div class="doc-plans-item__text doc-plans-item__inner">
              0,5
            </div>
            <div class="doc-plans-item__text doc-plans-item__inner">
              0,5 (0,5)
            </div>
            <div class="doc-plans-item__text doc-plans-item__inner">
              1
            </div>
            <div class="doc-plans-item__text doc-plans-item__inner">
              зачет
            </div>
          </div>
          <div class="doc-plans-item doc-plans-item_result">
            <div class="doc-plans-item__text doc-plans-item__inner">
              Итоговая аттестация
            </div>
            <div class="doc-plans-item__text doc-plans-item__inner">
              1
            </div>
            <div class="doc-plans-item__text doc-plans-item__inner">
              1
            </div>
            <div class="doc-plans-item__text doc-plans-item__inner">
              2
            </div>
            <div class="doc-plans-item__text doc-plans-item__inner">

            </div>
          </div>
          <div class="doc-plans-item doc-plans-item_result">
            <div class="doc-plans-item__text doc-plans-item__inner">
              Итого
            </div>
            <div class="doc-plans-item__text doc-plans-item__inner">
              4
            </div>
            <div class="doc-plans-item__text doc-plans-item__inner">
              4
            </div>
            <div class="doc-plans-item__text doc-plans-item__inner">
              8
            </div>
            <div class="doc-plans-item__text doc-plans-item__inner">

            </div>
          </div>
          <p class="doc-structural__comment">
            * Время проведения промежуточной аттестации включено в общее время освоения
            дисциплин (указано в скобочках в графах для практических занятий)
          </p>
        </div>

        <div class="doc-info">
          <div class="doc-info__content">
            <div class="doc-info-item">
              <h4>ДОКУМЕНТЫ ДЛЯ ПОСТУПЛЕНИЯ</h4>
              <ul>
                <li>
                  Оригинал или ксерокопия документов, удостоверяющих вашу личность, гражданство;
                </li>
                <li>
                  Справка по форме № 002-О/у «Медицинское заключение об отсутствии медицинских противопоказаний к
                  владению оружием»;
                </li>
                <li>
                  Справка о химико-токсикологическом исследовании о наличии в организме человека наркотических средств,
                  психотропных веществ и их метаболитов
                </li>
                <li>
                  Форма N 003-О/у "Медицинское заключение об отсутствии в организме человека наркотических средств,
                  психотропных веществ и их метаболитов"
                </li>
                <li>
                  Фото 3х4 - 2 шт.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <form action="#" class="entrance-form">
    <div class="container">

      <div class="entrance-form-container">
        <div class="entrance-form-info">
          <h3 class="entrance-form__title">Заявка на поступление</h3>

          <p class="entrance-form__text">
            Поступить к нам не сложно — просто оставьте заявку, мы свяжемся с вами и проконсультируем по всем
            интересующим
            вопросам, а также подскажем, что делать дальше
          </p>
        </div>

        <div class="entrance-form-inner">
          <input type="text" class="entrance-form__input" placeholder="Имя">
          <input type="text" class="entrance-form__input" placeholder="Фамилия">
          <input type="text" class="entrance-form__input" placeholder="Телефон">
          <input type="text" class="entrance-form__input" placeholder="E-mail">
          <label class="entrance-form-checkbox" data-checkbox>
            <input type="checkbox">
            <span class="entrance-form-checkbox__icon">
              <svg>
                <use href="#check-icon"></use>
              </svg>
              <svg>
                <use href="#check-icon"></use>
              </svg>
            </span>
            <span class="entrance-form-checkbox__text">
              Согласен на обработку персональных данных, получение рассылок, а
              также с <a href="#">Политикой конфиденциальности</a>
            </span>
          </label>

          <button class="entrance-form__btn">
            Оставить заявку
          </button>
        </div>
      </div>

    </div>
  </form>

</section>