<section class="entrant">
  <div class="container">

    <div class="page-info">
      <div class="page-info-nav">
        <a href="#" class="page-info-nav__link">
          Главная
        </a>
        <a href="#" class="page-info-nav__link">
          Абитуриентам
        </a>
      </div>

      <h1 class="page-info__title">
        Абитуриентам
      </h1>
    </div>

    <div class="entrant-container">

      <div class="doc-inner">
        <h3 class="doc-inner__title">
          УВАЖАЕМЫЕ АБИТУРИЕНТЫ! <br>
          ПРИЕМ ЗАЯВЛЕНИЙ НА ОБУЧЕНИЕ В 2023 — 2024 УЧЕБНОМ ГОДУ ОСУЩЕСТВЛЯЕТСЯ С 01.06.2023Г.
        </h3>

        <div class="doc-statements">
          <div class="doc-statements__container">
            <div class="doc-statements-head">
              <div class="doc-statements-head__text doc-statements-head__inner">
                Специальности
              </div>
              <div class="doc-statements-head__text">
                <span class="doc-statements-head__text doc-statements-head__inner">Информация о количестве поданных
                  заявлений</span>
                <div class="doc-statements-head__box">
                  <span class="doc-statements-head__text doc-statements-head__inner">9 классов (очн.)</span>
                  <span class="doc-statements-head__text doc-statements-head__inner">9 классов (заочн.)</span>
                  <span class="doc-statements-head__text doc-statements-head__inner">11 классов (заочн.)</span>
                </div>
              </div>
              <div class="doc-statements-head__text">
                <span class="doc-statements-head__text doc-statements-head__inner">Сроки обучения</span>
                <div class="doc-statements-head__box">
                  <span class="doc-statements-head__text doc-statements-head__inner">9 классов (очн.)</span>
                  <span class="doc-statements-head__text doc-statements-head__inner">9 классов (заочн.)</span>
                  <span class="doc-statements-head__text doc-statements-head__inner">11 классов (заочн.)</span>
                </div>
              </div>
            </div>

            <div class="doc-statements-item">
              <div class="doc-statements-item__text doc-statements-item__inner">
                21.02.19 Землеустройство
              </div>
              <div class="doc-statements-item__text doc-statements-item__inner">
                -
              </div>
              <div class="doc-statements-item__text doc-statements-item__inner">
                0 / 100
              </div>
              <div class="doc-statements-item__text doc-statements-item__inner">
                0 / 100
              </div>
              <div class="doc-statements-item__text doc-statements-item__inner">
                -
              </div>
              <div class="doc-statements-item__text doc-statements-item__inner">
                4 года10 месяцев
              </div>
              <div class="doc-statements-item__text doc-statements-item__inner">
                3 года10 месяцев
              </div>
            </div>
            <div class="doc-statements-item">
              <div class="doc-statements-item__text doc-statements-item__inner">
                38.02.01 Экономика и бухгалтерский учет (по отраслям)
              </div>
              <div class="doc-statements-item__text doc-statements-item__inner">
                0 / 25
              </div>
              <div class="doc-statements-item__text doc-statements-item__inner">
                0 / 150
              </div>
              <div class="doc-statements-item__text doc-statements-item__inner">
                0 / 150
              </div>
              <div class="doc-statements-item__text doc-statements-item__inner">
                2 года10 месяцев
              </div>
              <div class="doc-statements-item__text doc-statements-item__inner">
                3 года10 месяцев
              </div>
              <div class="doc-statements-item__text doc-statements-item__inner">
                2 года10 месяцев
              </div>
            </div>
            <div class="doc-statements-item">
              <div class="doc-statements-item__text doc-statements-item__inner">
                38.02.03 Операционная деятельность в логистике
              </div>
              <div class="doc-statements-item__text doc-statements-item__inner">
                -
              </div>
              <div class="doc-statements-item__text doc-statements-item__inner">
                0 / 125
              </div>
              <div class="doc-statements-item__text doc-statements-item__inner">
                0 / 125
              </div>
              <div class="doc-statements-item__text doc-statements-item__inner">
                -
              </div>
              <div class="doc-statements-item__text doc-statements-item__inner">
                3 года10 месяцев
              </div>
              <div class="doc-statements-item__text doc-statements-item__inner">
                2 года10 месяцев
              </div>
            </div>
            <div class="doc-statements-item">
              <div class="doc-statements-item__text doc-statements-item__inner">
                40.02.01 Право и организация социального обеспечения
              </div>
              <div class="doc-statements-item__text doc-statements-item__inner">
                0 / 25
              </div>
              <div class="doc-statements-item__text doc-statements-item__inner">
                0 / 200
              </div>
              <div class="doc-statements-item__text doc-statements-item__inner">
                0 / 300
              </div>
              <div class="doc-statements-item__text doc-statements-item__inner">
                2 года10 месяцев
              </div>
              <div class="doc-statements-item__text doc-statements-item__inner">
                3 года10 месяцев
              </div>
              <div class="doc-statements-item__text doc-statements-item__inner">
                2 года10 месяцев
              </div>
            </div>
            <div class="doc-statements-item">
              <div class="doc-statements-item__text doc-statements-item__inner">
                40.02.02 Правоохранительная деятельность
              </div>
              <div class="doc-statements-item__text doc-statements-item__inner">
                -
              </div>
              <div class="doc-statements-item__text doc-statements-item__inner">
                0 / 200
              </div>
              <div class="doc-statements-item__text doc-statements-item__inner">
                0 / 125
              </div>
              <div class="doc-statements-item__text doc-statements-item__inner">
                -
              </div>
              <div class="doc-statements-item__text doc-statements-item__inner">
                4 года10 месяцев
              </div>
              <div class="doc-statements-item__text doc-statements-item__inner">
                3 года10 месяцев
              </div>
            </div>
            <div class="doc-statements-item">
              <div class="doc-statements-item__text doc-statements-item__inner">
                44.02.01 Дошкольное образование
              </div>
              <div class="doc-statements-item__text doc-statements-item__inner">
                -
              </div>
              <div class="doc-statements-item__text doc-statements-item__inner">
                0 / 125
              </div>
              <div class="doc-statements-item__text doc-statements-item__inner">
                0 / 75
              </div>
              <div class="doc-statements-item__text doc-statements-item__inner">
                -
              </div>
              <div class="doc-statements-item__text doc-statements-item__inner">
                4 года10 месяцев
              </div>
              <div class="doc-statements-item__text doc-statements-item__inner">
                3 года10 месяцев
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="doc-info">
        <div class="doc-info__content">
          <h4 class="doc-inner__title">
            Документы Приемной кампании 2023/2024 учебного года
          </h4>

          <div class="doc-info-item">
            <ul>
              <li data-doc-type=".pdf">
                <a href="#">
                  Правила приема на 2023 – 2024 учебный год в Частное профессиональное образовательное учреждение
                  «Нижегородский гуманитарно-технический колледж» (ЧПОУ НГТК)
                </a>
              </li>
              <li data-doc-type=".pdf">
                <a href="#">
                  План приема на места по договорам об оказании платных образовательных услуг по специальностям среднего
                  профессионального образования для обучения по имеющим государственную аккредитацию образовательным
                  программам подготовки специалистов среднего звена на 2023/2024 учебный год в Частное профессиональное
                  образовательное учреждение Нижегородский гуманитарно-технический колледж (ЧПОУ НГТК)
                </a>
              </li>
              <li data-doc-type=".pdf">
                <a href="#">
                  Условия приема на обучение по договорам об оказании платных образовательных услуг в 2023 – 2024
                  учебном году
                </a>
              </li>
              <li data-doc-type=".pdf">
                <a href="#">
                  Как подать заявление на поступление в электронном виде, онлайн на обучение в 2023 -2024 учебном году
                  ред
                </a>
              </li>
              <li data-doc-type=".pdf">
                <a href="#">
                  Бланк заявления
                </a>
              </li>
              <li data-doc-type=".pdf">
                <a href="#">
                  Согласие на обработку персональных данных
                </a>
              </li>
              <li data-doc-type=".pdf">
                <a href="#">
                  Образец Договора об образовании на обучение по образовательной программе среднего профессионального
                  образования
                </a>
              </li>
              <li data-doc-type=".pdf">
                <a href="#">
                  Положение о Приемной комиссии
                </a>
              </li>
              <li data-doc-type=".pdf">
                <a href="#">
                  Приказ №52 от 21.03.2023 «О стоимости обучения по образовательным программам среднего
                  профессионального образования по договору оказания платных образовательных услуг для обучающихся
                  первого года в 2023/2024 учебном году»
                </a>
              </li>
              <li data-doc-type=".pdf">
                <a href="#">
                  Положение о комиссии для проведения вступительных испытаний при приёме на специальность 44.02.01
                  «Дошкольное образование» в ЧПОУ НГТК
                </a>
              </li>
              <li data-doc-type=".pdf">
                <a href="#">
                  Программа вступительных испытаний для специальности 40.02.02 Правоохранительная деятельность
                </a>
              </li>
              <li data-doc-type=".pdf">
                <a href="#">
                  Программа вступительных испытаний для специальности 44.02.01 Дошкольное образование
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="doc-info">
        <div class="doc-info__content">
          <div class="doc-info-item">
            <h4>
              Сроки приема заявлений на обучение по образовательным программам подготовки по специальностям среднего
              профессионального образования по договорам об образовании в ЧПОУ НГТК
            </h4>
            <p>
              Прием в ЧПОУ НГТК по образовательным программам на 2023/2024 учебный год проводится на первый курс по
              личному заявлению граждан.
            </p>
            <p>
              Прием документов начинается с <strong>01 июня 2023г</strong>.
            </p>
            <p>
              Прием заявлений в ЧПОУ НГТК на очную форму обучения по образовательным программам по специальностям
              38.02.01
              Экономика и бухгалтерский учет (по отраслям), 40.02.01 Право и организация социального обеспечения
              осуществляется до 15 августа, а при наличии свободных мест в образовательной организации прием документов
              продлевается до 25 ноября текущего года.
            </p>
            <p>
              Сроки приема документов, проведения вступительных испытаний и зачисления на обучение в ЧПОУ НГТК на
              2023/2024 уч.г. по программам среднего профессионального образования:
            </p>
          </div>

          <div class="doc-info-item">
            <div class="doc-deadlines doc-table">
              <div class="doc-table__container">
                <div class="doc-deadlines-head doc-deadlines-item">
                  <div class="doc-deadlines-head__text doc-deadlines-item__inner">
                    Этапы зачисления/ Сроки приема
                  </div>
                  <div class="doc-deadlines-head__text doc-deadlines-item__inner">
                    1 этап(сентябрь 2023)Очная и заочная формы обучения
                  </div>
                  <div class="doc-deadlines-head__text doc-deadlines-item__inner">
                    2 этап(декабрь 2023)Только заочная форма обучения
                  </div>
                </div>

                <div class="doc-deadlines-item">
                  <div class="doc-deadlines-item__text doc-deadlines-item__inner">
                    Срок начала приема документов
                  </div>
                  <div class="doc-deadlines-item__text doc-deadlines-item__inner">
                    01.06.2023
                  </div>
                  <div class="doc-deadlines-item__text doc-deadlines-item__inner">
                    01.09.2023
                  </div>
                </div>
                <div class="doc-deadlines-item">
                  <div class="doc-deadlines-item__text doc-deadlines-item__inner">
                    <p>
                      Срок завершения приема документов, необходимых для поступления, от лиц, поступающих на
                      <strong>очную
                        форму обучения</strong>
                    </p>
                  </div>
                  <div class="doc-deadlines-item__text doc-deadlines-item__inner">
                    15.08.2023
                  </div>
                  <div class="doc-deadlines-item__text doc-deadlines-item__inner">
                    -
                  </div>
                </div>
                <div class="doc-deadlines-item">
                  <div class="doc-deadlines-item__text doc-deadlines-item__inner">
                    <p>
                      Срок представления оригинала документа об образовании и (или) документа об образовании и о
                      квалификации от лиц,поступающих на <strong>очную форму обучения</strong>
                    </p>
                  </div>
                  <div class="doc-deadlines-item__text doc-deadlines-item__inner">
                    15.08.2023 (не позднее 13.00)
                  </div>
                  <div class="doc-deadlines-item__text doc-deadlines-item__inner">
                    -
                  </div>
                </div>
                <div class="doc-deadlines-item">
                  <div class="doc-deadlines-item__text doc-deadlines-item__inner">
                    <p>
                      Срок завершения приема документов, необходимых для поступления, от лиц, поступающих на
                      <strong>заочную форму
                        обучения</strong>
                    </p>
                  </div>
                  <div class="doc-deadlines-item__text doc-deadlines-item__inner">
                    25.08.2023
                  </div>
                  <div class="doc-deadlines-item__text doc-deadlines-item__inner">
                    24.11.2023
                  </div>
                </div>
                <div class="doc-deadlines-item">
                  <div class="doc-deadlines-item__text doc-deadlines-item__inner">
                    <p>
                      Срок представления оригинала документа об образовании и (или) документа об образовании и о
                      квалификации от лиц, поступающих на <strong>заочную форму обучения</strong>
                    </p>
                  </div>
                  <div class="doc-deadlines-item__text doc-deadlines-item__inner">
                    25.08.2023
                  </div>
                  <div class="doc-deadlines-item__text doc-deadlines-item__inner">
                    24.11.2023
                  </div>
                </div>
                <div class="doc-deadlines-item">
                  <div class="doc-deadlines-item__text doc-deadlines-item__inner">
                    Дата издания приказа о зачислении
                  </div>
                  <div class="doc-deadlines-item__text doc-deadlines-item__inner">
                    До 31.08.2023
                  </div>
                  <div class="doc-deadlines-item__text doc-deadlines-item__inner">
                    До 30.11.2023
                  </div>
                </div>
                <div class="doc-deadlines-item">
                  <div class="doc-deadlines-item__text doc-deadlines-item__inner">
                    Дата начала обучения
                  </div>
                  <div class="doc-deadlines-item__text doc-deadlines-item__inner">
                    01.09.2023
                  </div>
                  <div class="doc-deadlines-item__text doc-deadlines-item__inner">
                    01.12.2023
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="doc-info">
        <div class="doc-info__content">
          <div class="doc-info-item doc-info-item-drop">
            <button type="button" class="doc-info-item-drop-btn">
              Приказы о зачислении на очную форму в ЧПОУ НГТК в 2022/2023 учебном году
              <span class="doc-info-item-drop-btn__icon"></span>
            </button>
            <div class="doc-info-item-drop__content">
              <p>
                На базе основного общего образования
              </p>
              <ul>
                <li data-doc-type=".pdf">
                  <a href="#">
                    38.02.01 Экономика и бухгалтерский учет (по отраслям) от 26.08.202240.02.01
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    40.02.01 Право и организация социального обеспечения от 26.08.2022
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    38.02.01 Экономика и бухгалтерский учет (по отраслям) от 30.08.2022
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    40.02.01 Право и организация социального обеспечения от 30.08.2022
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    38.02.01 Экономика и бухгалтерский учет (по отраслям) от 31.08.2022
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    40.02.01 Право и организация социального обеспечения от 31.08.2022
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    38.02.01 Экономика и бухгалтерский учет (по отраслям) от 19.09.2022
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Приказ ЧПОУ НГТК № 481-у от 16.08.2022г. О продлении сроков приема документов и зачислении
                    поступающих по образовательным программам среднего профессионального образования
                    (на очную форму обучения)
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="doc-info-item doc-info-item-drop">
            <button type="button" class="doc-info-item-drop-btn">
              Приказы о зачислении на заочную форму в ЧПОУ НГТК в 2022/2023 учебном году
              <span class="doc-info-item-drop-btn__icon"></span>
            </button>
            <div class="doc-info-item-drop__content">
              <p>
                На базе основного общего образования
              </p>
              <ul>
                <li data-doc-type=".pdf">
                  <a href="#">
                    38.02.01 Экономика и бухгалтерский учет (по отраслям) от 26.08.202240.02.01
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    40.02.01 Право и организация социального обеспечения от 26.08.2022
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    38.02.01 Экономика и бухгалтерский учет (по отраслям) от 30.08.2022
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    40.02.01 Право и организация социального обеспечения от 30.08.2022
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    38.02.01 Экономика и бухгалтерский учет (по отраслям) от 31.08.2022
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    40.02.01 Право и организация социального обеспечения от 31.08.2022
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    38.02.01 Экономика и бухгалтерский учет (по отраслям) от 19.09.2022
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Приказ ЧПОУ НГТК № 481-у от 16.08.2022г. О продлении сроков приема документов и зачислении
                    поступающих по образовательным программам среднего профессионального образования
                    (на очную форму обучения)
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="doc-info-item doc-info-item-drop">
            <button type="button" class="doc-info-item-drop-btn">
              Документы Приемной кампании 2022/2023 учебного года
              <span class="doc-info-item-drop-btn__icon"></span>
            </button>
            <div class="doc-info-item-drop__content">
              <p>
                На базе основного общего образования
              </p>
              <ul>
                <li data-doc-type=".pdf">
                  <a href="#">
                    38.02.01 Экономика и бухгалтерский учет (по отраслям) от 26.08.202240.02.01
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    40.02.01 Право и организация социального обеспечения от 26.08.2022
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    38.02.01 Экономика и бухгалтерский учет (по отраслям) от 30.08.2022
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    40.02.01 Право и организация социального обеспечения от 30.08.2022
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    38.02.01 Экономика и бухгалтерский учет (по отраслям) от 31.08.2022
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    40.02.01 Право и организация социального обеспечения от 31.08.2022
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    38.02.01 Экономика и бухгалтерский учет (по отраслям) от 19.09.2022
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Приказ ЧПОУ НГТК № 481-у от 16.08.2022г. О продлении сроков приема документов и зачислении
                    поступающих по образовательным программам среднего профессионального образования
                    (на очную форму обучения)
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="doc-info-item doc-info-item-drop">
            <button type="button" class="doc-info-item-drop-btn">
              Приказы о зачислении в ЧПОУ НГТК в 2021/2022 учебном году
              <span class="doc-info-item-drop-btn__icon"></span>
            </button>
            <div class="doc-info-item-drop__content">
              <p>
                На базе основного общего образования
              </p>
              <ul>
                <li data-doc-type=".pdf">
                  <a href="#">
                    38.02.01 Экономика и бухгалтерский учет (по отраслям) от 26.08.202240.02.01
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    40.02.01 Право и организация социального обеспечения от 26.08.2022
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    38.02.01 Экономика и бухгалтерский учет (по отраслям) от 30.08.2022
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    40.02.01 Право и организация социального обеспечения от 30.08.2022
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    38.02.01 Экономика и бухгалтерский учет (по отраслям) от 31.08.2022
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    40.02.01 Право и организация социального обеспечения от 31.08.2022
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    38.02.01 Экономика и бухгалтерский учет (по отраслям) от 19.09.2022
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Приказ ЧПОУ НГТК № 481-у от 16.08.2022г. О продлении сроков приема документов и зачислении
                    поступающих по образовательным программам среднего профессионального образования
                    (на очную форму обучения)
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="doc-info-item doc-info-item-drop">
            <button type="button" class="doc-info-item-drop-btn">
              Документы Приемной кампании 2021/2022 учебного года
              <span class="doc-info-item-drop-btn__icon"></span>
            </button>
            <div class="doc-info-item-drop__content">
              <p>
                На базе основного общего образования
              </p>
              <ul>
                <li data-doc-type=".pdf">
                  <a href="#">
                    38.02.01 Экономика и бухгалтерский учет (по отраслям) от 26.08.202240.02.01
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    40.02.01 Право и организация социального обеспечения от 26.08.2022
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    38.02.01 Экономика и бухгалтерский учет (по отраслям) от 30.08.2022
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    40.02.01 Право и организация социального обеспечения от 30.08.2022
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    38.02.01 Экономика и бухгалтерский учет (по отраслям) от 31.08.2022
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    40.02.01 Право и организация социального обеспечения от 31.08.2022
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    38.02.01 Экономика и бухгалтерский учет (по отраслям) от 19.09.2022
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Приказ ЧПОУ НГТК № 481-у от 16.08.2022г. О продлении сроков приема документов и зачислении
                    поступающих по образовательным программам среднего профессионального образования
                    (на очную форму обучения)
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>