<form action="#" class="entrance-form">
  <div class="container">

    <div class="entrance-form-container">
      <div class="entrance-form-info">
        <h3 class="entrance-form__title">Заявка на поступление</h3>

        <p class="entrance-form__text">
          Поступить к нам не сложно — просто оставьте заявку, мы свяжемся с вами и проконсультируем по всем интересующим
          вопросам, а также подскажем, что делать дальше
        </p>
      </div>

      <div class="entrance-form-inner">
        <input type="text" class="entrance-form__input" placeholder="Имя">
        <input type="text" class="entrance-form__input" placeholder="Фамилия">
        <input type="text" class="entrance-form__input" placeholder="Телефон">
        <input type="text" class="entrance-form__input" placeholder="E-mail">
        <label class="entrance-form-checkbox" data-checkbox>
          <input type="checkbox">
          <span class="entrance-form-checkbox__icon">
            <svg>
              <use href="#check-icon"></use>
            </svg>
            <svg>
              <use href="#check-icon"></use>
            </svg>
          </span>
          <span class="entrance-form-checkbox__text">
            Согласен на обработку персональных данных, получение рассылок, а
            также с <a href="#">Политикой конфиденциальности</a>
          </span>
        </label>

        <button class="entrance-form__btn">
          Оставить заявку
        </button>
      </div>
    </div>

  </div>
</form>