<header class="header">
  <div class="container header-container">

    <a href="#" class="header-logo">
      <img src="./assets/images/logo-color.svg" alt="logo">
    </a>

    <div class="header-box">
      <p class="header-box__title">
        Свидетельство:
        <span class="header-box__info">№ Л035-01281-52/00212306 от 09.10.2015</span>
      </p>

      <p class="header-box__title">
        Лицензия:
        <span class="header-box__info">52А01 № 0002281 РЕГ. № 2656 от 11.05.2016</span>
      </p>
    </div>

    <div class="header-box">
      <p class="header-box__title">Приемная комиссия:</p>

      <div class="header-box__links">
        <a href="tel:+78314163061" class="header-box__link">+7 (831) 416-30-61</a>

        <a href="tel:+78314177122" class="header-box__link">+7 (831) 417-71-22</a>
      </div>
    </div>

    <div class="header-box">
      <a href="#" class="header-box__info">Департамент образования и науки </a>
    </div>

    <div class="header-controls">
      <button type="button" class="header-controls__btn">
        <svg>
          <use href="#search-icon"></use>
        </svg>
      </button>

      <button type="button" class="header-controls__btn">
        <svg>
          <use href="#eye-icon"></use>
        </svg>
      </button>

      <button type="button" class="header-controls__btn header-controls__btn_login">
        <svg>
          <use href="#sign-in-icon"></use>
        </svg>

        Личная студия
      </button>

      <button type="button" class="header-controls__btn header-controls__btn_menu">
        <svg>
          <use href="#menu-burger-icon"></use>
        </svg>

        <svg>
          <use href="#menu-close-icon"></use>
        </svg>
      </button>
    </div>

  </div>

  <div class="header-menu">
    <nav class="header-nav">
      <div class="container header-nav-container">
        <a href="#" class="header-nav__link">
          Сведения об образовательной организации
        </a>
        <div class="header-nav-dropdown">
          <a href="#" class="header-nav-dropdown__btn header-nav__link">
            Специальности
            <svg>
              <use href="#arrow-icon"></use>
            </svg>
          </a>

          <div class="header-nav-dropdown__content">
            <a href="#" class="header-nav__link">Прикладная информатика (по отраслям)</a>
            <a href="#" class="header-nav__link">Экономика и бухгалтерский учет (по отраслям)</a>
            <a href="#" class="header-nav__link">Операционная деятельность в логистике</a>
            <a href="#" class="header-nav__link">землеустройство</a>
            <a href="#" class="header-nav__link">геология и разведка нефтяных и газовых месторождений</a>
            <a href="#" class="header-nav__link">право и организация социального обеспечения</a>
            <a href="#" class="header-nav__link">правоохранительная деятельность</a>
            <a href="#" class="header-nav__link">техническое обслуживание и ремонт автомобильного транспорта</a>
            <a href="#" class="header-nav__link">дошкольное образование</a>
          </div>
        </div>
        <a href="#" class="header-nav__link">
          Абитуриентам
        </a>
        <a href="#" class="header-nav__link">
          ССК
        </a>
        <div class="header-nav-dropdown">
          <a href="#" class="header-nav-dropdown__btn header-nav__link">
            Курсы
            <svg>
              <use href="#arrow-icon"></use>
            </svg>
          </a>
          <div class="header-nav-dropdown__content">
            <a href="#" class="header-nav__link">Повышение квалификации охранников 4 разряда</a>
            <a href="#" class="header-nav__link">Профессиональная подготовка охранников 4 разряда</a>
          </div>
        </div>
        <a href="#" class="header-nav__link">
          Новости
        </a>
        <a href="#" class="header-nav__link">
          Контакты
        </a>
      </div>
    </nav>

    <div class="header-menu-nav">

    </div>
  </div>
</header>