<section class="information">
  <div class="container">

    <div class="page-info">
      <div class="page-info-nav">
        <a href="#" class="page-info-nav__link">
          Главная
        </a>
        <a href="#" class="page-info-nav__link">
          Сведения об образовательной организации
        </a>
      </div>

      <h1 class="page-info__title">
        Сведения об образовательной организации
      </h1>
    </div>

    <div class="doc">
      <div class="doc-nav">
        <a href="#" class="doc-nav__link">
          Основные сведения
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Структура и органы управления образовательной организацией
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Документы
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Образование
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          образовательные стандарты и требования
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Руководство. Педагогический (научно-педагогический) состав
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Материально-техническое обеспечение и оснащенность образовательного процесса
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Стипендии и МЕРЫ ПОДДЕРЖКИ ОБУЧАЮЩИХСЯ
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          платные образовательные услуги
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link  _active">
          Финансово-хозяйственная деятельность
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          вакантные места для приема (перевода) обучающихся
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Доступная среда
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          международное сотрудничество
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
      </div>

      <div class="doc-container">
        <div class="doc-inner">
          <h4 class="doc-inner__title">Объем образовательной деятельности, финансовое обеспечение которой осуществляется
          </h4>

          <div class="doc-finance doc-table">
            <div class="doc-table__container">
              <div class="doc-finance-head doc-finance-item">
                <div class="doc-finance-head__text doc-finance-item__inner">
                  за счёт бюджетных ассигнований федерального бюджета (тыс. руб.)
                </div>
                <div class="doc-finance-head__text doc-finance-item__inner">
                  за счёт бюджетов субъектов Российской Федерации (тыс. руб.)
                </div>
                <div class="doc-finance-head__text doc-finance-item__inner">
                  за счёт местных бюджетов (тыс. руб.)
                </div>
                <div class="doc-finance-head__text doc-finance-item__inner">
                  по договорам об образовании за счет средств физических и (или) юридических лиц (тыс. руб.)
                </div>
              </div>

              <div class="doc-finance-item">
                <div class="doc-finance-item__text doc-finance-item__inner">
                  0
                </div>
                <div class="doc-finance-item__text doc-finance-item__inner">
                  0
                </div>
                <div class="doc-finance-item__text doc-finance-item__inner">
                  0
                </div>
                <div class="doc-finance-item__text doc-finance-item__inner">
                  140687,7
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="doc-info">
          <div class="doc-info__content">
            <div class="doc-info-item">
              <ul>
                <li data-doc-type=".pdf">
                  <a href="#">
                    План финансово-хозяйственной деятельности ЧПОУ НГТК на 2020-2022 г.
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    План финансово-хозяйственной деятельности ЧПОУ НГТК на 2018-2019 г.
                  </a>
                </li>
              </ul>
            </div>
            <div class="doc-info-item">
              <ul>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Бухгалтерская (финансовая) отчетность ЧПОУ НГТК 2021г.
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Бухгалтерская (финансовая) отчетность ЧПОУ НГТК 2020г.
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Бухгалтерская (финансовая) отчетность ЧПОУ НГТК 2019г.
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Бухгалтерская (финансовая) отчетность ЧПОУ НГТК 2018г.
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Бухгалтерская (финансовая) отчетность ЧПОУ НГТК 2017г.
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Бухгалтерская (финансовая) отчетность ЧПОУ НГТК 2016г.
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>