<section class="information">
  <div class="container">

    <div class="page-info">
      <div class="page-info-nav">
        <a href="#" class="page-info-nav__link">
          Главная
        </a>
        <a href="#" class="page-info-nav__link">
          Сведения об образовательной организации
        </a>
      </div>

      <h1 class="page-info__title">
        Сведения об образовательной организации
      </h1>
    </div>

    <div class="doc">
      <div class="doc-nav">
        <a href="#" class="doc-nav__link">
          Основные сведения
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Структура и органы управления образовательной организацией
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Документы
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link _active">
          Образование
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          образовательные стандарты и требования
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Руководство. Педагогический (научно-педагогический) состав
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Материально-техническое обеспечение и оснащенность образовательного процесса
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Стипендии и МЕРЫ ПОДДЕРЖКИ ОБУЧАЮЩИХСЯ
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          платные образовательные услуги
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Финансово-хозяйственная деятельность
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          вакантные места для приема (перевода) обучающихся
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Доступная среда
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          международное сотрудничество
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
      </div>

      <div class="doc-container">
        <div class="doc-info">
          <div class="doc-info__content">
            <div class="doc-info-item">
              <h4>Выписки</h4>
              <ul>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Выписка из реестра лицензий на осуществление образовательной деятельности ЧПОУ «НГТК»
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Выписка из реестра организаций, осуществляющих образовательную деятельность по имеющим
                    государственную аккредитацию образовательным программам ЧПОУ «НГТК»
                  </a>
                </li>
              </ul>
            </div>
            <div class="doc-info-item doc-info-item-drop">
              <button type="button" class="doc-info-item-drop-btn">
                Информация об использовании при реализации образовательных программ электронного обучения
                и дистанционных образовательных технологий
                <span class="doc-info-item-drop-btn__icon"></span>
              </button>
              <div class="doc-info-item-drop__content">
                <p>
                  В соответствии с Федеральным законом от 29.12.2012 N 273-ФЗ (ред. от 02.07.2021) «Об образовании в
                  Российской Федерации» и Приказом Министерства образования и науки РФ от 23 августа 2017 г. N 816 «Об
                  утверждении Порядка применения организациями, осуществляющими образовательную деятельность,
                  электронного обучения, дистанционных образовательных технологий при реализации образовательных
                  программ» при реализации образовательных программ подготовки специалистов среднего звена в
                  соответствии с рабочими программами по дисциплинам в ЧПОУ НГТК используются элементы электронного
                  обучения и дистанционных образовательных технологий.
                </p>
                <p>
                  Под электронным обучением понимается организация образовательной деятельности с применением
                  содержащейся в базах данных и используемой при реализации образовательных программ информации и
                  обеспечивающих ее обработку информационных технологий, технических средств, а также
                  информационно-телекоммуникационных сетей, обеспечивающих передачу по линиям связи указанной
                  информации, взаимодействие обучающихся и педагогических работников.
                </p>
                <p>
                  Под дистанционными образовательными технологиями понимаются образовательные технологии, реализуемые в
                  основном с применением информационно-телекоммуникационных сетей при опосредованном (на расстоянии)
                  взаимодействии обучающихся и педагогических работников.При реализации образовательных программ с
                  применением электронного обучения, дистанционных образовательных технологий ЧПОУ НГТК, обеспечивает
                  защиту сведений, составляющих ту или иную охраняемую законом тайну.
                </p>
                <p>
                  Главными целями применения дистанционных образовательных технологий как важной составляющей в системе
                  беспрерывного образования являются:— повышение качества образования обучающихся в соответствии с их
                  интересами, способностями и потребностями;— предоставление обучающимся возможности освоения
                  образовательных программ, непосредственно по месту жительства обучающегося или его временного
                  пребывания (нахождения).
                </p>
                <p>
                  В обучении с применением дистанционных образовательных технологий используются следующие
                  организационные формы учебной деятельности: лекция, консультация, практическое занятие, лабораторная
                  работа, контрольная работа, самостоятельная работа, Самостоятельная работа обучающихся может включать
                  следующие организационные формы (элементы) электронного и дистанционного обучения: работа с
                  электронным учебником; просмотр видео-лекций (слайд-лекций); компьютерное тестирование.
                </p>
                <p>
                  В период длительной болезни или отсутствия в колледже по уважительной причине ученик имеет возможность
                  получать консультации преподавателя по соответствующей дисциплине через электронные системы, используя
                  для этого канал выхода в Интернет.
                </p>
              </div>
            </div>
            <div class="doc-info-item doc-info-item-drop">
              <button type="button" class="doc-info-item-drop-btn">
                Информация о численности обучающихся по договорам об образовании за счет средств физических и (или)
                юридических лиц на 01 октября 2022г.
                <span class="doc-info-item-drop-btn__icon"></span>
              </button>
              <div class="doc-info-item-drop__content">
                <div class="doc-table doc-table_2">
                  <table class="doc-table__inner">
                    <thead>
                      <tr>
                        <th>
                          Код специальности
                        </th>
                        <th>
                          Наименование спецальности
                        </th>
                        <th>
                          Очная форма обучения
                          <table>
                            <tr>
                              <th>
                                На базе 9 классов
                              </th>
                              <th>
                                На базе 11 классов
                              </th>
                            </tr>
                          </table>
                        </th>
                        <th>
                          Заочная форма обучения
                          <table>
                            <tr>
                              <th>
                                На базе 9 классов
                              </th>
                              <th>
                                На базе 11 классов
                              </th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          09.02.05
                        </td>
                        <td>
                          Прикладная информатика (по отраслям)
                        </td>
                        <td>
                          <table>
                            <tr>
                              <td>
                                50
                              </td>
                              <td>
                                7
                              </td>
                            </tr>
                          </table>
                        </td>
                        <td>
                          <table>
                            <tr>
                              <td>
                                78
                              </td>
                              <td>
                                69
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          21.02.04
                        </td>
                        <td>
                          Землеустройство
                        </td>
                        <td>
                          <table>
                            <tr>
                              <td>
                                6
                              </td>
                              <td>
                                0
                              </td>
                            </tr>
                          </table>
                        </td>
                        <td>
                          <table>
                            <tr>
                              <td>
                                39
                              </td>
                              <td>
                                23
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          21.02.05
                        </td>
                        <td>
                          Земельно-имущественные отношения
                        </td>
                        <td>
                          <table>
                            <tr>
                              <td>
                                26
                              </td>
                              <td>
                                1
                              </td>
                            </tr>
                          </table>
                        </td>
                        <td>
                          <table>
                            <tr>
                              <td>
                                135
                              </td>
                              <td>
                                92
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="doc-info-item doc-info-item-drop">
              <button type="button" class="doc-info-item-drop-btn">
                Распределение численности студентов, приема и выпуска по гражданству (на 01 октября 2022г)
                <span class="doc-info-item-drop-btn__icon"></span>
              </button>
              <div class="doc-info-item-drop__content">
                <p>
                  Под дистанционными образовательными технологиями понимаются образовательные технологии, реализуемые в
                  основном с применением информационно-телекоммуникационных сетей при опосредованном (на расстоянии)
                  взаимодействии обучающихся и педагогических работников.При реализации образовательных программ с
                  применением электронного обучения, дистанционных образовательных технологий ЧПОУ НГТК, обеспечивает
                  защиту сведений, составляющих ту или иную охраняемую законом тайну.
                </p>
                <p>
                  Главными целями применения дистанционных образовательных технологий как важной составляющей в системе
                  беспрерывного образования являются:— повышение качества образования обучающихся в соответствии с их
                  интересами, способностями и потребностями;— предоставление обучающимся возможности освоения
                  образовательных программ, непосредственно по месту жительства обучающегося или его временного
                  пребывания (нахождения).
                </p>
                <p>
                  В обучении с применением дистанционных образовательных технологий используются следующие
                  организационные формы учебной деятельности: лекция, консультация, практическое занятие, лабораторная
                  работа, контрольная работа, самостоятельная работа, Самостоятельная работа обучающихся может включать
                  следующие организационные формы (элементы) электронного и дистанционного обучения: работа с
                  электронным учебником; просмотр видео-лекций (слайд-лекций); компьютерное тестирование.
                </p>
                <p>
                  В период длительной болезни или отсутствия в колледже по уважительной причине ученик имеет возможность
                  получать консультации преподавателя по соответствующей дисциплине через электронные системы, используя
                  для этого канал выхода в Интернет.
                </p>
              </div>
            </div>
            <div class="doc-info-item doc-info-item-drop">
              <button type="button" class="doc-info-item-drop-btn">
                Результаты перевода, восстановления, отчисления обучающихся с 01 октября 2021 по 31 сентября 2022 г.
                <span class="doc-info-item-drop-btn__icon"></span>
              </button>
              <div class="doc-info-item-drop__content">
                <p>
                  В соответствии с Федеральным законом от 29.12.2012 N 273-ФЗ (ред. от 02.07.2021) «Об образовании в
                  Российской Федерации» и Приказом Министерства образования и науки РФ от 23 августа 2017 г. N 816 «Об
                  утверждении Порядка применения организациями, осуществляющими образовательную деятельность,
                  электронного обучения, дистанционных образовательных технологий при реализации образовательных
                  программ» при реализации образовательных программ подготовки специалистов среднего звена в
                  соответствии с рабочими программами по дисциплинам в ЧПОУ НГТК используются элементы электронного
                  обучения и дистанционных образовательных технологий.
                </p>
                <p>
                  Под дистанционными образовательными технологиями понимаются образовательные технологии, реализуемые в
                  основном с применением информационно-телекоммуникационных сетей при опосредованном (на расстоянии)
                  взаимодействии обучающихся и педагогических работников.При реализации образовательных программ с
                  применением электронного обучения, дистанционных образовательных технологий ЧПОУ НГТК, обеспечивает
                  защиту сведений, составляющих ту или иную охраняемую законом тайну.
                </p>
              </div>
            </div>
            <div class="doc-info-item doc-info-item-drop">
              <button type="button" class="doc-info-item-drop-btn">
                Информация о результатах приема по договорам об оказании платных образовательных услуг по специальностям
                среднего профессионального образования для обучения по имеющим государственную аккредитацию
                образовательным программам подготовки специалистов среднего звена 2021/2022 учебный год в ЧПОУ НГТК на
                01 октября 2022г.
                <span class="doc-info-item-drop-btn__icon"></span>
              </button>
              <div class="doc-info-item-drop__content">
                <p>
                  В соответствии с Федеральным законом от 29.12.2012 N 273-ФЗ (ред. от 02.07.2021) «Об образовании в
                  Российской Федерации» и Приказом Министерства образования и науки РФ от 23 августа 2017 г. N 816 «Об
                  утверждении Порядка применения организациями, осуществляющими образовательную деятельность,
                  электронного обучения, дистанционных образовательных технологий при реализации образовательных
                  программ» при реализации образовательных программ подготовки специалистов среднего звена в
                  соответствии с рабочими программами по дисциплинам в ЧПОУ НГТК используются элементы электронного
                  обучения и дистанционных образовательных технологий.
                </p>
                <p>
                  Под электронным обучением понимается организация образовательной деятельности с применением
                  содержащейся в базах данных и используемой при реализации образовательных программ информации и
                  обеспечивающих ее обработку информационных технологий, технических средств, а также
                  информационно-телекоммуникационных сетей, обеспечивающих передачу по линиям связи указанной
                  информации, взаимодействие обучающихся и педагогических работников.
                </p>
                <p>
                  В период длительной болезни или отсутствия в колледже по уважительной причине ученик имеет возможность
                  получать консультации преподавателя по соответствующей дисциплине через электронные системы, используя
                  для этого канал выхода в Интернет.
                </p>
              </div>
            </div>
            <div class="doc-info-item doc-info-item-drop">
              <button type="button" class="doc-info-item-drop-btn">
                Информация о реализуемых уровнях образования, о формах обучения, нормативных сроках обучения, сроке
                действия государственной аккредитации образовательной программы
                <span class="doc-info-item-drop-btn__icon"></span>
              </button>
              <div class="doc-info-item-drop__content">
                <p>
                  В соответствии с Федеральным законом от 29.12.2012 N 273-ФЗ (ред. от 02.07.2021) «Об образовании в
                  Российской Федерации» и Приказом Министерства образования и науки РФ от 23 августа 2017 г. N 816 «Об
                  утверждении Порядка применения организациями, осуществляющими образовательную деятельность,
                  электронного обучения, дистанционных образовательных технологий при реализации образовательных
                  программ» при реализации образовательных программ подготовки специалистов среднего звена в
                  соответствии с рабочими программами по дисциплинам в ЧПОУ НГТК используются элементы электронного
                  обучения и дистанционных образовательных технологий.
                </p>
                <p>
                  Под электронным обучением понимается организация образовательной деятельности с применением
                  содержащейся в базах данных и используемой при реализации образовательных программ информации и
                  обеспечивающих ее обработку информационных технологий, технических средств, а также
                  информационно-телекоммуникационных сетей, обеспечивающих передачу по линиям связи указанной
                  информации, взаимодействие обучающихся и педагогических работников.
                </p>
                <p>
                  Под дистанционными образовательными технологиями понимаются образовательные технологии, реализуемые в
                  основном с применением информационно-телекоммуникационных сетей при опосредованном (на расстоянии)
                  взаимодействии обучающихся и педагогических работников.При реализации образовательных программ с
                  применением электронного обучения, дистанционных образовательных технологий ЧПОУ НГТК, обеспечивает
                  защиту сведений, составляющих ту или иную охраняемую законом тайну.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="doc-inner">
          <h4 class="doc-inner__title">
            Реализуемые образовательные программы с указанием учебных предметов, курсов дисциплин, дисциплин (модулей)
            предусмотренных соответствующей программой
          </h4>

          <div class="doc-table doc-table_3">
            <table class="doc-table__inner">
              <thead>
                <tr>
                  <th>
                    №
                  </th>
                  <th>
                    Образовательная программа
                  </th>
                  <th>
                    Учебный план, календарный график, пояснительные записки к учебным планам
                  </th>
                  <th>
                    Рабочие программы дисциплин с приложением копии
                  </th>
                  <th>
                    Рабочие программы практики и методические рекомендации, приложения к ОПОП
                  </th>
                  <th>
                    Использование программ электронного обучения и дистанционных технологий
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    1
                  </td>
                  <td>
                    <a href="#">09.02.05 Прикладная информатика (по отраслям)</a> (pdf)
                  </td>
                  <td>
                    <p>
                      Очная форма обучения: <br>
                      <a href="#">На базе 9 классов</a> <br>
                      <a href="#">На базе 11 классов</a>
                    </p> <br>
                    <p>
                      Заочная форма обучения: <br>
                      <a href="#">На базе 9 классов</a> <br>
                      <a href="#">На базе 11 классов</a>
                    </p> <br>
                    <p>
                      <a href="#">Учебные планы предыдущих учебных годов</a>
                    </p>
                  </td>
                  <td>
                    <a href="#">Рабочие программы дисциплин</a>
                  </td>
                  <td>
                    <a href="#">Приложение 1</a> <br>
                    <a href="#">Приложение 2</a> <br>
                    <a href="#">Приложение 3</a> <br>
                    <a href="#">Приложение 4</a> <br>
                    <a href="#">Приложение 5</a> <br>
                    <a href="#">Приложение 6</a> <br>
                    <a href="#">Приложение 7</a> <br>
                    <a href="#">Приложение 8</a> <br>
                    <a href="#">Приложение 9</a> <br>
                    <a href="#">Приложение 10</a>
                  </td>
                  <td>
                    Используются
                  </td>
                </tr>
                <tr>
                  <td>
                    1
                  </td>
                  <td>
                    <a href="#">21.02.04 Землеустройство</a> (pdf)
                  </td>
                  <td>
                    <p>
                      Очная форма обучения: <br>
                      <a href="#">На базе 9 классов</a> <br>
                      <a href="#">На базе 11 классов</a>
                    </p> <br>
                    <p>
                      Заочная форма обучения: <br>
                      <a href="#">На базе 9 классов</a> <br>
                      <a href="#">На базе 11 классов</a>
                    </p> <br>
                    <p>
                      <a href="#">Учебные планы предыдущих учебных годов</a>
                    </p>
                  </td>
                  <td>
                    <a href="#">Рабочие программы дисциплин</a>
                  </td>
                  <td>
                    <a href="#">Приложение 1</a> <br>
                    <a href="#">Приложение 2</a> <br>
                    <a href="#">Приложение 3</a> <br>
                    <a href="#">Приложение 4</a> <br>
                    <a href="#">Приложение 5</a> <br>
                    <a href="#">Приложение 6</a> <br>
                    <a href="#">Приложение 7</a> <br>
                    <a href="#">Приложение 8</a> <br>
                    <a href="#">Приложение 9</a> <br>
                    <a href="#">Приложение 10</a>
                  </td>
                  <td>
                    Используются
                  </td>
                </tr>
                <tr>
                  <td>
                    1
                  </td>
                  <td>
                    <a href="#">09.02.05 Прикладная информатика (по отраслям)</a> (pdf)
                  </td>
                  <td>
                    <p>
                      Очная форма обучения: <br>
                      <a href="#">На базе 9 классов</a> <br>
                      <a href="#">На базе 11 классов</a>
                    </p> <br>
                    <p>
                      Заочная форма обучения: <br>
                      <a href="#">На базе 9 классов</a> <br>
                      <a href="#">На базе 11 классов</a>
                    </p> <br>
                    <p>
                      <a href="#">Учебные планы предыдущих учебных годов</a>
                    </p>
                  </td>
                  <td>
                    <a href="#">Рабочие программы дисциплин</a>
                  </td>
                  <td>
                    <a href="#">Приложение 1</a> <br>
                    <a href="#">Приложение 2</a> <br>
                    <a href="#">Приложение 3</a> <br>
                    <a href="#">Приложение 4</a> <br>
                    <a href="#">Приложение 5</a> <br>
                    <a href="#">Приложение 6</a> <br>
                    <a href="#">Приложение 7</a> <br>
                    <a href="#">Приложение 8</a> <br>
                    <a href="#">Приложение 9</a> <br>
                    <a href="#">Приложение 10</a>
                  </td>
                  <td>
                    Используются
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="doc-info">
          <div class="doc-info__content">
            <div class="doc-info-item">
              <h4>Фонды оценочных средств</h4>
              <ul>
                <li>
                  <a href="#">09.02.05 Прикладная информатика (по отраслям)</a>
                </li>
                <li>
                  <a href="#">21.02.04 Землеустройство</a>
                </li>
                <li>
                  <a href="#">21.02.05 Земельно-имущественные отношения</a>
                </li>
                <li>
                  <a href="#">21.02.10 Геология и разведка нефтяных и газовых месторождений</a>
                </li>
                <li>
                  <a href="#">23.02.03 Техническое обслуживание и ремонт автомобильного</a>
                </li>
                <li>
                  <a href="#">38.02.01 Экономика и бухгалтерский учет (по отраслям)</a>
                </li>
                <li>
                  <a href="#">38.02.03 Операционная деятельность в логистике</a>
                </li>
                <li>
                  <a href="#">40.02.01 Право и организация социального обеспечения</a>
                </li>
                <li>
                  <a href="#">40.02.02 Правоохранительная деятельность</a>
                </li>
                <li>
                  <a href="#">44.02.01 Дошкольное образование</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="doc-inner">
          <h4 class="doc-inner__title">
            ДОПОЛНИТЕЛЬНОЕ ПРОФЕССИОНАЛЬНОЕ ОБРАЗОВАНИЕ
          </h4>

          <div class="doc-table doc-table_3">
            <table class="doc-table__inner">
              <thead>
                <tr>
                  <th>
                    №
                  </th>
                  <th>
                    Наименование программы
                  </th>
                  <th>
                    Учебный план и календарный график
                  </th>
                  <th>
                    Программа
                  </th>
                  <th>
                    Срок и форма обучения
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    1
                  </td>
                  <td>
                    Программа повышения квалификации руководителей частных охранных организаций
                  </td>
                  <td>
                    <a href="#">Календарный учебный график Учебный план</a>
                  </td>
                  <td>
                    <a href="#">Программа</a>
                  </td>
                  <td>
                    Очная форма 20 ак.ч.
                  </td>
                </tr>
                <tr>
                  <td>
                    2
                  </td>
                  <td>
                    Программа повышения квалификации руководителей частных охранных организаций, впервые назначенных на
                    должность
                  </td>
                  <td>
                    <a href="#">Календарный учебный график Учебный план</a>
                  </td>
                  <td>
                    <a href="#">Программа</a>
                  </td>
                  <td>
                    Очная форма 80 ак.ч.
                  </td>
                </tr>
                <tr>
                  <td>
                    3
                  </td>
                  <td>
                    Программа первоначальной специальной подготовки сотрудников органов принудительного исполнения
                    Российской Федерации
                  </td>
                  <td>
                    <a href="#">Календарный учебный график Учебный план</a>
                  </td>
                  <td>
                    <a href="#">Программа</a>
                  </td>
                  <td>
                    Очная форма 160 ак.ч.
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="doc-inner">
          <h4 class="doc-inner__title">
            ПРОФЕССИОНАЛЬНОЕ ОБУЧЕНИЕ
          </h4>

          <div class="doc-table doc-table_3">
            <table class="doc-table__inner">
              <thead>
                <tr>
                  <th>
                    №
                  </th>
                  <th>
                    Наименование программы
                  </th>
                  <th>
                    Учебный план и календарный график
                  </th>
                  <th>
                    Программа
                  </th>
                  <th>
                    Срок и форма обучения
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    1
                  </td>
                  <td>
                    25416.ПОВЫШЕНИЕ КВАЛИФИКАЦИИ ОХРАННИКОВ 4 РАЗРЯДА
                  </td>
                  <td>
                    <a href="#">Календарный учебный график Учебный план</a>
                  </td>
                  <td>
                    <a href="#">Программа</a>
                  </td>
                  <td>
                    Очная форма 20 ак.ч.
                  </td>
                </tr>
                <tr>
                  <td>
                    2
                  </td>
                  <td>
                    25416.ПРОФЕССИОНАЛЬНАЯ ПОДГОТОВКА ОХРАННИКОВ4 РАЗРЯДА
                  </td>
                  <td>
                    <a href="#">Календарный учебный график Учебный план</a>
                  </td>
                  <td>
                    <a href="#">Программа</a>
                  </td>
                  <td>
                    Очная форма 80 ак.ч.
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
</section>