<section class="information">
  <div class="container">

    <div class="page-info">
      <div class="page-info-nav">
        <a href="#" class="page-info-nav__link">
          Главная
        </a>
        <a href="#" class="page-info-nav__link">
          Сведения об образовательной организации
        </a>
      </div>

      <h1 class="page-info__title">
        Сведения об образовательной организации
      </h1>
    </div>

    <div class="doc">
      <div class="doc-nav">
        <a href="#" class="doc-nav__link">
          Основные сведения
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Структура и органы управления образовательной организацией
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Документы
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Образование
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          образовательные стандарты и требования
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Руководство. Педагогический (научно-педагогический) состав
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Материально-техническое обеспечение и оснащенность образовательного процесса
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Стипендии и МЕРЫ ПОДДЕРЖКИ ОБУЧАЮЩИХСЯ
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link  _active">
          платные образовательные услуги
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Финансово-хозяйственная деятельность
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          вакантные места для приема (перевода) обучающихся
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Доступная среда
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          международное сотрудничество
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
      </div>

      <div class="doc-container">
        <div class="doc-info">
          <div class="doc-info__content">
            <div class="doc-info-item">
              <ul>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Положение о порядке оказания платных образовательных услуг
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Образец Договора об образовании на обучение по образовательной программе среднего профессионального
                    образования
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Правила приема на 2022 – 2023 учебный год в Частное профессиональное образовательное учреждение
                    «Нижегородский гуманитарно-технический колледж» (ЧПОУ НГТК) ред. от 04.07.2022
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    План приема на места по договорам об оказании платных образовательных услуг по специальностям
                    среднего профессионального образования для обучения по имеющим государственную аккредитацию
                    образовательным программам подготовки специалистов среднего звена на 2022/2023 учебный год в Частное
                    профессиональное образовательное учреждение Нижегородский гуманитарно-технический колледж (ЧПОУ
                    НГТК) ред. от 04.07.2022
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Приказ 408-у от 04.07.2022 «О стоимости обучения по образовательным программам среднего
                    профессионального образования по договору оказания платных образовательных услуг для обучающихся
                    первого года в 2022/2023 учебном году» (Очная форма обучения)
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Приказ 151-у от 28.02.2022 «О стоимости обучения по образовательным программам среднего
                    профессионального образования по договору оказания платных образовательных услуг для обучающихся
                    первого года в 2022/2023 учебном году» (Заочная форма обучения)
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Приказ №28К от 28.05.2021 «О стоимости обучения по образовательным программам среднего
                    профессионального образования по договору оказания платных образовательных услуг для обучающихся
                    первого года в 2021/2022 учебном году»
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Приказ №12К от 27.04.2020 «О стоимости обучения по образовательным программам среднего
                    профессионального образования по договору оказания платных образовательных услуг для обучающихся
                    первого года в 2020/2021 учебном году и для продолжающих обучение в в 2020/2021 учебном году»
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>