<section class="information">
  <div class="container">

    <div class="page-info">
      <div class="page-info-nav">
        <a href="#" class="page-info-nav__link">
          Главная
        </a>
        <a href="#" class="page-info-nav__link">
          Сведения об образовательной организации
        </a>
      </div>

      <h1 class="page-info__title">
        Сведения об образовательной организации
      </h1>
    </div>

    <div class="doc">
      <div class="doc-nav">
        <a href="#" class="doc-nav__link">
          Основные сведения
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Структура и органы управления образовательной организацией
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Документы
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link _active">
          Образование
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          образовательные стандарты и требования
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Руководство. Педагогический (научно-педагогический) состав
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Материально-техническое обеспечение и оснащенность образовательного процесса
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Стипендии и МЕРЫ ПОДДЕРЖКИ ОБУЧАЮЩИХСЯ
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          платные образовательные услуги
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Финансово-хозяйственная деятельность
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          вакантные места для приема (перевода) обучающихся
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Доступная среда
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          международное сотрудничество
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
      </div>

      <div class="doc-container">
        <div class="doc-info">
          <div class="doc-info__content">
            <div class="doc-info-item">
              <h4>Выписки</h4>
              <ul>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Выписка из реестра лицензий на осуществление образовательной деятельности ЧПОУ «НГТК»
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Выписка из реестра организаций, осуществляющих образовательную деятельность по имеющим
                    государственную аккредитацию образовательным программам ЧПОУ «НГТК»
                  </a>
                </li>
              </ul>
            </div>
            <div class="doc-info-item doc-info-item-drop">
              <button type="button" class="doc-info-item-drop-btn">
                Информация об использовании при реализации образовательных программ электронного обучения
                и дистанционных образовательных технологий
                <span class="doc-info-item-drop-btn__icon"></span>
              </button>
              <div class="doc-info-item-drop__content">
                <p>
                  В соответствии с Федеральным законом от 29.12.2012 N 273-ФЗ (ред. от 02.07.2021) «Об образовании в
                  Российской Федерации» и Приказом Министерства образования и науки РФ от 23 августа 2017 г. N 816 «Об
                  утверждении Порядка применения организациями, осуществляющими образовательную деятельность,
                  электронного обучения, дистанционных образовательных технологий при реализации образовательных
                  программ» при реализации образовательных программ подготовки специалистов среднего звена в
                  соответствии с рабочими программами по дисциплинам в ЧПОУ НГТК используются элементы электронного
                  обучения и дистанционных образовательных технологий.
                </p>
                <p>
                  Под электронным обучением понимается организация образовательной деятельности с применением
                  содержащейся в базах данных и используемой при реализации образовательных программ информации и
                  обеспечивающих ее обработку информационных технологий, технических средств, а также
                  информационно-телекоммуникационных сетей, обеспечивающих передачу по линиям связи указанной
                  информации, взаимодействие обучающихся и педагогических работников.
                </p>
                <p>
                  Под дистанционными образовательными технологиями понимаются образовательные технологии, реализуемые в
                  основном с применением информационно-телекоммуникационных сетей при опосредованном (на расстоянии)
                  взаимодействии обучающихся и педагогических работников.При реализации образовательных программ с
                  применением электронного обучения, дистанционных образовательных технологий ЧПОУ НГТК, обеспечивает
                  защиту сведений, составляющих ту или иную охраняемую законом тайну.
                </p>
                <p>
                  Главными целями применения дистанционных образовательных технологий как важной составляющей в системе
                  беспрерывного образования являются:— повышение качества образования обучающихся в соответствии с их
                  интересами, способностями и потребностями;— предоставление обучающимся возможности освоения
                  образовательных программ, непосредственно по месту жительства обучающегося или его временного
                  пребывания (нахождения).
                </p>
                <p>
                  В обучении с применением дистанционных образовательных технологий используются следующие
                  организационные формы учебной деятельности: лекция, консультация, практическое занятие, лабораторная
                  работа, контрольная работа, самостоятельная работа, Самостоятельная работа обучающихся может включать
                  следующие организационные формы (элементы) электронного и дистанционного обучения: работа с
                  электронным учебником; просмотр видео-лекций (слайд-лекций); компьютерное тестирование.
                </p>
                <p>
                  В период длительной болезни или отсутствия в колледже по уважительной причине ученик имеет возможность
                  получать консультации преподавателя по соответствующей дисциплине через электронные системы, используя
                  для этого канал выхода в Интернет.
                </p>
              </div>
            </div>
            <div class="doc-info-item doc-info-item-drop">
              <button type="button" class="doc-info-item-drop-btn">
                Информация о численности обучающихся по договорам об образовании за счет средств физических и (или)
                юридических лиц на 01 октября 2022г.
                <span class="doc-info-item-drop-btn__icon"></span>
              </button>
              <div class="doc-info-item-drop__content">
                <div class="doc-size">
                  <div class="doc-size-head">
                    <div class="doc-size-head__item">
                      <span class="doc-size-item__inner">
                        Код специальности
                      </span>
                    </div>

                    <div class="doc-size-head__item">
                      <span class="doc-size-item__inner">
                        Наименование спецальности
                      </span>
                    </div>

                    <div class="doc-size-head__item doc-size-head__item_col">
                      <span class="doc-size-item__inner">
                        Очная форма обучения
                      </span>
                      <div class="doc-size-head__inner">
                        <span class="doc-size-item__inner">
                          На базе 9 классов
                        </span>
                        <span class="doc-size-item__inner">
                          На базе 11 классов
                        </span>
                      </div>
                    </div>

                    <div class="doc-size-head__item doc-size-head__item_col">
                      <span class="doc-size-item__inner">
                        Заочная форма обучения
                      </span>
                      <div class="doc-size-head__inner">
                        <span class="doc-size-item__inner">
                          На базе 9 классов
                        </span>
                        <span class="doc-size-item__inner">
                          На базе 11 классов
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="doc-size-item">
                    <div class="doc-size-item__text doc-size-item__inner">
                      09.02.05
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      Прикладная информатика (по отраслям)
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      50
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      7
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      78
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      69
                    </div>
                  </div>

                  <div class="doc-size-item">
                    <div class="doc-size-item__text doc-size-item__inner">
                      21.02.04
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      Землеустройство
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      6
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      0
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      39
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      23
                    </div>
                  </div>

                  <div class="doc-size-item">
                    <div class="doc-size-item__text doc-size-item__inner">
                      21.02.05
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      Земельно-имущественные отношения
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      26
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      1
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      135
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      92
                    </div>
                  </div>

                  <div class="doc-size-item">
                    <div class="doc-size-item__text doc-size-item__inner">
                      21.02.10
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      Геология и разведка нефтяных и газовых месторождений
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      7
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      6
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      82
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      68
                    </div>
                  </div>

                  <div class="doc-size-item">
                    <div class="doc-size-item__text doc-size-item__inner">
                      23.02.03
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      Техническое обслуживание и ремонт автомобильного транспорта
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      4
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      0
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      51
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      58
                    </div>
                  </div>

                  <div class="doc-size-item">
                    <div class="doc-size-item__text doc-size-item__inner">
                      09.02.05
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      Прикладная информатика (по отраслям)
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      50
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      7
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      78
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      69
                    </div>
                  </div>

                  <div class="doc-size-item">
                    <div class="doc-size-item__text doc-size-item__inner">
                      21.02.04
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      Землеустройство
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      6
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      0
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      39
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      23
                    </div>
                  </div>

                  <div class="doc-size-item">
                    <div class="doc-size-item__text doc-size-item__inner">
                      21.02.05
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      Земельно-имущественные отношения
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      26
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      1
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      135
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      92
                    </div>
                  </div>

                  <div class="doc-size-item">
                    <div class="doc-size-item__text doc-size-item__inner">
                      21.02.10
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      Геология и разведка нефтяных и газовых месторождений
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      7
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      6
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      82
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      68
                    </div>
                  </div>

                  <div class="doc-size-item">
                    <div class="doc-size-item__text doc-size-item__inner">
                      23.02.03
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      Техническое обслуживание и ремонт автомобильного транспорта
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      4
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      0
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      51
                    </div>
                    <div class="doc-size-item__text doc-size-item__inner">
                      58
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="doc-info-item doc-info-item-drop">
              <button type="button" class="doc-info-item-drop-btn">
                Распределение численности студентов, приема и выпуска по гражданству (на 01 октября 2022г)
                <span class="doc-info-item-drop-btn__icon"></span>
              </button>
              <div class="doc-info-item-drop__content">
                <p>
                  Под дистанционными образовательными технологиями понимаются образовательные технологии, реализуемые в
                  основном с применением информационно-телекоммуникационных сетей при опосредованном (на расстоянии)
                  взаимодействии обучающихся и педагогических работников.При реализации образовательных программ с
                  применением электронного обучения, дистанционных образовательных технологий ЧПОУ НГТК, обеспечивает
                  защиту сведений, составляющих ту или иную охраняемую законом тайну.
                </p>
                <p>
                  Главными целями применения дистанционных образовательных технологий как важной составляющей в системе
                  беспрерывного образования являются:— повышение качества образования обучающихся в соответствии с их
                  интересами, способностями и потребностями;— предоставление обучающимся возможности освоения
                  образовательных программ, непосредственно по месту жительства обучающегося или его временного
                  пребывания (нахождения).
                </p>
                <p>
                  В обучении с применением дистанционных образовательных технологий используются следующие
                  организационные формы учебной деятельности: лекция, консультация, практическое занятие, лабораторная
                  работа, контрольная работа, самостоятельная работа, Самостоятельная работа обучающихся может включать
                  следующие организационные формы (элементы) электронного и дистанционного обучения: работа с
                  электронным учебником; просмотр видео-лекций (слайд-лекций); компьютерное тестирование.
                </p>
                <p>
                  В период длительной болезни или отсутствия в колледже по уважительной причине ученик имеет возможность
                  получать консультации преподавателя по соответствующей дисциплине через электронные системы, используя
                  для этого канал выхода в Интернет.
                </p>
              </div>
            </div>
            <div class="doc-info-item doc-info-item-drop">
              <button type="button" class="doc-info-item-drop-btn">
                Результаты перевода, восстановления, отчисления обучающихся с 01 октября 2021 по 31 сентября 2022 г.
                <span class="doc-info-item-drop-btn__icon"></span>
              </button>
              <div class="doc-info-item-drop__content">
                <p>
                  В соответствии с Федеральным законом от 29.12.2012 N 273-ФЗ (ред. от 02.07.2021) «Об образовании в
                  Российской Федерации» и Приказом Министерства образования и науки РФ от 23 августа 2017 г. N 816 «Об
                  утверждении Порядка применения организациями, осуществляющими образовательную деятельность,
                  электронного обучения, дистанционных образовательных технологий при реализации образовательных
                  программ» при реализации образовательных программ подготовки специалистов среднего звена в
                  соответствии с рабочими программами по дисциплинам в ЧПОУ НГТК используются элементы электронного
                  обучения и дистанционных образовательных технологий.
                </p>
                <p>
                  Под дистанционными образовательными технологиями понимаются образовательные технологии, реализуемые в
                  основном с применением информационно-телекоммуникационных сетей при опосредованном (на расстоянии)
                  взаимодействии обучающихся и педагогических работников.При реализации образовательных программ с
                  применением электронного обучения, дистанционных образовательных технологий ЧПОУ НГТК, обеспечивает
                  защиту сведений, составляющих ту или иную охраняемую законом тайну.
                </p>
              </div>
            </div>
            <div class="doc-info-item doc-info-item-drop">
              <button type="button" class="doc-info-item-drop-btn">
                Информация о результатах приема по договорам об оказании платных образовательных услуг по специальностям
                среднего профессионального образования для обучения по имеющим государственную аккредитацию
                образовательным программам подготовки специалистов среднего звена 2021/2022 учебный год в ЧПОУ НГТК на
                01 октября 2022г.
                <span class="doc-info-item-drop-btn__icon"></span>
              </button>
              <div class="doc-info-item-drop__content">
                <p>
                  В соответствии с Федеральным законом от 29.12.2012 N 273-ФЗ (ред. от 02.07.2021) «Об образовании в
                  Российской Федерации» и Приказом Министерства образования и науки РФ от 23 августа 2017 г. N 816 «Об
                  утверждении Порядка применения организациями, осуществляющими образовательную деятельность,
                  электронного обучения, дистанционных образовательных технологий при реализации образовательных
                  программ» при реализации образовательных программ подготовки специалистов среднего звена в
                  соответствии с рабочими программами по дисциплинам в ЧПОУ НГТК используются элементы электронного
                  обучения и дистанционных образовательных технологий.
                </p>
                <p>
                  Под электронным обучением понимается организация образовательной деятельности с применением
                  содержащейся в базах данных и используемой при реализации образовательных программ информации и
                  обеспечивающих ее обработку информационных технологий, технических средств, а также
                  информационно-телекоммуникационных сетей, обеспечивающих передачу по линиям связи указанной
                  информации, взаимодействие обучающихся и педагогических работников.
                </p>
                <p>
                  В период длительной болезни или отсутствия в колледже по уважительной причине ученик имеет возможность
                  получать консультации преподавателя по соответствующей дисциплине через электронные системы, используя
                  для этого канал выхода в Интернет.
                </p>
              </div>
            </div>
            <div class="doc-info-item doc-info-item-drop">
              <button type="button" class="doc-info-item-drop-btn">
                Информация о реализуемых уровнях образования, о формах обучения, нормативных сроках обучения, сроке
                действия государственной аккредитации образовательной программы
                <span class="doc-info-item-drop-btn__icon"></span>
              </button>
              <div class="doc-info-item-drop__content">
                <p>
                  В соответствии с Федеральным законом от 29.12.2012 N 273-ФЗ (ред. от 02.07.2021) «Об образовании в
                  Российской Федерации» и Приказом Министерства образования и науки РФ от 23 августа 2017 г. N 816 «Об
                  утверждении Порядка применения организациями, осуществляющими образовательную деятельность,
                  электронного обучения, дистанционных образовательных технологий при реализации образовательных
                  программ» при реализации образовательных программ подготовки специалистов среднего звена в
                  соответствии с рабочими программами по дисциплинам в ЧПОУ НГТК используются элементы электронного
                  обучения и дистанционных образовательных технологий.
                </p>
                <p>
                  Под электронным обучением понимается организация образовательной деятельности с применением
                  содержащейся в базах данных и используемой при реализации образовательных программ информации и
                  обеспечивающих ее обработку информационных технологий, технических средств, а также
                  информационно-телекоммуникационных сетей, обеспечивающих передачу по линиям связи указанной
                  информации, взаимодействие обучающихся и педагогических работников.
                </p>
                <p>
                  Под дистанционными образовательными технологиями понимаются образовательные технологии, реализуемые в
                  основном с применением информационно-телекоммуникационных сетей при опосредованном (на расстоянии)
                  взаимодействии обучающихся и педагогических работников.При реализации образовательных программ с
                  применением электронного обучения, дистанционных образовательных технологий ЧПОУ НГТК, обеспечивает
                  защиту сведений, составляющих ту или иную охраняемую законом тайну.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="doc-inner">
          <h4 class="doc-inner__title">
            Реализуемые образовательные программы с указанием учебных предметов, курсов дисциплин, дисциплин (модулей)
            предусмотренных соответствующей программой
          </h4>

          <div class="doc-programs">
            <div class="doc-programs-head doc-programs-item">
              <div class="doc-programs-head__text doc-programs-item__inner">
                №
              </div>
              <div class="doc-programs-head__text doc-programs-item__inner">
                Образовательная программа
              </div>
              <div class="doc-programs-head__text doc-programs-item__inner">
                Учебный план, календарный график, пояснительные записки к учебным планам
              </div>
              <div class="doc-programs-head__text doc-programs-item__inner">
                Рабочие программы дисциплин с приложением копии
              </div>
              <div class="doc-programs-head__text doc-programs-item__inner">
                Рабочие программы практики и методические рекомендации, приложения к ОПОП
              </div>
              <div class="doc-programs-head__text doc-programs-item__inner">
                Использование программ электронного обучения и дистанционных технологий
              </div>
            </div>

            <div class="doc-programs-item">
              <div class="doc-programs-item__text doc-programs-item__inner">
                1
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <p>
                  <a href="#">09.02.05 Прикладная информатика (по отраслям)</a> (pdf)
                </p>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <p>
                  Очная форма обучения: <br>
                  <a href="#">На базе 9 классов</a> <br>
                  <a href="#">На базе 11 классов</a>
                </p>
                <p>
                  Заочная форма обучения: <br>
                  <a href="#">На базе 9 классов</a> <br>
                  <a href="#">На базе 11 классов</a>
                </p>
                <a href="#">Учебные планы предыдущих учебных годов</a>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <a href="#">Рабочие программы дисциплин</a>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <p>
                  <a href="#">Приложение 1</a> <br>
                  <a href="#">Приложение 2</a> <br>
                  <a href="#">Приложение 3</a> <br>
                  <a href="#">Приложение 4</a> <br>
                  <a href="#">Приложение 5</a> <br>
                  <a href="#">Приложение 6</a> <br>
                  <a href="#">Приложение 7</a> <br>
                  <a href="#">Приложение 8</a> <br>
                  <a href="#">Приложение 9</a> <br>
                  <a href="#">Приложение 10</a> <br>
                </p>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                Используются
              </div>
            </div>
            <div class="doc-programs-item">
              <div class="doc-programs-item__text doc-programs-item__inner">
                2
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <p>
                  <a href="#">09.02.05 Прикладная информатика (по отраслям)</a> (pdf)
                </p>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <p>
                  Очная форма обучения: <br>
                  <a href="#">На базе 9 классов</a> <br>
                  <a href="#">На базе 11 классов</a>
                </p>
                <p>
                  Заочная форма обучения: <br>
                  <a href="#">На базе 9 классов</a> <br>
                  <a href="#">На базе 11 классов</a>
                </p>
                <a href="#">Учебные планы предыдущих учебных годов</a>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <a href="#">Рабочие программы дисциплин</a>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <p>
                  <a href="#">Приложение 1</a> <br>
                  <a href="#">Приложение 2</a> <br>
                  <a href="#">Приложение 3</a> <br>
                  <a href="#">Приложение 4</a> <br>
                  <a href="#">Приложение 5</a> <br>
                  <a href="#">Приложение 6</a> <br>
                  <a href="#">Приложение 7</a> <br>
                  <a href="#">Приложение 8</a> <br>
                  <a href="#">Приложение 9</a> <br>
                  <a href="#">Приложение 10</a> <br>
                </p>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                Используются
              </div>
            </div>
            <div class="doc-programs-item">
              <div class="doc-programs-item__text doc-programs-item__inner">
                3
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <p>
                  <a href="#">09.02.05 Прикладная информатика (по отраслям)</a> (pdf)
                </p>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <p>
                  Очная форма обучения: <br>
                  <a href="#">На базе 9 классов</a> <br>
                  <a href="#">На базе 11 классов</a>
                </p>
                <p>
                  Заочная форма обучения: <br>
                  <a href="#">На базе 9 классов</a> <br>
                  <a href="#">На базе 11 классов</a>
                </p>
                <a href="#">Учебные планы предыдущих учебных годов</a>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <a href="#">Рабочие программы дисциплин</a>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <p>
                  <a href="#">Приложение 1</a> <br>
                  <a href="#">Приложение 2</a> <br>
                  <a href="#">Приложение 3</a> <br>
                  <a href="#">Приложение 4</a> <br>
                  <a href="#">Приложение 5</a> <br>
                  <a href="#">Приложение 6</a> <br>
                  <a href="#">Приложение 7</a> <br>
                  <a href="#">Приложение 8</a> <br>
                  <a href="#">Приложение 9</a> <br>
                  <a href="#">Приложение 10</a> <br>
                </p>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                Используются
              </div>
            </div>
            <div class="doc-programs-item">
              <div class="doc-programs-item__text doc-programs-item__inner">
                4
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <p>
                  <a href="#">09.02.05 Прикладная информатика (по отраслям)</a> (pdf)
                </p>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <p>
                  Очная форма обучения: <br>
                  <a href="#">На базе 9 классов</a> <br>
                  <a href="#">На базе 11 классов</a>
                </p>
                <p>
                  Заочная форма обучения: <br>
                  <a href="#">На базе 9 классов</a> <br>
                  <a href="#">На базе 11 классов</a>
                </p>
                <a href="#">Учебные планы предыдущих учебных годов</a>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <a href="#">Рабочие программы дисциплин</a>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <p>
                  <a href="#">Приложение 1</a> <br>
                  <a href="#">Приложение 2</a> <br>
                  <a href="#">Приложение 3</a> <br>
                  <a href="#">Приложение 4</a> <br>
                  <a href="#">Приложение 5</a> <br>
                  <a href="#">Приложение 6</a> <br>
                  <a href="#">Приложение 7</a> <br>
                  <a href="#">Приложение 8</a> <br>
                  <a href="#">Приложение 9</a> <br>
                  <a href="#">Приложение 10</a> <br>
                </p>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                Используются
              </div>
            </div>
            <div class="doc-programs-item">
              <div class="doc-programs-item__text doc-programs-item__inner">
                5
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <p>
                  <a href="#">09.02.05 Прикладная информатика (по отраслям)</a> (pdf)
                </p>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <p>
                  Очная форма обучения: <br>
                  <a href="#">На базе 9 классов</a> <br>
                  <a href="#">На базе 11 классов</a>
                </p>
                <p>
                  Заочная форма обучения: <br>
                  <a href="#">На базе 9 классов</a> <br>
                  <a href="#">На базе 11 классов</a>
                </p>
                <a href="#">Учебные планы предыдущих учебных годов</a>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <a href="#">Рабочие программы дисциплин</a>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <p>
                  <a href="#">Приложение 1</a> <br>
                  <a href="#">Приложение 2</a> <br>
                  <a href="#">Приложение 3</a> <br>
                  <a href="#">Приложение 4</a> <br>
                  <a href="#">Приложение 5</a> <br>
                  <a href="#">Приложение 6</a> <br>
                  <a href="#">Приложение 7</a> <br>
                  <a href="#">Приложение 8</a> <br>
                  <a href="#">Приложение 9</a> <br>
                  <a href="#">Приложение 10</a> <br>
                </p>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                Используются
              </div>
            </div>
            <div class="doc-programs-item">
              <div class="doc-programs-item__text doc-programs-item__inner">
                6
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <p>
                  <a href="#">09.02.05 Прикладная информатика (по отраслям)</a> (pdf)
                </p>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <p>
                  Очная форма обучения: <br>
                  <a href="#">На базе 9 классов</a> <br>
                  <a href="#">На базе 11 классов</a>
                </p>
                <p>
                  Заочная форма обучения: <br>
                  <a href="#">На базе 9 классов</a> <br>
                  <a href="#">На базе 11 классов</a>
                </p>
                <a href="#">Учебные планы предыдущих учебных годов</a>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <a href="#">Рабочие программы дисциплин</a>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <p>
                  <a href="#">Приложение 1</a> <br>
                  <a href="#">Приложение 2</a> <br>
                  <a href="#">Приложение 3</a> <br>
                  <a href="#">Приложение 4</a> <br>
                  <a href="#">Приложение 5</a> <br>
                  <a href="#">Приложение 6</a> <br>
                  <a href="#">Приложение 7</a> <br>
                  <a href="#">Приложение 8</a> <br>
                  <a href="#">Приложение 9</a> <br>
                  <a href="#">Приложение 10</a> <br>
                </p>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                Используются
              </div>
            </div>
            <div class="doc-programs-item">
              <div class="doc-programs-item__text doc-programs-item__inner">
                7
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <p>
                  <a href="#">09.02.05 Прикладная информатика (по отраслям)</a> (pdf)
                </p>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <p>
                  Очная форма обучения: <br>
                  <a href="#">На базе 9 классов</a> <br>
                  <a href="#">На базе 11 классов</a>
                </p>
                <p>
                  Заочная форма обучения: <br>
                  <a href="#">На базе 9 классов</a> <br>
                  <a href="#">На базе 11 классов</a>
                </p>
                <a href="#">Учебные планы предыдущих учебных годов</a>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <a href="#">Рабочие программы дисциплин</a>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <p>
                  <a href="#">Приложение 1</a> <br>
                  <a href="#">Приложение 2</a> <br>
                  <a href="#">Приложение 3</a> <br>
                  <a href="#">Приложение 4</a> <br>
                  <a href="#">Приложение 5</a> <br>
                  <a href="#">Приложение 6</a> <br>
                  <a href="#">Приложение 7</a> <br>
                  <a href="#">Приложение 8</a> <br>
                  <a href="#">Приложение 9</a> <br>
                  <a href="#">Приложение 10</a> <br>
                </p>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                Используются
              </div>
            </div>
            <div class="doc-programs-item">
              <div class="doc-programs-item__text doc-programs-item__inner">
                8
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <p>
                  <a href="#">09.02.05 Прикладная информатика (по отраслям)</a> (pdf)
                </p>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <p>
                  Очная форма обучения: <br>
                  <a href="#">На базе 9 классов</a> <br>
                  <a href="#">На базе 11 классов</a>
                </p>
                <p>
                  Заочная форма обучения: <br>
                  <a href="#">На базе 9 классов</a> <br>
                  <a href="#">На базе 11 классов</a>
                </p>
                <a href="#">Учебные планы предыдущих учебных годов</a>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <a href="#">Рабочие программы дисциплин</a>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <p>
                  <a href="#">Приложение 1</a> <br>
                  <a href="#">Приложение 2</a> <br>
                  <a href="#">Приложение 3</a> <br>
                  <a href="#">Приложение 4</a> <br>
                  <a href="#">Приложение 5</a> <br>
                  <a href="#">Приложение 6</a> <br>
                  <a href="#">Приложение 7</a> <br>
                  <a href="#">Приложение 8</a> <br>
                  <a href="#">Приложение 9</a> <br>
                  <a href="#">Приложение 10</a> <br>
                </p>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                Используются
              </div>
            </div>
            <div class="doc-programs-item">
              <div class="doc-programs-item__text doc-programs-item__inner">
                9
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <p>
                  <a href="#">09.02.05 Прикладная информатика (по отраслям)</a> (pdf)
                </p>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <p>
                  Очная форма обучения: <br>
                  <a href="#">На базе 9 классов</a> <br>
                  <a href="#">На базе 11 классов</a>
                </p>
                <p>
                  Заочная форма обучения: <br>
                  <a href="#">На базе 9 классов</a> <br>
                  <a href="#">На базе 11 классов</a>
                </p>
                <a href="#">Учебные планы предыдущих учебных годов</a>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <a href="#">Рабочие программы дисциплин</a>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <p>
                  <a href="#">Приложение 1</a> <br>
                  <a href="#">Приложение 2</a> <br>
                  <a href="#">Приложение 3</a> <br>
                  <a href="#">Приложение 4</a> <br>
                  <a href="#">Приложение 5</a> <br>
                  <a href="#">Приложение 6</a> <br>
                  <a href="#">Приложение 7</a> <br>
                  <a href="#">Приложение 8</a> <br>
                  <a href="#">Приложение 9</a> <br>
                  <a href="#">Приложение 10</a> <br>
                </p>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                Используются
              </div>
            </div>
            <div class="doc-programs-item">
              <div class="doc-programs-item__text doc-programs-item__inner">
                10
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <p>
                  <a href="#">09.02.05 Прикладная информатика (по отраслям)</a> (pdf)
                </p>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <p>
                  Очная форма обучения: <br>
                  <a href="#">На базе 9 классов</a> <br>
                  <a href="#">На базе 11 классов</a>
                </p>
                <p>
                  Заочная форма обучения: <br>
                  <a href="#">На базе 9 классов</a> <br>
                  <a href="#">На базе 11 классов</a>
                </p>
                <a href="#">Учебные планы предыдущих учебных годов</a>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <a href="#">Рабочие программы дисциплин</a>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                <p>
                  <a href="#">Приложение 1</a> <br>
                  <a href="#">Приложение 2</a> <br>
                  <a href="#">Приложение 3</a> <br>
                  <a href="#">Приложение 4</a> <br>
                  <a href="#">Приложение 5</a> <br>
                  <a href="#">Приложение 6</a> <br>
                  <a href="#">Приложение 7</a> <br>
                  <a href="#">Приложение 8</a> <br>
                  <a href="#">Приложение 9</a> <br>
                  <a href="#">Приложение 10</a> <br>
                </p>
              </div>
              <div class="doc-programs-item__text doc-programs-item__inner">
                Используются
              </div>
            </div>
          </div>
        </div>

        <div class="doc-info">
          <div class="doc-info__content">
            <div class="doc-info-item">
              <h4>Фонды оценочных средств</h4>
              <ul>
                <li>
                  <a href="#">09.02.05 Прикладная информатика (по отраслям)</a>
                </li>
                <li>
                  <a href="#">21.02.04 Землеустройство</a>
                </li>
                <li>
                  <a href="#">21.02.05 Земельно-имущественные отношения</a>
                </li>
                <li>
                  <a href="#">21.02.10 Геология и разведка нефтяных и газовых месторождений</a>
                </li>
                <li>
                  <a href="#">23.02.03 Техническое обслуживание и ремонт автомобильного</a>
                </li>
                <li>
                  <a href="#">38.02.01 Экономика и бухгалтерский учет (по отраслям)</a>
                </li>
                <li>
                  <a href="#">38.02.03 Операционная деятельность в логистике</a>
                </li>
                <li>
                  <a href="#">40.02.01 Право и организация социального обеспечения</a>
                </li>
                <li>
                  <a href="#">40.02.02 Правоохранительная деятельность</a>
                </li>
                <li>
                  <a href="#">44.02.01 Дошкольное образование</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="doc-inner">
          <h4 class="doc-inner__title">
            ДОПОЛНИТЕЛЬНОЕ ПРОФЕССИОНАЛЬНОЕ ОБРАЗОВАНИЕ
          </h4>

          <div class="doc-prof">
            <div class="doc-prof-head doc-prof-item">
              <div class="doc-prof-head__text doc-prof-item__inner">
                №
              </div>
              <div class="doc-prof-head__text doc-prof-item__inner">
                Наименование программы
              </div>
              <div class="doc-prof-head__text doc-prof-item__inner">
                Учебный план и календарный график
              </div>
              <div class="doc-prof-head__text doc-prof-item__inner">
                Программа
              </div>
              <div class="doc-prof-head__text doc-prof-item__inner">
                Срок и форма обучения
              </div>
            </div>

            <div class="doc-prof-item">
              <div class="doc-prof-item__text doc-prof-item__inner">
                1
              </div>
              <div class="doc-prof-item__text doc-prof-item__inner">
                Программа повышения квалификации руководителей частных охранных организаций
              </div>
              <div class="doc-prof-item__text doc-prof-item__inner">
                <p>
                  <a href="#">Календарный учебный график</a> <br>
                  <a href="#">Учебный план</a>
                </p>
              </div>
              <div class="doc-prof-item__text doc-prof-item__inner">
                <a href="#">Программа</a>
              </div>
              <div class="doc-prof-item__text doc-prof-item__inner">
                Очная форма <br>
                20 ак.ч.
              </div>
            </div>
            <div class="doc-prof-item">
              <div class="doc-prof-item__text doc-prof-item__inner">
                2
              </div>
              <div class="doc-prof-item__text doc-prof-item__inner">
                Программа повышения квалификации руководителей частных охранных организаций, впервые назначенных на
                должность
              </div>
              <div class="doc-prof-item__text doc-prof-item__inner">
                <p>
                  <a href="#">Календарный учебный график</a> <br>
                  <a href="#">Учебный план</a>
                </p>
              </div>
              <div class="doc-prof-item__text doc-prof-item__inner">
                <a href="#">Программа</a>
              </div>
              <div class="doc-prof-item__text doc-prof-item__inner">
                Очная форма <br>
                80 ак.ч.
              </div>
            </div>
            <div class="doc-prof-item">
              <div class="doc-prof-item__text doc-prof-item__inner">
                3
              </div>
              <div class="doc-prof-item__text doc-prof-item__inner">
                Программа первоначальной специальной подготовки сотрудников органов принудительного исполнения
                Российской Федерации
              </div>
              <div class="doc-prof-item__text doc-prof-item__inner">
                <p>
                  <a href="#">Календарный учебный график</a> <br>
                  <a href="#">Учебный план</a>
                </p>
              </div>
              <div class="doc-prof-item__text doc-prof-item__inner">
                <a href="#">Программа</a>
              </div>
              <div class="doc-prof-item__text doc-prof-item__inner">
                Очная форма <br>
                160 ак.ч.
              </div>
            </div>
          </div>
        </div>

        <div class="doc-inner">
          <h4 class="doc-inner__title">
            ПРОФЕССИОНАЛЬНОЕ ОБУЧЕНИЕ
          </h4>

          <div class="doc-prof">
            <div class="doc-prof-head doc-prof-item">
              <div class="doc-prof-head__text doc-prof-item__inner">
                №
              </div>
              <div class="doc-prof-head__text doc-prof-item__inner">
                Наименование программы
              </div>
              <div class="doc-prof-head__text doc-prof-item__inner">
                Учебный план и календарный график
              </div>
              <div class="doc-prof-head__text doc-prof-item__inner">
                Программа
              </div>
              <div class="doc-prof-head__text doc-prof-item__inner">
                Срок и форма обучения
              </div>
            </div>

            <div class="doc-prof-item">
              <div class="doc-prof-item__text doc-prof-item__inner">
                1
              </div>
              <div class="doc-prof-item__text doc-prof-item__inner">
                25416.ПОВЫШЕНИЕ КВАЛИФИКАЦИИ ОХРАННИКОВ 4 РАЗРЯДА
              </div>
              <div class="doc-prof-item__text doc-prof-item__inner">
                <p>
                  <a href="#">Календарный учебный график</a> <br>
                  <a href="#">Учебный план</a>
                </p>
              </div>
              <div class="doc-prof-item__text doc-prof-item__inner">
                <a href="#">Программа</a>
              </div>
              <div class="doc-prof-item__text doc-prof-item__inner">
                Очная форма <br>
                8 ак.ч. (2 дня)
              </div>
            </div>
            <div class="doc-prof-item">
              <div class="doc-prof-item__text doc-prof-item__inner">
                2
              </div>
              <div class="doc-prof-item__text doc-prof-item__inner">
                25416.ПРОФЕССИОНАЛЬНАЯ ПОДГОТОВКА ОХРАННИКОВ4 РАЗРЯДА
              </div>
              <div class="doc-prof-item__text doc-prof-item__inner">
                <p>
                  <a href="#">Календарный учебный график</a> <br>
                  <a href="#">Учебный план</a>
                </p>
              </div>
              <div class="doc-prof-item__text doc-prof-item__inner">
                <a href="#">Программа</a>
              </div>
              <div class="doc-prof-item__text doc-prof-item__inner">
                Очная форма <br>
                98 ак.ч. (13 дней)
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
</section>