<section class="information">
  <div class="container">

    <div class="page-info">
      <div class="page-info-nav">
        <a href="#" class="page-info-nav__link">
          Главная
        </a>
        <a href="#" class="page-info-nav__link">
          Сведения об образовательной организации
        </a>
      </div>

      <h1 class="page-info__title">
        Сведения об образовательной организации
      </h1>
    </div>

    <div class="doc">
      <div class="doc-nav">
        <a href="#" class="doc-nav__link">
          Основные сведения
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Структура и органы управления образовательной организацией
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Документы
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Образование
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          образовательные стандарты и требования
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Руководство. Педагогический (научно-педагогический) состав
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Материально-техническое обеспечение и оснащенность образовательного процесса
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Стипендии и МЕРЫ ПОДДЕРЖКИ ОБУЧАЮЩИХСЯ
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          платные образовательные услуги
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Финансово-хозяйственная деятельность
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          вакантные места для приема (перевода) обучающихся
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link _active">
          Доступная среда
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          международное сотрудничество
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
      </div>

      <div class="doc-container">
        <div class="doc-inner">
          <h3 class="doc-inner__title">
            ИНФОРМАЦИЯ О СПЕЦИАЛЬНЫХ УСЛОВИЯХ ДЛЯ ОБУЧЕНИЯ ЛИЦ С ОГРАНИЧЕННЫМИ ВОЗМОЖНОСТЯМИ ЗДОРОВЬЯ
          </h3>

          <div class="doc-info">
            <div class="doc-info__content">
              <div class="doc-info-item">
                <h5>О специально оборудованных учебных кабинетах</h5>
                <p>
                  В колледже создан специализированный учебный кабинет для занятий с инвалидами и лицами ОВЗ. Он
                  оборудован современными техническими средствами (компьютеры, телевизионными панелями, видеопроекторами
                  и д.т.), которые позволяют осуществлять мультимедейное представление учебного материала, увеличение
                  шрифта изучаемых учебных и методических материалов для слабовидящих, дублирование его содержания
                  посредством аудиосистемы. Обучающиеся с нарушением слуха имеют возможность с помощью акустической
                  системы с помощью персональных наушников усиления громкости звука. Кроме того, звуковая информация для
                  них дублируется визуальными средствами. Для инвалидов с нарушениями опорно-двигательного аппарата
                  предусмотрено специальные посадочные места. Все это обеспечивает комфортность освоения инвалидами и
                  лицами с ОВЗ избранных ими образовательных программ.
                </p>
              </div>
              <div class="doc-info-item">
                <h5>
                  Об объектах для проведения практических занятий, приспособленных для использования инвалидами и лицами
                  с ограниченными возможностями здоровья
                </h5>
                <p>
                  Помещение для проведения практических занятий в колледже доступно для всех лиц с ограниченными
                  возможностями здоровья.Заключен договор на пользование административно-производственными площадями
                  (производственные мастерские), согласно договора от 15.10.2018г., которые адаптированы для лиц с
                  ограниченными возможностями здоровья.ул. Новикова-Прибоя, д.2 — административно-производственные
                  площади — 432,5 кв.м.
                </p>
              </div>
              <div class="doc-info-item">
                <h5>
                  О библиотеке(ах), приспособленных для использования инвалидами и лицами с ограниченными возможностями
                  здоровья
                </h5>
                <p>
                  При получении образования обучающимся с ограниченными возможностями здоровья библиотекой колледжа
                  предоставляются бесплатно учебники и учебные пособия, обеспечивающие учебно-воспитательный процесс,
                  обеспечивает справочной, периодическими изданиями и информационными материалами, способствующими в том
                  числе распространению знаний, духовного и интеллектуального общения и культуры, основанной на
                  личностно-ориентированном подходе.
                </p>
              </div>
              <div class="doc-info-item">
                <h5>
                  Об объектах спорта приспособленных для использования инвалидами и лицами с ограниченными возможностями
                  здоровья
                </h5>
                <p>
                  В колледже оборудован лазерный тир и спортивный зал.Все объекты спортивной и инфраструктуры колледжа
                  адаптированы для обучающихся с особыми образовательными потребностями.Обучающиеся с ограниченными
                  возможностями здоровья занимаются физической культурой со снижением физической нагрузки и в
                  соответствии с рекомендациями врача.Дополнительно для проведения физкультурно-оздоровительных
                  мероприятий заключен договор № ЦРИА/04А/3470/20/0011584 от 21.08.2020г. на использование спортивного
                  зала и легкоатлетического манежа.
                </p>
                <p>
                  Спортивные сооружения по адресу:ул. Движенцев, д.16, литера Б — спортивный зал — 648,0 кв.м.ул.
                  Кольцевая – легкоатлетический манеж — 105,0 кв.м.Спортивный зал оборудован: гимнастическими стенками,
                  баскетбольными щитами, турниками и спортивным инвентарем (футбольные, волейбольные, баскетбольные
                  мячи, гантели, гимнастические снаряды, столы для настольного тенниса, шахматы, шашки, ракетки, мячики
                  для настольного тенниса, сетки для настольного тенниса, сетки для волейбола), гимнастическими матами,
                  волейбольными стойками, ковриками, скамейками, инвентарь для бадминтона (стойки, сетка, ракетки,
                  воланы), утяжелители, инвентарь для метания, силовые тренажеры.
                </p>
              </div>
              <div class="doc-info-item">
                <h5>
                  О средствах обучения и воспитания, приспособленных для использования инвалидами и лицами
                  с ограниченными возможностями здоровья
                </h5>
                <p>
                  Электронные образовательные ресурсыВ колледже организован свободный доступ к интернету, электронным
                  образовательным ресурсам в специально оборудованных кабинетах, приспособленных для лиц с ОВЗ и
                  обучающихся.Помещения адаптированы для обучающихся с особыми образовательными потребностями:
                  мультимедийные системы, бегущая строка, FM системы.

                </p>
                <p>
                  — в колледже ведется комплексное сопровождение образовательного процесса лиц с ограниченными
                  возможностями здоровья, <br>
                  — помощь в организации самостоятельной работы (при заболеваниях), <br>
                  — организация индивидуальных консультаций, <br>
                  — содействие в прохождении промежуточной аттестации (зачетов, экзаменов, ликвидации академических
                  задолженностей), <br>
                  — консультирование,— коррекция трудных ситуаций (для имеющих проблемы в обучении, общении и социальной
                  адаптации), <br>
                  — помощь в решении бытовых проблем обучающихся.
                </p>
              </div>
              <div class="doc-info-item">
                <h5>
                  Об обеспечении беспрепятственного доступа в здания образовательной организации
                </h5>
                <p>
                  Для лиц с ограниченными возможностями здоровья в колледже организована доступная среда:
                </p>
                <p>
                  — оборудована стоянка (парковка) личного автотранспорта, расположенная в шаговой доступности от
                  входной группы, <br>
                  — установлен пандус, <br>
                  — имеется лестничный электроподъемник, помогающий преодолеть
                  лестничный марш, <br>
                  — кнопка-вызова сотрудника для сопровождения по колледжу, <br>
                  — оборудовано
                  санитарно-гигиеническое помещение, <br>
                  — установлена бегущая строка, <br>
                  — нанесена контрастная маркировка и
                  разметка на специально оборудованные помещения, <br>
                  — размещены носители информации, необходимой для
                  беспрепятственного доступа лиц с ограниченными возможностями здоровья к объектам и услугам, с учетом
                  ограничений их жизнедеятельности, <br>
                  — реализуется обучение по индивидуальным программам с использованием
                  Интернет-ресурсов.
                </p>
              </div>
              <div class="doc-info-item">
                <h5>
                  О специальных условиях питания
                </h5>
                <p>
                  Для обучающихся и работников колледжа организовано питание, соответствующее нормам
                  санитарно-эпидемиалогического надзора.Буфет оборудован с учетом архитектурной доступности для лиц с
                  ОВЗ.
                </p>
              </div>
              <div class="doc-info-item">
                <h5>
                  О специальных условиях охраны здоровья
                </h5>
                <p>
                  В колледже оборудован медицинский кабинет. Медицинские услуги оказывает ООО «МЦ Дент Вест», в
                  соответствии с договором оказания медицинских услуг от 15.04.2021г.Все помещения оборудованы
                  мобильными дезинфекторами воздуха, санитайзерами, средствами индивидуальной защиты.
                </p>
              </div>
              <div class="doc-info-item">
                <h5>
                  О доступе к информационным системам и информационно-телекоммуникационным сетям, приспособленных для
                  использования инвалидами и лицами с ограниченными возможностями здоровья
                </h5>
                <p>
                  В колледже организован доступ к интернету в специально оборудованных кабинетах для обучающихся с
                  особыми образовательными потребностями.Работает локальная сеть, установлены точки Wi-Fi.Технология
                  подключения к сети – оптоволоконная (FTTB), скорость передачи данных до 70 Мбит/с, кабельная сеть до
                  100Мбит/с.
                </p>
              </div>
              <div class="doc-info-item">
                <h5>
                  Об электронных образовательных ресурсах, к которым обеспечивается доступ инвалидов и лиц
                  с ограниченными возможностями здоровья
                </h5>
                <p>
                  В колледже организован доступ к интернету в специально оборудованных кабинетах для свободного доступа
                  к электронным образовательным ресурсам:
                </p>
                <p>
                  — электронный информационно-образовательный сайт «Личная студия», <br>
                  — открытая автоматизированная система
                  «Оазис», <br>
                  — ресурсы библиотеки информационно-образовательных ресурсов, <br>
                  — ресурсы электронно-библиотечной
                  системы IPRbooks, <br>
                  — ресурсы электронно-библиотечной системы «Лекта», <br>
                  — электронные образовательные
                  ресурсы информационно-коммуникационной сети Интернет, <br>
                  — программные и учебно-методические материалы, <br>
                  — электронные учебники, <br>
                  — вводные и модульные лекции, выполненные в виде теле-лекций (электронных
                  лекций), слайд-лекций и аудио-лекций, <br>
                  — информационные и методические материалы по коллективным
                  тренингам, <br>
                  — обучающие компьютерные программы, <br>
                  — профессиональные лабораторные работы, <br>
                  — тестовые базы
                  для оперативного тестирования и тренинга, <br>
                  — базы вопросов промежуточной аттестации, <br>
                  — информационная
                  система «Ровеб-дидактика» — это технология дистанционного обучения в колледже, которая расширяет
                  возможности обучающихся рационально использовать свое время.
                </p>
                <p>
                  Информационные технологии включают следующие программные роботизированные системы: Ровеб-онлайн,
                  Ровеб-офлайн, ИР «КАСКАД», ПК КОП, ПО «ЛиК», использующие дата-центры ИИС «Луч», которые обеспечивают
                  образовательный процесс, поддерживают учебные занятия различного вида и аттестации различного уровня и
                  обслуживает сайт колледжа.
                </p>
              </div>
              <div class="doc-info-item">
                <h5>
                  О наличии специальных технических средств обучения коллективного и индивидуального пользования
                </h5>
                <p>
                  Материально-техническое обеспечение инклюзивного образования реализовано через специализированное
                  оборудование и комплексные технические решения для формирования физической доступности колледжа и
                  доступности образовательного процесса.
                </p>
                <p>
                  Созданные условия обеспечивают получение качественного и востребованного профессионального образования
                  лицами с ограниченными возможностями здоровья, способствуют коррекции нарушений развития и социальной
                  адаптации, оказанию коррекционной помощи на основе специальных педагогических подходов и наиболее
                  подходящих методов и условий, посредством организации инклюзивного образования лиц с ограниченными
                  возможностями к обучению.
                </p>
                <p>
                  В рамках программы «Доступная среда» колледж оснащен учебным, компьютерным оборудованием для
                  организации коррекционной работы и обучения инвалидов по слуху, зрению и с нарушениями
                  опорно-двигательного аппарата.
                </p>
                <p>
                  Для обучающихся с различной степенью потери слуха в колледже организована максимально адаптивная
                  образовательная среда: индукционная петля, аудиокласс, информационное табло «бегущая строка».
                </p>
                <p>
                  Для обучающихся с нарушенной функцией зрения, нарушениями опорно-двигательного аппарата представлены
                  адаптированные электро-механические устройства ввода для ПК, увеличительные устройства, аудиопособия,
                  адаптированная мебель.
                </p>
              </div>
              <div class="doc-info-item">
                <h5>
                  О наличии условий для беспрепятственного доступа в общежитие, интернат
                </h5>
                <p>
                  Общежития в колледже нет.
                </p>
              </div>
              <div class="doc-info-item">
                <h5>
                  О количестве жилых помещений в общежитии, интернате, приспособленных для использования инвалидами и
                  лицами с ограниченными возможностями здоровья
                </h5>
                <p>
                  Общежития в колледже нет.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="doc-info">
          <div class="doc-info__content">
            <div class="doc-info-item">
              <h4>НОРМАТИВНЫЕ ДОКУМЕНТЫ</h4>
            </div>
            <div class="doc-info-item">
              <ul>
                <li data-doc-type=".pdf">
                  <a href="#">
                    ФЗ от 29.12.12 № 273-ФЗ «Об образовании в Российской Федерации»
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Государственная программа Российской Федерации «Доступная среда» на 2011 — 2015 годы
                  </a>
                </li>
              </ul>
            </div>
            <div class="doc-info-item">
              <ul>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Справка ООО «Ральф Кинолог» от 26.04.2021
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Договор о сотрудничестве от 17.08.2020 ОООИ «Образование для инвалидов»
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Акт Обследования объекта действующей инфраструктуры в г. Нижнем Новгороде
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Приказ № 8К от 16.02.2020 «О проведении комплекса мероприятий по обеспечению условий доступности
                    объектов»
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Инструкция по обучению сотрудников, работающих с лицами с ОВЗ в ЧПОУ НГТК
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- <div class="doc-images">
          <div class="doc-images-item">
            <a href="./assets/images/doc/doc-1.jpg" class="doc-images-item__img" data-fancybox>
              <img src="./assets/images/doc/doc-1.jpg" alt="img">
            </a>
            <p class="doc-images-item__text">
              Входная группа оборудованная для лиц с ограниченными возможностями здоровья.
            </p>
          </div>
          <div class="doc-images-item">
            <a href="./assets/images/doc/doc-2.jpg" class="doc-images-item__img" data-fancybox>
              <img src="./assets/images/doc/doc-2.jpg" alt="img">
            </a>
            <p class="doc-images-item__text">
              Входная группа оборудованная для лиц с ограниченными возможностями здоровья.
            </p>
          </div>
          <div class="doc-images-item">
            <a href="./assets/images/doc/doc-3.jpg" class="doc-images-item__img" data-fancybox>
              <img src="./assets/images/doc/doc-3.jpg" alt="img">
            </a>
            <p class="doc-images-item__text">
              Место ожидания собаки — поводыря.
            </p>
          </div>
          <div class="doc-images-item doc-images-item_h-2">
            <a href="./assets/images/doc/doc-5.jpg" class="doc-images-item__img" data-fancybox>
              <img src="./assets/images/doc/doc-5.jpg" alt="img">
            </a>
            <p class="doc-images-item__text">
              Место ожидания собаки — поводыря.
            </p>
          </div>
          <div class="doc-images-item">
            <a href="./assets/images/doc/doc-4.jpg" class="doc-images-item__img" data-fancybox>
              <img src="./assets/images/doc/doc-4.jpg" alt="img">
            </a>
            <p class="doc-images-item__text">
              Подъемник для инвалидных колясок и кресло-каталка.
            </p>
          </div>
          <div class="doc-images-item doc-images-item_h-2">
            <a href="./assets/images/doc/doc-6.jpg" class="doc-images-item__img" data-fancybox>
              <img src="./assets/images/doc/doc-6.jpg" alt="img">
            </a>
            <p class="doc-images-item__text">
              Вход в учебную аудиторию.
            </p>
          </div>
          <div class="doc-images-item doc-images-item_h-2">
            <a href="./assets/images/doc/doc-7.jpg" class="doc-images-item__img" data-fancybox>
              <img src="./assets/images/doc/doc-7.jpg" alt="img">
            </a>
            <p class="doc-images-item__text">
              Специально оборудованное учебное место для работы в электронной образовательной среде для лиц с
              ограниченными возможностями здоровья.
            </p>
          </div>
          <div class="doc-images-item doc-images-item_h-2">
            <a href="./assets/images/doc/doc-8.jpg" class="doc-images-item__img" data-fancybox>
              <img src="./assets/images/doc/doc-8.jpg" alt="img">
            </a>
            <p class="doc-images-item__text">
              Специально оборудованное учебное место для работы в электронной образовательной среде для лиц с
              ограниченными возможностями здоровья.
            </p>
          </div>
          <div class="doc-images-item">
            <a href="./assets/images/doc/doc-9.jpg" class="doc-images-item__img" data-fancybox>
              <img src="./assets/images/doc/doc-9.jpg" alt="img">
            </a>
            <p class="doc-images-item__text">
              Санитарный узел для лиц с ограниченными возможностями здоровья.
            </p>
          </div>
          <div class="doc-images-item">
            <a href="./assets/images/doc/doc-10.jpg" class="doc-images-item__img" data-fancybox>
              <img src="./assets/images/doc/doc-10.jpg" alt="img">
            </a>
            <p class="doc-images-item__text">
              Вход в санитарный узел для лиц с ограниченными возможностями здоровья.
            </p>
          </div>
          <div class="doc-images-item doc-images-item_h-2 doc-images-item_w-2">
            <a href="./assets/images/doc/doc-11.jpg" class="doc-images-item__img" data-fancybox>
              <img src="./assets/images/doc/doc-11.jpg" alt="img">
            </a>
            <p class="doc-images-item__text">
              Парковочные места оборудованная для лиц с ограниченными возможностями здоровья.
            </p>
          </div>
        </div> -->

        <div class="doc-images">
          <div class="doc-images-box">
            <div class="doc-images-item">
              <a href="./assets/images/doc/doc-1.jpg" class="doc-images-item__img" data-fancybox>
                <img src="./assets/images/doc/doc-1.jpg" alt="img">
              </a>
              <p class="doc-images-item__text">
                Входная группа оборудованная для лиц с ограниченными возможностями здоровья.
              </p>
            </div>
            <div class="doc-images-item">
              <a href="./assets/images/doc/doc-2.jpg" class="doc-images-item__img" data-fancybox>
                <img src="./assets/images/doc/doc-2.jpg" alt="img">
              </a>
              <p class="doc-images-item__text">
                Входная группа оборудованная для лиц с ограниченными возможностями здоровья.
              </p>
            </div>
          </div>
          <div class="doc-images-box doc-images-box_3">
            <div class="doc-images-item">
              <a href="./assets/images/doc/doc-3.jpg" class="doc-images-item__img" data-fancybox>
                <img src="./assets/images/doc/doc-3.jpg" alt="img">
              </a>
              <p class="doc-images-item__text">
                Место ожидания собаки — поводыря.
              </p>
            </div>
            <div class="doc-images-item">
              <a href="./assets/images/doc/doc-4.jpg" class="doc-images-item__img" data-fancybox>
                <img src="./assets/images/doc/doc-4.jpg" alt="img">
              </a>
              <p class="doc-images-item__text">
                Подъемник для инвалидных колясок и кресло-каталка.
              </p>
            </div>
            <div class="doc-images-item">
              <a href="./assets/images/doc/doc-5.jpg" class="doc-images-item__img" data-fancybox>
                <img src="./assets/images/doc/doc-5.jpg" alt="img">
              </a>
              <p class="doc-images-item__text">
                Место ожидания собаки — поводыря.
              </p>
            </div>
          </div>
          <div class="doc-images-box doc-images-box_big">
            <div class="doc-images-item">
              <a href="./assets/images/doc/doc-6.jpg" class="doc-images-item__img" data-fancybox>
                <img src="./assets/images/doc/doc-6.jpg" alt="img">
              </a>
              <p class="doc-images-item__text">
                Вход в учебную аудиторию.
              </p>
            </div>
            <div class="doc-images-item">
              <a href="./assets/images/doc/doc-7.jpg" class="doc-images-item__img" data-fancybox>
                <img src="./assets/images/doc/doc-7.jpg" alt="img">
              </a>
              <p class="doc-images-item__text">
                Специально оборудованное учебное место для работы в электронной образовательной среде для лиц с
                ограниченными возможностями здоровья.
              </p>
            </div>
          </div>
          <div class="doc-images-box doc-images-box_3">
            <div class="doc-images-item">
              <a href="./assets/images/doc/doc-8.jpg" class="doc-images-item__img" data-fancybox>
                <img src="./assets/images/doc/doc-8.jpg" alt="img">
              </a>
              <p class="doc-images-item__text">
                Специально оборудованное учебное место для работы в электронной образовательной среде для лиц с
                ограниченными возможностями здоровья.
              </p>
            </div>
            <div class="doc-images-item">
              <a href="./assets/images/doc/doc-9.jpg" class="doc-images-item__img" data-fancybox>
                <img src="./assets/images/doc/doc-9.jpg" alt="img">
              </a>
              <p class="doc-images-item__text">
                Санитарный узел для лиц с ограниченными возможностями здоровья.
              </p>
            </div>
            <div class="doc-images-item">
              <a href="./assets/images/doc/doc-10.jpg" class="doc-images-item__img" data-fancybox>
                <img src="./assets/images/doc/doc-10.jpg" alt="img">
              </a>
              <p class="doc-images-item__text">
                Вход в санитарный узел для лиц с ограниченными возможностями здоровья.
              </p>
            </div>
          </div>
          <div class="doc-images-box doc-images-box_big">
            <div class="doc-images-item">
              <a href="./assets/images/doc/doc-11.jpg" class="doc-images-item__img" data-fancybox>
                <img src="./assets/images/doc/doc-11.jpg" alt="img">
              </a>
              <p class="doc-images-item__text">
                Парковочные места оборудованная для лиц с ограниченными возможностями здоровья.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>