<section class="information">
  <div class="container">

    <div class="page-info">
      <div class="page-info-nav">
        <a href="#" class="page-info-nav__link">
          Главная
        </a>
        <a href="#" class="page-info-nav__link">
          Сведения об образовательной организации
        </a>
      </div>

      <h1 class="page-info__title">
        Сведения об образовательной организации
      </h1>
    </div>

    <div class="doc">
      <div class="doc-nav">
        <a href="#" class="doc-nav__link">
          Основные сведения
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Структура и органы управления образовательной организацией
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Документы
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Образование
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          образовательные стандарты и требования
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Руководство. Педагогический (научно-педагогический) состав
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Материально-техническое обеспечение и оснащенность образовательного процесса
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Стипендии и МЕРЫ ПОДДЕРЖКИ ОБУЧАЮЩИХСЯ
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          платные образовательные услуги
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Финансово-хозяйственная деятельность
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link _active">
          вакантные места для приема (перевода) обучающихся
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Доступная среда
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          международное сотрудничество
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
      </div>

      <div class="doc-container">
        <div class="doc-info">
          <div class="doc-info__content">
            <div class="doc-info-item">
              <p>
                Нижегородский гуманитарно-технический колледж является частным образовательным учреждением и не имеет
                бюджетного финансирования, поэтому в ЧПОУ «НГТК» бюджетных мест нет.
              </p>
            </div>
            <div class="doc-info-item">
              <ul>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Правила приема на 2022 – 2023 учебный год в Частное профессиональное образовательное учреждение
                    «Нижегородский гуманитарно-технический колледж» (ЧПОУ НГТК) ред. от 04.07.2022
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    План приема на места по договорам об оказании платных образовательных услуг по специальностям
                    среднего профессионального образования для обучения по имеющим государственную аккредитацию
                    образовательным программам подготовки специалистов среднего звена на 2022/2023 учебный год в
                    Частное
                    профессиональное образовательное учреждение Нижегородский гуманитарно-технический колледж (ЧПОУ
                    НГТК) ред. от 04.07.2022
                  </a>
                </li>
              </ul>
            </div>
            <div class="doc-info-item">
              <ul>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Правила приема на 2021 – 2022 учебный год в Частное профессиональное образовательное учреждение
                    «Нижегородский гуманитарно-технический колледж» (ЧПОУ НГТК) ред. от 17.09.2021
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    План приема на места по договорам об оказании платных образовательных услуг по специальностям
                    среднего профессионального образования для обучения по имеющим государственную аккредитацию
                    образовательным программам подготовки специалистов среднего звена на 2021/2022 учебный год в Частное
                    профессиональное образовательное учреждение Нижегородский гуманитарно-технический колледж (ЧПОУ
                    НГТК) (ред. 28.05.2021)
                  </a>
                </li>
              </ul>
            </div>
            <div class="doc-info-item">
              <ul>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Правила приема на 2020 – 2021 учебный год в Частное профессиональное образовательное учреждение
                    «Нижегородский гуманитарно-технический колледж» (ЧПОУ НГТК) ред. от 09.11.2020
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    План приема на места по договорам об оказании платных образовательных услуг по специальностям
                    среднего профессионального образования для обучения по имеющим государственную аккредитацию
                    образовательным программам подготовки специалистов среднего звена на 2020/2021 учебный год в Частное
                    профессиональное образовательное учреждение Нижегородский гуманитарно-технический колледж (ЧПОУ
                    НГТК)
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="doc-inner">
          <h3 class="doc-inner__title">
            Количество вакантных мест по специальностям на 05 июля 2022 г. по договорам об образовании за счет средств
            физических и (или) юридических лиц
          </h3>

          <div class="doc-table doc-table_3">
            <table class="doc-table__inner">
              <thead>
                <tr>
                  <th>
                    Код специальности
                  </th>
                  <th>
                    Наименование спецальности
                  </th>
                  <th>
                    Курс
                  </th>
                  <th>
                    На базе 9 классов

                    <table>
                      <tr>
                        <th>
                          Очная форма обучения
                        </th>
                        <th>
                          Заочная форма обучения
                        </th>
                      </tr>
                    </table>
                  </th>
                  <th>
                    На базе 11 классов

                    <table>
                      <tr>
                        <th>
                          Очная форма обучения
                        </th>
                        <th>
                          Заочная форма обучения
                        </th>
                      </tr>
                    </table>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    09.02.05
                  </td>
                  <td>
                    Прикладная информатика (по отраслям)
                  </td>
                  <td>
                    3
                  </td>
                  <td>
                    <table>
                      <tr>
                        <td>7</td>
                        <td>5</td>
                      </tr>
                    </table>
                  </td>
                  <td>
                    <table>
                      <tr>
                        <td>6</td>
                        <td>3</td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    21.02.04
                  </td>
                  <td>
                    Землеустройство
                  </td>
                  <td>
                    3
                  </td>
                  <td>
                    <table>
                      <tr>
                        <td>5</td>
                        <td>6</td>
                      </tr>
                    </table>
                  </td>
                  <td>
                    <table>
                      <tr>
                        <td>6</td>
                        <td>9</td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    21.02.05
                  </td>
                  <td>
                    Земельно-имущественные отношения
                  </td>
                  <td>
                    3
                  </td>
                  <td>
                    <table>
                      <tr>
                        <td>0</td>
                        <td>9</td>
                      </tr>
                    </table>
                  </td>
                  <td>
                    <table>
                      <tr>
                        <td>2</td>
                        <td>6</td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>