<section class="information">
  <div class="container">

    <div class="page-info">
      <div class="page-info-nav">
        <a href="#" class="page-info-nav__link">
          Главная
        </a>
        <a href="#" class="page-info-nav__link">
          Сведения об образовательной организации
        </a>
      </div>

      <h1 class="page-info__title">
        Сведения об образовательной организации
      </h1>
    </div>

    <div class="doc">
      <div class="doc-nav">
        <a href="#" class="doc-nav__link _active">
          Основные сведения
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Структура и органы управления образовательной организацией
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Документы
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Образование
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          образовательные стандарты и требования
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Руководство. Педагогический (научно-педагогический) состав
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Материально-техническое обеспечение и оснащенность образовательного процесса
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Стипендии и МЕРЫ ПОДДЕРЖКИ ОБУЧАЮЩИХСЯ
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          платные образовательные услуги
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Финансово-хозяйственная деятельность
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          вакантные места для приема (перевода) обучающихся
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Доступная среда
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          международное сотрудничество
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
      </div>

      <div class="doc-container">
        <div class="doc-info">
          <div class="doc-info__content">
            <div class="doc-info-item">
              <h4>О нас</h4>
              <p>
                Частное профессиональное образовательное учреждение «Нижегородский гуманитарно-технический колледж»
                (ЧПОУ НГТК, Колледж) — молодая, но динамично развивающаяся образовательная организация среднего
                профессионального образования. Нижегородский гуманитарно-технический колледж реализует не только
                образовательные программы подготовки специалистов среднего звена, но и программы профессионального
                образования идополнительного образования взрослых и детей.
              </p>
              <p>
                Колледж использует в своей образовательной деятельности уникальные технологии дистанционного обучения,
                не имеющие аналогов среди образовательных организаций среднего профессионального образования региона.
                ЧПОУ НГТК реализует обучение по самым востребованным и современным специальностям: «Правоохранительная
                деятельность», «Экономика и бухгалтерский учет (по отраслям)», «Операционная деятельность в логистике»,
                «Земельно-имущественные отношения», «Землеустройство», «Геология и разведка нефтяных и газовых
                месторождений», «Техническое обслуживание и ремонт автомобильного транспорта», «Право и организация
                социального обеспечения», «Прикладная информатика (по отраслям)» и «Дошкольное образование».
              </p>
              <p>
                Основными преимуществами нашего учебного заведения являются: современные программы обучения по
                востребованным специальностям, возможность получения параллельного образования одновременно с
                продолжением обучения в школе, получение диплома государственного образца, отсрочка от службы в армии,
                прохождение практики студентами с дальнейшим трудоустройством, продолжение образования в
                вузах-партнерах.
              </p>
              <p>
                Если Вы хотите стать отличным юристом, квалифицированным бухгалтером, знающим специалистом в области
                земельно-имущественных отношений, креативным техником-программистом или хотите посвятить себя воспитанию
                и обучению детей, наш колледж ждет Вас и гарантирует Вам дорогу в будущее!
              </p>
            </div>
            <div class="doc-info-item">
              <h4>Полное наименование образовательной организации:</h4>
              <p>
                Частное профессиональное образовательное учреждение «Нижегородский гуманитарно-технический колледж»
              </p>
            </div>
            <div class="doc-info-item">
              <h4>Сокращенное наименование образовательной организации:</h4>
              <p>
                ЧПОУ НГТК
              </p>
            </div>
            <div class="doc-info-item">
              <h4>Дата создания образовательной организации:</h4>
              <p>
                16.04.2015
              </p>
            </div>
            <div class="doc-info-item">
              <h4>Учредитель:</h4>
              <p>
                ООО Информационно-консультационный центр «Дидактинформ»
              </p>
            </div>
            <div class="doc-info-item">
              <h4>Организационно-правовая форма:</h4>
              <p>
                Учреждение
              </p>
            </div>
            <div class="doc-info-item">
              <h4>Тип учреждения:</h4>
              <p>
                Частное
              </p>
            </div>
            <div class="doc-info-item">
              <h4>Тип образовательной организации:</h4>
              <p>
                Профессиональная образовательная организация
              </p>
            </div>
            <div class="doc-info-item">
              <h4>Местонахождение колледжа:</h4>
              <p>
                603122, г. Нижний Новгород, ул. Ванеева д. 205
              </p>
            </div>
            <div class="doc-info-item">
              <h4>Места осуществления образовательной деятельности:</h4>
              <ul>
                <li>
                  603122, Нижегородская область, г. Нижний Новгород, ул. Ванеева, д.205, пом. 12;
                </li>
                <li>
                  603122, Нижегородская область, г. Нижний Новгород, ул. Ванеева, д.205, пом. 10;
                </li>
                <li>
                  603122, Нижегородская область, г. Нижний Новгород, ул. Богородского д.7, корпус 2, помещение 11;
                </li>
                <li>
                  603122, Нижегородская область, г. Нижний Новгород, ул. Богородского д.7, корпус 2, помещение П4;
                </li>
                <li>
                  603033, Нижегородская область, г. Нижний Новгород, ул. Движенцев, д.17, литера Б;
                </li>
                <li>
                  603033, Нижегородская область, г. Нижний Новгород, ул. Движенцев, д.17, литера В;
                </li>
                <li>
                  603033, Нижегородская область, г. Нижний Новгород, ул. Кольцевая;
                </li>
                <li>
                  603064, Нижегородская область, г. Нижний Новгород, ул. Новикова-Прибоя, д.2;
                </li>
                <li>
                  607600, Нижегородская область, г. Богородск, ул. Ленина, д.218А;
                </li>
                <li>
                  606084, Нижегородская область, Володарский район, п. Новосмолиский, ул. Танковая, д.23.
                </li>
              </ul>
            </div>
            <div class="doc-info-item">
              <h4>Режим и график работы:</h4>
              <p>
                С понедельника по пятницу с 09:00 до 17:30. Перерыв 13:00-13:30
              </p>
            </div>
            <div class="doc-info-item">
              <h4>Контактная информация:</h4>
              <p>
                Официальный сайт: <a href="#">www.ngtk.info</a>
              </p>
              <p>
                Электронный адрес: <a href="#">chpoungtk@mail.ru</a>
              </p>
              <p>
                Телефон: <a href="#">+7 (831) 416-30-61</a>
              </p>
              <p>
                Факс: <a href="#">+7 (831) 417-71-22</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>