<section class="information">
  <div class="container">

    <div class="page-info">
      <div class="page-info-nav">
        <a href="#" class="page-info-nav__link">
          Главная
        </a>
        <a href="#" class="page-info-nav__link">
          Сведения об образовательной организации
        </a>
      </div>

      <h1 class="page-info__title">
        Сведения об образовательной организации
      </h1>
    </div>

    <div class="doc">
      <div class="doc-nav">
        <a href="#" class="doc-nav__link">
          Основные сведения
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Структура и органы управления образовательной организацией
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Документы
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Образование
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          образовательные стандарты и требования
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link _active">
          Руководство. Педагогический (научно-педагогический) состав
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Материально-техническое обеспечение и оснащенность образовательного процесса
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Стипендии и МЕРЫ ПОДДЕРЖКИ ОБУЧАЮЩИХСЯ
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          платные образовательные услуги
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Финансово-хозяйственная деятельность
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          вакантные места для приема (перевода) обучающихся
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Доступная среда
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          международное сотрудничество
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
      </div>

      <div class="doc-container">
        <div class="doc-contacts doc-table">
          <div class="doc-table__container">
            <div class="doc-contacts-head doc-contacts-item">
              <div class="doc-contacts-head__text doc-contacts-item__inner">
                №
              </div>
              <div class="doc-contacts-head__text doc-contacts-item__inner">
                ФИО
              </div>
              <div class="doc-contacts-head__text doc-contacts-item__inner">
                Должность
              </div>
              <div class="doc-contacts-head__text doc-contacts-item__inner">
                Контактный телефон
              </div>
              <div class="doc-contacts-head__text doc-contacts-item__inner">
                Электронная почта
              </div>
            </div>

            <div class="doc-contacts-item">
              <div class="doc-contacts-item__text doc-contacts-item__inner">
                1
              </div>
              <div class="doc-contacts-item__text doc-contacts-item__inner">
                Ким Наталья Олеговна
              </div>
              <div class="doc-contacts-item__text doc-contacts-item__inner">
                Директор колледжа
              </div>
              <div class="doc-contacts-item__text doc-contacts-item__inner">
                +7 (831) 417-71-22 (доб. 137)
              </div>
              <div class="doc-contacts-item__text doc-contacts-item__inner">
                <a href="#">chpoungtk@mail.ru</a>
              </div>
            </div>
            <div class="doc-contacts-item">
              <div class="doc-contacts-item__text doc-contacts-item__inner">
                2
              </div>
              <div class="doc-contacts-item__text doc-contacts-item__inner">
                Зубаренко Сергей Владимирович
              </div>
              <div class="doc-contacts-item__text doc-contacts-item__inner">
                Заместитель директора
              </div>
              <div class="doc-contacts-item__text doc-contacts-item__inner">
                +7 (831) 417-71-22 (доб. 130)
              </div>
              <div class="doc-contacts-item__text doc-contacts-item__inner">
                <a href="#">chpoungtk@mail.ru</a>
              </div>
            </div>
            <div class="doc-contacts-item">
              <div class="doc-contacts-item__text doc-contacts-item__inner">
                3
              </div>
              <div class="doc-contacts-item__text doc-contacts-item__inner">
                Ражев Андрей Александрович
              </div>
              <div class="doc-contacts-item__text doc-contacts-item__inner">
                Главный бухгалтер колледжа
              </div>
              <div class="doc-contacts-item__text doc-contacts-item__inner">
                +7 (831) 417-71-22 (доб. 117)
              </div>
              <div class="doc-contacts-item__text doc-contacts-item__inner">
                <a href="#">chpoungtk@mail.ru</a>
              </div>
            </div>
          </div>
        </div>

        <div class="doc-info">
          <div class="doc-info__content">
            <div class="doc-info-item">
              <h4>Состав Педагогического совета ЧПОУ «НГТК»:</h4>
              <ul>
                <li>Ким Н.О. – директор колледжа</li>
                <li>Зубаренко С.В. — заместитель директора</li>
                <li>Белоус Н.М. — преподаватель</li>
                <li>Малькова О.Е. – преподаватель</li>
                <li>Белов С.Б. – преподаватель</li>
                <li>Кондратьев А.Е. — преподаватель</li>
                <li>Мастрюков В.А. — преподаватель</li>
                <li>Ражев А.А. – преподаватель</li>
                <li>Чиненков А.Ф.- преподаватель</li>
                <li>Лавочников Ю.Л. — преподаватель</li>
                <li>Ражева И.А. — преподаватель</li>
                <li>Свительская Е.А. — преподаватель</li>
                <li>Фролова А.C. — преподаватель</li>
                <li>Ястребов В.А. — преподаватель</li>
              </ul>
            </div>

            <div class="doc-info-item">
              <h4>Кадровое обеспечение образовательных программ:</h4>
              <ul>
                <li>
                  <a href="#">09.02.05 Прикладная информатика (по отраслям)</a>
                </li>
                <li>
                  <a href="#">21.02.04 Землеустройство</a>
                </li>
                <li>
                  <a href="#">21.02.05 Земельно-имущественные отношения</a>
                </li>
                <li>
                  <a href="#">21.02.10 Геология и разведка нефтяных и газовых месторождений</a>
                </li>
                <li>
                  <a href="#">23.02.03 Техническое обслуживание и ремонт автомобильного</a>
                </li>
                <li>
                  <a href="#">38.02.01 Экономика и бухгалтерский учет (по отраслям)</a>
                </li>
                <li>
                  <a href="#">38.02.03 Операционная деятельность в логистике</a>
                </li>
                <li>
                  <a href="#">40.02.01 Право и организация социального обеспечения</a>
                </li>
                <li>
                  <a href="#">40.02.02 Правоохранительная деятельность</a>
                </li>
                <li>
                  <a href="#">44.02.01 Дошкольное образование</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>