<section class="information">
  <div class="container">

    <div class="page-info">
      <div class="page-info-nav">
        <a href="#" class="page-info-nav__link">
          Главная
        </a>
        <a href="#" class="page-info-nav__link">
          Сведения об образовательной организации
        </a>
      </div>

      <h1 class="page-info__title">
        Сведения об образовательной организации
      </h1>
    </div>

    <div class="doc">
      <div class="doc-nav">
        <a href="#" class="doc-nav__link">
          Основные сведения
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Структура и органы управления образовательной организацией
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Документы
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Образование
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          образовательные стандарты и требования
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Руководство. Педагогический (научно-педагогический) состав
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Материально-техническое обеспечение и оснащенность образовательного процесса
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Стипендии и МЕРЫ ПОДДЕРЖКИ ОБУЧАЮЩИХСЯ
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          платные образовательные услуги
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Финансово-хозяйственная деятельность
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          вакантные места для приема (перевода) обучающихся
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Доступная среда
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link _active">
          международное сотрудничество
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
      </div>

      <div class="doc-container">
        <div class="doc-inner">
          <h3 class="doc-inner__title">
            Информация о заключенных и планируемых к заключению договорах с иностранными и (или) международными
            организациями по вопросам образования и науки
          </h3>
          <div class="doc-plans">
            <div class="doc-plans-head doc-plans-item">
              <div class="doc-plans-head__text doc-plans-item__inner">
                Название государства
              </div>
              <div class="doc-plans-head__text doc-plans-item__inner">
                Наименование организации
              </div>
              <div class="doc-plans-head__text doc-plans-item__inner">
                Реквизиты договора (наименование, дата, номер, срок действия)
              </div>
            </div>
            <div class="doc-plans-item">
              <div class="doc-plans-item__text doc-plans-item__inner">
                Беларусь, г. Бобруйск
              </div>
              <div class="doc-plans-item__text doc-plans-item__inner">
                ИП Пирогова И.В.
              </div>
              <div class="doc-plans-item__text doc-plans-item__inner">
                Соглашение о сотрудничестве и взаимодействии по направлениям деятельности организации, 15.01.2021 г.,
                неопределенный срок
              </div>
            </div>
            <div class="doc-plans-item">
              <div class="doc-plans-item__text doc-plans-item__inner">
                Казахстан, г. Караганда
              </div>
              <div class="doc-plans-item__text doc-plans-item__inner">
                Частное учреждение «Информационные технологии и инновации»
              </div>
              <div class="doc-plans-item__text doc-plans-item__inner">
                Соглашение о сотрудничестве и взаимодействии по направлениям деятельности организации, 15.01.2021 г.,
                неопределенный срок
              </div>
            </div>
            <div class="doc-plans-item">
              <div class="doc-plans-item__text doc-plans-item__inner">
                Казахстан, г. Нур-Султан
              </div>
              <div class="doc-plans-item__text doc-plans-item__inner">
                Частное учреждение «Информационные технологии и инновации» (ЧУ ИТИ)
              </div>
              <div class="doc-plans-item__text doc-plans-item__inner">
                Соглашение о сотрудничестве и взаимодействии по направлениям деятельности организации, 15.01.2021 г.,
                неопределенный срок
              </div>
            </div>
            <div class="doc-plans-item">
              <div class="doc-plans-item__text doc-plans-item__inner">
                Республика Молдова, мун. Кишинэу
              </div>
              <div class="doc-plans-item__text doc-plans-item__inner">
                Общество с ограниченной ответственностью «Total Digital» SRL
              </div>
              <div class="doc-plans-item__text doc-plans-item__inner">
                Соглашение о сотрудничестве и взаимодействии по направлениям деятельности организации, 15.01.2021 г.,
                неопределенный срок
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>