<section class="information">
  <div class="container">

    <div class="page-info">
      <div class="page-info-nav">
        <a href="#" class="page-info-nav__link">
          Главная
        </a>
        <a href="#" class="page-info-nav__link">
          Сведения об образовательной организации
        </a>
      </div>

      <h1 class="page-info__title">
        Сведения об образовательной организации
      </h1>
    </div>

    <div class="doc">
      <div class="doc-nav">
        <a href="#" class="doc-nav__link">
          Основные сведения
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Структура и органы управления образовательной организацией
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Документы
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Образование
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          образовательные стандарты и требования
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Руководство. Педагогический (научно-педагогический) состав
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Материально-техническое обеспечение и оснащенность образовательного процесса
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Стипендии и МЕРЫ ПОДДЕРЖКИ ОБУЧАЮЩИХСЯ
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          платные образовательные услуги
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Финансово-хозяйственная деятельность
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link _active">
          вакантные места для приема (перевода) обучающихся
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Доступная среда
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          международное сотрудничество
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
      </div>

      <div class="doc-container">
        <div class="doc-info">
          <div class="doc-info__content">
            <div class="doc-info-item">
              <p>
                Нижегородский гуманитарно-технический колледж является частным образовательным учреждением и не имеет
                бюджетного финансирования, поэтому в ЧПОУ «НГТК» бюджетных мест нет.
              </p>
            </div>
            <div class="doc-info-item">
              <ul>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Правила приема на 2022 – 2023 учебный год в Частное профессиональное образовательное учреждение
                    «Нижегородский гуманитарно-технический колледж» (ЧПОУ НГТК) ред. от 04.07.2022
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    План приема на места по договорам об оказании платных образовательных услуг по специальностям
                    среднего профессионального образования для обучения по имеющим государственную аккредитацию
                    образовательным программам подготовки специалистов среднего звена на 2022/2023 учебный год в
                    Частное
                    профессиональное образовательное учреждение Нижегородский гуманитарно-технический колледж (ЧПОУ
                    НГТК) ред. от 04.07.2022
                  </a>
                </li>
              </ul>
            </div>
            <div class="doc-info-item">
              <ul>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Правила приема на 2021 – 2022 учебный год в Частное профессиональное образовательное учреждение
                    «Нижегородский гуманитарно-технический колледж» (ЧПОУ НГТК) ред. от 17.09.2021
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    План приема на места по договорам об оказании платных образовательных услуг по специальностям
                    среднего профессионального образования для обучения по имеющим государственную аккредитацию
                    образовательным программам подготовки специалистов среднего звена на 2021/2022 учебный год в Частное
                    профессиональное образовательное учреждение Нижегородский гуманитарно-технический колледж (ЧПОУ
                    НГТК) (ред. 28.05.2021)
                  </a>
                </li>
              </ul>
            </div>
            <div class="doc-info-item">
              <ul>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Правила приема на 2020 – 2021 учебный год в Частное профессиональное образовательное учреждение
                    «Нижегородский гуманитарно-технический колледж» (ЧПОУ НГТК) ред. от 09.11.2020
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    План приема на места по договорам об оказании платных образовательных услуг по специальностям
                    среднего профессионального образования для обучения по имеющим государственную аккредитацию
                    образовательным программам подготовки специалистов среднего звена на 2020/2021 учебный год в Частное
                    профессиональное образовательное учреждение Нижегородский гуманитарно-технический колледж (ЧПОУ
                    НГТК)
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="doc-inner">
          <h3 class="doc-inner__title">
            Количество вакантных мест по специальностям на 05 июля 2022 г. по договорам об образовании за счет средств
            физических и (или) юридических лиц
          </h3>

          <div class="doc-size">
            <div class="doc-size-head">
              <div class="doc-size-head__item">
                <span class="doc-size-item__inner">
                  Код специальности
                </span>
              </div>

              <div class="doc-size-head__item">
                <span class="doc-size-item__inner">
                  Наименование спецальности
                </span>
              </div>

              <div class="doc-size-head__item doc-size-head__item_col">
                <span class="doc-size-item__inner">
                  Очная форма обучения
                </span>
                <div class="doc-size-head__inner">
                  <span class="doc-size-item__inner">
                    На базе 9 классов
                  </span>
                  <span class="doc-size-item__inner">
                    На базе 11 классов
                  </span>
                </div>
              </div>

              <div class="doc-size-head__item doc-size-head__item_col">
                <span class="doc-size-item__inner">
                  Заочная форма обучения
                </span>
                <div class="doc-size-head__inner">
                  <span class="doc-size-item__inner">
                    На базе 9 классов
                  </span>
                  <span class="doc-size-item__inner">
                    На базе 11 классов
                  </span>
                </div>
              </div>
            </div>

            <div class="doc-size-item">
              <div class="doc-size-item__text doc-size-item__inner">
                09.02.05
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                Прикладная информатика (по&nbsp;отраслям)
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                50
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                7
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                78
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                69
              </div>
            </div>

            <div class="doc-size-item">
              <div class="doc-size-item__text doc-size-item__inner">
                21.02.04
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                Землеустройство
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                6
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                0
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                39
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                23
              </div>
            </div>

            <div class="doc-size-item">
              <div class="doc-size-item__text doc-size-item__inner">
                21.02.05
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                Земельно-имущественные отношения
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                26
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                1
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                135
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                92
              </div>
            </div>

            <div class="doc-size-item">
              <div class="doc-size-item__text doc-size-item__inner">
                21.02.10
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                Геология и разведка нефтяных и газовых месторождений
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                7
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                6
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                82
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                68
              </div>
            </div>

            <div class="doc-size-item">
              <div class="doc-size-item__text doc-size-item__inner">
                23.02.03
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                Техническое обслуживание и ремонт автомобильного транспорта
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                4
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                0
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                51
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                58
              </div>
            </div>

            <div class="doc-size-item">
              <div class="doc-size-item__text doc-size-item__inner">
                09.02.05
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                Прикладная информатика (по&nbsp;отраслям)
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                50
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                7
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                78
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                69
              </div>
            </div>

            <div class="doc-size-item">
              <div class="doc-size-item__text doc-size-item__inner">
                21.02.04
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                Землеустройство
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                6
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                0
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                39
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                23
              </div>
            </div>

            <div class="doc-size-item">
              <div class="doc-size-item__text doc-size-item__inner">
                21.02.05
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                Земельно-имущественные отношения
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                26
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                1
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                135
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                92
              </div>
            </div>

            <div class="doc-size-item">
              <div class="doc-size-item__text doc-size-item__inner">
                21.02.10
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                Геология и разведка нефтяных и газовых месторождений
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                7
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                6
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                82
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                68
              </div>
            </div>

            <div class="doc-size-item">
              <div class="doc-size-item__text doc-size-item__inner">
                23.02.03
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                Техническое обслуживание и ремонт автомобильного транспорта
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                4
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                0
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                51
              </div>
              <div class="doc-size-item__text doc-size-item__inner">
                58
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>