<section class="information">
  <div class="container">

    <div class="page-info">
      <div class="page-info-nav">
        <a href="#" class="page-info-nav__link">
          Главная
        </a>
        <a href="#" class="page-info-nav__link">
          Сведения об образовательной организации
        </a>
      </div>

      <h1 class="page-info__title">
        Сведения об образовательной организации
      </h1>
    </div>

    <div class="doc">
      <div class="doc-nav">
        <a href="#" class="doc-nav__link">
          Основные сведения
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Структура и органы управления образовательной организацией
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Документы
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Образование
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          образовательные стандарты и требования
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Руководство. Педагогический (научно-педагогический) состав
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Материально-техническое обеспечение и оснащенность образовательного процесса
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link _active">
          Стипендии и МЕРЫ ПОДДЕРЖКИ ОБУЧАЮЩИХСЯ
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          платные образовательные услуги
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Финансово-хозяйственная деятельность
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          вакантные места для приема (перевода) обучающихся
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Доступная среда
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          международное сотрудничество
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
      </div>

      <div class="doc-container">
        <div class="doc-info">
          <div class="doc-info__content">
            <div class="doc-info-item">
              <h4>Льготы при оказании платных образовательных услуг</h4>
              <p>
                Нижегородский гуманитарно-технический колледж является частным образовательным учреждением и не имеет
                бюджетного финансирования, поэтому при оказании в ЧПОУ «НГТК» платных образовательных, в том числе
                платных дополнительных образовательных услуг, льготы потребителям не предусмотрены.
              </p>
              <p>
                Граждан, имеющих, в соответствии с действующим законодательством право на получение бесплатного
                образования, льгот при поступлении или иных льгот информируем, что государство гарантирует реализацию
                этих прав через систему государственных и муниципальных образовательных учреждений.
              </p>
            </div>
            <div class="doc-info-item">
              <h4>Меры социальной поддержки для студентов</h4>
              <p>
                Льготные билеты на транспорт. Студенты очной формы обучения, проживающие в Нижнем Новгороде и
                Нижегородской области, имеют скидки при проезде в метро, в наземном городском транспорте и в пригородном
                железнодорожном транспорте. Указанная льгота в регионах может быть установлена местными органами власти.
              </p>
              <p>
                Психолого-педагогическое и социологическое сопровождение студентов в образовательной среде ЧПОУ «НГТК».
              </p>
            </div>
            <div class="doc-info-item">
              <h4>Общежития</h4>
              <p>
                Нижегородский гуманитарно-технический колледж общежитий, как в Нижнем Новгороде, так и в Нижегородской
                области не имеет.
              </p>
            </div>
            <div class="doc-info-item">
              <h4>Стипендии обучающимся</h4>
              <p>
                Нижегородский гуманитарно-технический колледж не имеет бюджетного финансирования, предоставляет
                обучающимся платные образовательные услуги на основании договоров на оказание платных образовательных
                услуг. В связи с этим стипендии обучающимся не предусмотрены.
              </p>
            </div>
          </div>
        </div>

        <div class="doc-inner">
          <h4 class="doc-inner__title">
            О трудоустройстве выпускников на 04.07.2022г
          </h4>
          <h5 class="doc-inner__subtitle">Среднее профессиональное обучение</h5>

          <div class="doc-jobs">
            <div class="doc-jobs-head">
              <div class="doc-jobs-head__text doc-jobs-head__inner">
                №
              </div>
              <div class="doc-jobs-head__text doc-jobs-head__inner">
                Название специальности <br>
                (направления подготовки)
              </div>
              <div class="doc-jobs-head__text">
                <span class="doc-jobs-head__text doc-jobs-head__inner">Количество выпускников</span>
                <div class="doc-jobs-head__box">
                  <span class="doc-jobs-head__text doc-jobs-head__inner">2017</span>
                  <span class="doc-jobs-head__text doc-jobs-head__inner">2018</span>
                  <span class="doc-jobs-head__text doc-jobs-head__inner">2019</span>
                  <span class="doc-jobs-head__text doc-jobs-head__inner">2020</span>
                  <span class="doc-jobs-head__text doc-jobs-head__inner">2021</span>
                </div>
              </div>
              <div class="doc-jobs-head__text">
                <span class="doc-jobs-head__text doc-jobs-head__inner">Направлено на места трудоустройства</span>
                <div class="doc-jobs-head__box">
                  <span class="doc-jobs-head__text doc-jobs-head__inner">2017</span>
                  <span class="doc-jobs-head__text doc-jobs-head__inner">2018</span>
                  <span class="doc-jobs-head__text doc-jobs-head__inner">2019</span>
                  <span class="doc-jobs-head__text doc-jobs-head__inner">2020</span>
                  <span class="doc-jobs-head__text doc-jobs-head__inner">2021</span>
                </div>
              </div>
            </div>

            <div class="doc-jobs-item">
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                1
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                09.02.05 Прикладная информатика (по отраслям)
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                6
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                25
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
            </div>
            <div class="doc-jobs-item">
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                2
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                21.02.04 Землеустройство
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
            </div>
            <div class="doc-jobs-item">
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                3
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                21.02.05 Земельно-имущественные отношения
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                11
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                34
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                49
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                46
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
            </div>
            <div class="doc-jobs-item">
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                4
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                21.02.10 Геология и разведка нефтяных и газовых месторождений
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
            </div>
            <div class="doc-jobs-item">
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                5
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                23.02.03 Техническое обслуживание и ремонт автомобильного транспорта
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                1
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
            </div>
            <div class="doc-jobs-item">
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                6
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                38.02.01 Экономика и бухгалтерский учет (по отраслям)
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                142
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                181
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                160
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                177
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                14
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
            </div>
            <div class="doc-jobs-item">
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                7
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                38.02.03 Операционная деятельность в логистике
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                50
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                72
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
            </div>
            <div class="doc-jobs-item">
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                8
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                42.02.01 Право и организация социального обеспечения
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                51
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                43
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                128
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                405
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                156
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
            </div>
            <div class="doc-jobs-item">
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                9
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                40.02.02 Правоохранительная деятельность
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                2
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                27
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                93
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                155
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
            </div>
            <div class="doc-jobs-item">
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                10
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                44.02.01 Дошкольное образование
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                3
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">
                48
              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
              <div class="doc-jobs-item__text doc-jobs-item__inner">

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
</section>