<section class="information">
  <div class="container">

    <div class="page-info">
      <div class="page-info-nav">
        <a href="#" class="page-info-nav__link">
          Главная
        </a>
        <a href="#" class="page-info-nav__link">
          Сведения об образовательной организации
        </a>
      </div>

      <h1 class="page-info__title">
        Сведения об образовательной организации
      </h1>
    </div>

    <div class="doc">
      <div class="doc-nav">
        <a href="#" class="doc-nav__link">
          Основные сведения
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Структура и органы управления образовательной организацией
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Документы
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link _active">
          Образование
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          образовательные стандарты и требования
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Руководство. Педагогический (научно-педагогический) состав
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Материально-техническое обеспечение и оснащенность образовательного процесса
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Стипендии и МЕРЫ ПОДДЕРЖКИ ОБУЧАЮЩИХСЯ
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          платные образовательные услуги
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Финансово-хозяйственная деятельность
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          вакантные места для приема (перевода) обучающихся
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Доступная среда
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          международное сотрудничество
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
      </div>

      <div class="doc-container">
        <div class="doc-info">
          <div class="doc-info__content">
            <div class="doc-info-item">
              <h4>Материально-техническое обеспечение образовательной деятельности по образовательным программам:</h4>
              <ul>
                <li>
                  <a href="#">
                    09.02.05 Прикладная информатика (по отраслям)
                  </a>
                </li>
                <li>
                  <a href="#">
                    21.02.04 Землеустройство
                  </a>
                </li>
                <li>
                  <a href="#">
                    21.02.05 Земельно-имущественные отношения
                  </a>
                </li>
                <li>
                  <a href="#">
                    21.02.10 Геология и разведка нефтяных и газовых месторождений
                  </a>
                </li>
                <li>
                  <a href="#">
                    23.02.03 Техническое обслуживание и ремонт автомобильного
                  </a>
                </li>
                <li>
                  <a href="#">
                    38.02.01 Экономика и бухгалтерский учет (по отраслям)
                  </a>
                </li>
                <li>
                  <a href="#">
                    38.02.03 Операционная деятельность в логистике
                  </a>
                </li>
                <li>
                  <a href="#">
                    40.02.01 Право и организация социального обеспечения
                  </a>
                </li>
                <li>
                  <a href="#">
                    40.02.02 Правоохранительная деятельность
                  </a>
                </li>
                <li>
                  <a href="#">
                    44.02.01 Дошкольное образование
                  </a>
                </li>
              </ul>
            </div>
            <div class="doc-info-item">
              <h4>Правоустанавливающие документы</h4>
              <p>
                ЧПОУ НГТК предоставляет обучающимся доступ к электронной библиотеке, сформированной благодаря
                заключенным договорам с издательствами. В настоящее время имеется доступ к 2 электронным библиотекам для
                студентов СПО.
              </p>
              <ul>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Договор на оказание услуг по предоставлению доступа к ЭБС IPBOOKS.RU №7181/20 от 10.10.2020
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Договор на оказание услуг по представлению доступа к образовательной платформе ЮРАЙТ №1393 от
                    21.10.2020
                  </a>
                </li>
              </ul>
            </div>
            <div class="doc-info-item">
              <h4>Cведения об условиях питания обучающихся</h4>
              <p>
                В ЧПОУ НГТК организовано питание сотрудников и обучающихся за счет их собственных денежных средств и/или
                денежных средств родителей (законных представителей) в соответствии с договором об оказании услуг
                питания.
              </p>
              <ul>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Договор на оказание услуг питания
                  </a>
                </li>
              </ul>
            </div>
            <div class="doc-info-item">
              <h4>Cведения об условиях охраны здоровья</h4>
              <p>
                В ЧПОУ НГТК функционирует медицинский кабинет, созданный для удовлетворения потребностей студентов,
                обучающихся и работников колледжа в медицинских услугах.
              </p>
              <ul>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Договор на оказание медицинских услуг
                  </a>
                </li>
              </ul>
            </div>
            <div class="doc-info-item">
              <h4>Cведения о доступе к информационным системам и информационно-телекоммуникационным сетям</h4>
              <p>
                В учебных аудиториях ЧПОУ НГТК обеспечивается доступ в Интернет с скоростью соединения до 100 Мбит/с. Во
                всех учебных аудиториях возможен доступ к справочно-правовой системе «Гарант» и электронному
                информационному ресурсу Личная студия обучающегося.
              </p>
              <ul>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Лицензионный договор №314-ЛД/06-20/БИОР-НГТК от 01.07.2020
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Договор об оказании информационных услуг №120/2020 от 27.11.2020 Гарант ЦМИКИ
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Договор № 121.2020 о взаимном сотрудничестве Гарант «ООО «Гарант ЦМИКИ»» от 01.12.20
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Договор на оказание услуг по представлению доступа к образовательной платформе ЮРАЙТ №1393 от
                    21.10.2020
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Договор об оказании Услуг связи №352001000630 от 01.11.2019
                  </a>
                </li>
              </ul>
            </div>
            <div class="doc-info-item">
              <h4>Cведения об объектах спорта</h4>
              <p>
                В ЧПОУ НГТК, на основании договора аренды недвижимого имущества, используются в образовательном процессе
                спортивный зал, легкоатлетический манеж и стадион широкого профиля с элементами полосы препятствий.
              </p>
              <ul>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Договор № ЦРИ/04/А/3470/22/000018 аренды недвижимого имущества, находящегося в собственности ОАО
                    «РЖД»
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>