<section class="information">
  <div class="container">

    <div class="page-info">
      <div class="page-info-nav">
        <a href="#" class="page-info-nav__link">
          Главная
        </a>
        <a href="#" class="page-info-nav__link">
          Сведения об образовательной организации
        </a>
      </div>

      <h1 class="page-info__title">
        Сведения об образовательной организации
      </h1>
    </div>

    <div class="doc">
      <div class="doc-nav">
        <a href="#" class="doc-nav__link">
          Основные сведения
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Структура и органы управления образовательной организацией
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Документы
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Образование
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          образовательные стандарты и требования
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Руководство. Педагогический (научно-педагогический) состав
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Материально-техническое обеспечение и оснащенность образовательного процесса
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Стипендии и МЕРЫ ПОДДЕРЖКИ ОБУЧАЮЩИХСЯ
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          платные образовательные услуги
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Финансово-хозяйственная деятельность
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          вакантные места для приема (перевода) обучающихся
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Доступная среда
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link _active">
          международное сотрудничество
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
      </div>

      <div class="doc-container">
        <div class="doc-inner">
          <h3 class="doc-inner__title">
            Информация о заключенных и планируемых к заключению договорах с иностранными и (или) международными
            организациями по вопросам образования и науки
          </h3>
          <div class="doc-table doc-table_3">
            <table class="doc-table__inner">
              <thead>
                <tr>
                  <th>
                    Название государства
                  </th>
                  <th>
                    Наименование организации
                  </th>
                  <th>
                    Реквизиты договора (наименование, дата, номер, срок действия)
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Беларусь, г. Бобруйск
                  </td>
                  <td>
                    ИП Пирогова И.В.
                  </td>
                  <td>
                    Соглашение о сотрудничестве и взаимодействии по направлениям деятельности организации, 15.01.2021
                    г., неопределенный срок
                  </td>
                </tr>
                <tr>
                  <td>
                    Казахстан, г. Караганда
                  </td>
                  <td>
                    Частное учреждение «Информационные технологии и инновации»
                  </td>
                  <td>
                    Соглашение о сотрудничестве и взаимодействии по направлениям деятельности организации, 15.01.2021
                    г., неопределенный срок
                  </td>
                </tr>
                <tr>
                  <td>
                    Казахстан, г. Нур-Султан
                  </td>
                  <td>
                    Частное учреждение «Информационные технологии и инновации» (ЧУ ИТИ)
                  </td>
                  <td>
                    Соглашение о сотрудничестве и взаимодействии по направлениям деятельности организации, 15.01.2021
                    г., неопределенный срок
                  </td>
                </tr>
                <tr>
                  <td>
                    Республика Молдова, мун. Кишинэу
                  </td>
                  <td>
                    Общество с ограниченной ответственностью «Total Digital» SRL
                  </td>
                  <td>
                    Соглашение о сотрудничестве и взаимодействии по направлениям деятельности организации, 15.01.2021
                    г., неопределенный срок
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>