<section class="information">
  <div class="container">

    <div class="page-info">
      <div class="page-info-nav">
        <a href="#" class="page-info-nav__link">
          Главная
        </a>
        <a href="#" class="page-info-nav__link">
          Сведения об образовательной организации
        </a>
      </div>

      <h1 class="page-info__title">
        Сведения об образовательной организации
      </h1>
    </div>

    <div class="doc">
      <div class="doc-nav">
        <a href="#" class="doc-nav__link">
          Основные сведения
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Структура и органы управления образовательной организацией
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link _active">
          Документы
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Образование
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          образовательные стандарты и требования
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Руководство. Педагогический (научно-педагогический) состав
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Материально-техническое обеспечение и оснащенность образовательного процесса
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Стипендии и МЕРЫ ПОДДЕРЖКИ ОБУЧАЮЩИХСЯ
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          платные образовательные услуги
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Финансово-хозяйственная деятельность
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          вакантные места для приема (перевода) обучающихся
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Доступная среда
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          международное сотрудничество
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
      </div>

      <div class="doc-container">
        <div class="doc-info">
          <div class="doc-info__content">
            <div class="doc-info-item">
              <h4>Правоустанавливающие документы</h4>
              <ul>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Устав ЧПОУ «НГТК»
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Выписка из реестра лицензий на осуществление образовательной деятельности ЧПОУ «НГТК»
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Выписка из реестра организаций, осуществляющих образовательную деятельность по имеющим
                    государственную
                    аккредитацию образовательным программам ЧПОУ «НГТК»
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Свидетельство о государственной регистрации некоммерческой организации ЧПОУ «НГТК
                  </a> »
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Свидетельство о государственной регистрации юридического лица ЧПОУ «НГТК»
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Свидетельство о постановке на налоговый учет ЧПОУ «НГТК»
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Решение учредителя
                  </a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">
                    Санитарно-эпидемилогические заключения ЧПОУ НГТК
                  </a>
                </li>
              </ul>
            </div>
            <div class="doc-info-item">
              <h4>Учредительные документы</h4>
              <ul>
                <li data-doc-type=".pdf">
                  <a href="#">Договор на оказание услуг питания</a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">Договор на оказание медицинских услуг</a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">041 Инструкция для проведения обучения специалистов, работающих с инвалидами, в ЧПОУ НГТК
                    (ред. от 11.01.2021)</a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">Договор на оказание услуг по предоставлению доступа к ЭБС IPBOOKS.RU №7181/20 от
                    10.10.2020</a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">Договор на оказание услуг по представлению доступа к образовательной платформе ЮРАЙТ №1393
                    от 21.10.2020</a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">Договор поставки и/или сопровождения экземпляра(ов) Систем(ы) КонсультантПлюс
                    №03-1637129-2020 от 04.12.2019</a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">Лицензионный договор №314-ЛД/06-20/БИОР-НГТК от 01.07.2020</a>
                </li>
                <li data-doc-type=".pdf">
                  <a href="#">Лицензионный договор №02-2021 от 11.01.2021</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>