<section class="information">
  <div class="container">

    <div class="page-info">
      <div class="page-info-nav">
        <a href="#" class="page-info-nav__link">
          Главная
        </a>
        <a href="#" class="page-info-nav__link">
          Сведения об образовательной организации
        </a>
      </div>

      <h1 class="page-info__title">
        Сведения об образовательной организации
      </h1>
    </div>

    <div class="doc">
      <div class="doc-nav">
        <a href="#" class="doc-nav__link">
          Основные сведения
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link _active">
          Структура и органы управления образовательной организацией
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Документы
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Образование
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          образовательные стандарты и требования
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Руководство. Педагогический (научно-педагогический) состав
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Материально-техническое обеспечение и оснащенность образовательного процесса
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Стипендии и МЕРЫ ПОДДЕРЖКИ ОБУЧАЮЩИХСЯ
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          платные образовательные услуги
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Финансово-хозяйственная деятельность
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          вакантные места для приема (перевода) обучающихся
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Доступная среда
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          международное сотрудничество
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
      </div>

      <div class="doc-container">

        <div class="doc-table doc-table_1">
          <table class="doc-table__inner">
            <thead>
              <tr>
                <th>
                  Наименование СП*
                </th>
                <th>
                  Руководитель СП*
                </th>
                <th>
                  Должность
                </th>
                <th>
                  Местонахождение СП*
                </th>
                <th>
                  Сайт
                </th>
                <th>
                  E-mail, телефон
                </th>
                <th>
                  Положения
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Директор
                </td>
                <td>
                  Ким Наталья Олеговна
                </td>
                <td>
                  Директор колледжа
                </td>
                <td>
                  603122, г. Нижний Новгород, ул. Ванеева д. 205
                </td>
                <td>
                  <a href="#">ngtk.info</a>
                </td>
                <td>
                  <a href="#">chpoungtk@mail.ru</a>
                </td>
                <td>
                  <a href="#">Устав</a>
                </td>
              </tr>
              <tr>
                <td>
                  Учебная часть
                </td>
                <td>
                  Зубаренко Сергей Владимирович
                </td>
                <td>
                  Заместитель директора
                </td>
                <td>
                  603122, г. Нижний Новгород, ул. Ванеева д. 205
                </td>
                <td>
                  <a href="#">ngtk.info</a>
                </td>
                <td>
                  <a href="#">chpoungtk@mail.ru</a>
                </td>
                <td>
                  <a href="#">Устав</a>
                </td>
              </tr>
              <tr>
                <td>
                  Бухгалтерия / Отдел кадров
                </td>
                <td>
                  Ражев Андрей Александрович
                </td>
                <td>
                  Главный бухгалтер колледжа
                </td>
                <td>
                  603122, г. Нижний Новгород, ул. Ванеева д. 205
                </td>
                <td>
                  <a href="#">ngtk.info</a>
                </td>
                <td>
                  <a href="#">chpoungtk@mail.ru</a>
                </td>
                <td>
                  <a href="#">Устав</a>
                </td>
              </tr>
              <tr>
                <td>
                  Студенческий спорт. клуб «Геракл»
                </td>
                <td>
                  Полякова Любовь Михайловна
                </td>
                <td>
                  Заведующий учебной частью
                </td>
                <td>
                  603122, г. Нижний Новгород, ул. Ванеева д. 205
                </td>
                <td>
                  <a href="#">ngtk.info</a>
                </td>
                <td>
                  <a href="#">chpoungtk@mail.ru</a>
                </td>
                <td>
                  <a href="#">Устав</a>
                </td>
              </tr>
            </tbody>
          </table>

          <span class="doc-table__info">* СП - структурное подразделение</span>
        </div>

        <div class="doc-info">
          <div class="doc-info__content">
            <div class="doc-info-item">
              <h4>Органы управления ЧПОУ НГТК</h4>
              <p>
                Управление Колледжем осуществляется в соответствии с законодательством Российской Федерации, настоящим
                <a href="#">Уставом ЧПОУ НГТК</a> и строится на сочетании принципов единоначалия и коллегиальности.
              </p>
              <p>
                Органами управления Колледжем являются Учредитель, Директор Колледжа, Конференция работников и
                обучающихся Колледжа, Педагогический совет.
              </p>
            </div>
            <div class="doc-info-item">
              <h4>Учредителем Колледжа является юридическое лицо Российской Федерации:</h4>
              <p>
                Общество с ограниченной ответственностью Информационно-консультационный центр «Дидактиформ».
              </p>
              <p>
                OГPH 1027739605156
              </p>
              <p>
                ИНН 7707303411
              </p>
              <p>
                КПП 770501001
              </p>
              <p>
                Место нахождения: 115114. г.Москва, ул. Кожевническая. д.3,стр. 1
              </p>
            </div>
            <div class="doc-info-item">
              <h4>Директор колледжа</h4>
              <p>
                Единоличным исполнительным органом является Директор Колледжа. На основании <a href="#">Решения
                  учредителя от 01.06.2022</a>. и <a href="#">устава ЧПОУ НГТК</a> Директором Колледжа является Ким
                Наталья Олеговна.
              </p>
              <p>
                Место нахождения: 603122, г. Нижний Новгород, ул. Ванеева д. 205
              </p>
              <p>
                Сайт: <a href="#">ngtk.info</a>
              </p>
              <p>
                E-mail: <a href="#">chpoungtk@mail.ru</a>
              </p>
            </div>
            <div class="doc-info-item">
              <h4>Конференция работников и обучающихся</h4>
              <p>
                Коллегиальным органом управления Колледжем на основании <a href="#">устава</a> является Конференция
                работников и
                обучающихся, основной целью которой является реализация законного права работников и обучающихся на
                участие в управлении Колледжем, осуществление на деле принципов коллегиальности.
              </p>
              <p>
                Место нахождения: 603122, г. Нижний Новгород, ул. Ванеева д. 205
              </p>
              <p>
                Сайт: <a href="#">ngtk.info</a>
              </p>
              <p>
                E-mail: <a href="#">chpoungtk@mail.ru</a>
              </p>
            </div>
            <div class="doc-info-item">
              <h4>Педагогический совет</h4>
              <p>
                Для обеспечения коллегиальности решении вопросов учебно-­методической, воспитательной работы, физическою
                воспитания обучающихся на основании <a href="#">устава</a> в Колледже действует Педагогический совет.
                Председателем
                педагогического совета является Директор Колледжа.
              </p>
              <p>
                Место нахождения: 603122, г. Нижний Новгород, ул. Ванеева д. 205,
              </p>
              <p>
                Сайт: <a href="#">ngtk.info</a>
              </p>
              <p>
                Е-mail: <a href="#">chpoungtk@mail.ru</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>