<section class="information">
  <div class="container">

    <div class="page-info">
      <div class="page-info-nav">
        <a href="#" class="page-info-nav__link">
          Главная
        </a>
        <a href="#" class="page-info-nav__link">
          Сведения об образовательной организации
        </a>
      </div>

      <h1 class="page-info__title">
        Сведения об образовательной организации
      </h1>
    </div>

    <div class="doc">
      <div class="doc-nav">
        <a href="#" class="doc-nav__link">
          Основные сведения
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Структура и органы управления образовательной организацией
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Документы
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Образование
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          образовательные стандарты и требования
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Руководство. Педагогический (научно-педагогический) состав
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Материально-техническое обеспечение и оснащенность образовательного процесса
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link _active">
          Стипендии и МЕРЫ ПОДДЕРЖКИ ОБУЧАЮЩИХСЯ
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          платные образовательные услуги
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Финансово-хозяйственная деятельность
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          вакантные места для приема (перевода) обучающихся
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Доступная среда
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          международное сотрудничество
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
      </div>

      <div class="doc-container">
        <div class="doc-info">
          <div class="doc-info__content">
            <div class="doc-info-item">
              <h4>Льготы при оказании платных образовательных услуг</h4>
              <p>
                Нижегородский гуманитарно-технический колледж является частным образовательным учреждением и не имеет
                бюджетного финансирования, поэтому при оказании в ЧПОУ «НГТК» платных образовательных, в том числе
                платных дополнительных образовательных услуг, льготы потребителям не предусмотрены.
              </p>
              <p>
                Граждан, имеющих, в соответствии с действующим законодательством право на получение бесплатного
                образования, льгот при поступлении или иных льгот информируем, что государство гарантирует реализацию
                этих прав через систему государственных и муниципальных образовательных учреждений.
              </p>
            </div>
            <div class="doc-info-item">
              <h4>Меры социальной поддержки для студентов</h4>
              <p>
                Льготные билеты на транспорт. Студенты очной формы обучения, проживающие в Нижнем Новгороде и
                Нижегородской области, имеют скидки при проезде в метро, в наземном городском транспорте и в пригородном
                железнодорожном транспорте. Указанная льгота в регионах может быть установлена местными органами власти.
              </p>
              <p>
                Психолого-педагогическое и социологическое сопровождение студентов в образовательной среде ЧПОУ «НГТК».
              </p>
            </div>
            <div class="doc-info-item">
              <h4>Общежития</h4>
              <p>
                Нижегородский гуманитарно-технический колледж общежитий, как в Нижнем Новгороде, так и в Нижегородской
                области не имеет.
              </p>
            </div>
            <div class="doc-info-item">
              <h4>Стипендии обучающимся</h4>
              <p>
                Нижегородский гуманитарно-технический колледж не имеет бюджетного финансирования, предоставляет
                обучающимся платные образовательные услуги на основании договоров на оказание платных образовательных
                услуг. В связи с этим стипендии обучающимся не предусмотрены.
              </p>
            </div>
          </div>
        </div>

        <div class="doc-inner">
          <h4 class="doc-inner__title">
            О трудоустройстве выпускников на 04.07.2022г
          </h4>
          <h5 class="doc-inner__subtitle">Среднее профессиональное обучение</h5>

          <div class="doc-table doc-table_3">
            <table class="doc-table__inner">
              <thead>
                <tr>
                  <th>
                    №
                  </th>
                  <th>
                    Название специальности (направления подготовки)
                  </th>
                  <th>
                    Количество выпускников
                    <table>
                      <tr>
                        <th>
                          2017
                        </th>
                        <th>
                          2018
                        </th>
                        <th>
                          2019
                        </th>
                        <th>
                          2020
                        </th>
                        <th>
                          2021
                        </th>
                      </tr>
                    </table>
                  </th>
                  <th>
                    Направлено на места трудоустройства
                    <table>
                      <tr>
                        <th>
                          2017
                        </th>
                        <th>
                          2018
                        </th>
                        <th>
                          2019
                        </th>
                        <th>
                          2020
                        </th>
                        <th>
                          2021
                        </th>
                      </tr>
                    </table>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    1
                  </td>
                  <td>
                    09.02.05 Прикладная информатика (по отраслям)
                  </td>
                  <td>
                    <table>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>6</td>
                        <td>25</td>
                      </tr>
                    </table>
                  </td>
                  <td>
                    <table>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    2
                  </td>
                  <td>
                    21.02.04 Землеустройство
                  </td>
                  <td>
                    <table>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </table>
                  </td>
                  <td>
                    <table>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    3
                  </td>
                  <td>
                    21.02.05 Земельно-имущественные отношения
                  </td>
                  <td>
                    <table>
                      <tr>
                        <td></td>
                        <td>11</td>
                        <td>34</td>
                        <td>49</td>
                        <td>46</td>
                      </tr>
                    </table>
                  </td>
                  <td>
                    <table>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    4
                  </td>
                  <td>
                    21.02.10 Геология и разведка нефтяных и газовых месторождений
                  </td>
                  <td>
                    <table>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </table>
                  </td>
                  <td>
                    <table>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
</section>