<section class="main">

  <div class="main-top">
    <div class="main-top__bg">
      <img src="./assets/images/main-top.jpg" alt="student">
    </div>

    <div class="container main-top-container">
      <h1 class="main-top__title">
        Нижегородский гуманитарно-технический колледж
      </h1>

      <ul class="main-top__list">
        <li>Качественное образование по востребованным специальностям</li>
        <li>Дистанционное обучение в комфортных условиях через свой личный кабинет</li>
        <li>Диплом государственного образца</li>
      </ul>

      <button type="button" class="main-top__btn">
        Хочу поступить!
      </button>
    </div>
  </div>

  {{> _entrance-form }}

  <div class="container">
    <div class="main-advantages">
      <div class="main-advantages__head">
        <h3 class="main-advantages__title">Почему стоит учиться у нас</h3>
      </div>

      <ul class="main-advantages-info">
        <li class="main-advantages-info__item">
          <h4 class="main-advantages-info__title">ГОСУДАРСТВЕННАЯ ЛИЦЕНЗИЯ</h4>
          <p class="main-advantages-info__text">
            Наше право вести образовательную деятельность подкреплено всеми необходимыми документами государственного
            образца!
          </p>
        </li>

        <li class="main-advantages-info__item">
          <h4 class="main-advantages-info__title">ПРЕПОДАВАТЕЛЬСКИЙ СОСТАВ</h4>
          <p class="main-advantages-info__text">
            Мы сотрудничаем с лучшими преподавателями, большинство из которых имеет высокие ученые степени!
          </p>
        </li>

        <li class="main-advantages-info__item">
          <h4 class="main-advantages-info__title">МАТЕРИАЛЬНО-ТЕХНИЧЕСКАЯ БАЗА</h4>
          <p class="main-advantages-info__text">
            Мы делаем ставку на высокие технологии и современные методики обучения!
          </p>
        </li>

        <li class="main-advantages-info__item">
          <h4 class="main-advantages-info__title">ДИСТАНЦИОННЫЕ ТЕХНОЛОГИИ</h4>
          <p class="main-advantages-info__text">
            Учебный процесс в нашем колледже – это передовые it-решения и занятия по вашим правилам!
          </p>
        </li>
      </ul>
    </div>
  </div>

  <div class="info-slider main-prof-slider">
    <div class="container">
      <div class="info-slider__head">
        <h3 class="info-slider__title">Наши специальности</h3>

        <div class="info-slider__controls">
          <button type="button" class="info-slider__btn info-slider__btn_left">
            <svg>
              <use href="#arrow-left-icon"></use>
            </svg>
          </button>

          <button type="button" class="info-slider__btn info-slider__btn_right">
            <svg>
              <use href="#arrow-right-icon"></use>
            </svg>
          </button>
        </div>
      </div>

      <div class="swiper info-slider-swiper">
        <div class="swiper-wrapper info-slider-swiper-wrapper">
          <div class="swiper-slide info-slider-swiper-slide">
            <div class="prof-item">
              <div class="prof-item__inner">
                <div class="prof-item__info">
                  <span>09.02.05</span>
                  <span>техник-программист</span>
                </div>

                <h4 class="prof-item__title">Прикладная информатика (по отраслям)</h4>

                <p class="prof-item__text">
                  Человек, выбравший данную специальность в Нижегородском гуманитарно-техническом колледже после
                  получения
                  диплома точно найдет работу и сможет обеспечить не только себя, но и свою семью, ведь
                  техник-программист
                  — профессия актуальная, она развивается, и безусловно, останется одной из самых востребованных.
                </p>
                <button type="button" class="prof-item__btn">
                  Узнать стоимость обучения
                </button>
              </div>
            </div>
          </div>

          <div class="swiper-slide info-slider-swiper-slide">
            <div class="prof-item">
              <div class="prof-item__inner">
                <div class="prof-item__info">
                  <span>09.02.05</span>
                  <span>техник-программист</span>
                </div>

                <h4 class="prof-item__title">Прикладная информатика (по отраслям)</h4>

                <p class="prof-item__text">
                  Человек, выбравший данную специальность в Нижегородском гуманитарно-техническом колледже после
                  получения
                  диплома точно найдет работу и сможет обеспечить не только себя, но и свою семью, ведь
                  техник-программист
                  — профессия актуальная, она развивается, и безусловно, останется одной из самых востребованных.
                </p>
                <button type="button" class="prof-item__btn">
                  Узнать стоимость обучения
                </button>
              </div>
            </div>
          </div>

          <div class="swiper-slide info-slider-swiper-slide">
            <div class="prof-item">
              <div class="prof-item__inner">
                <div class="prof-item__info">
                  <span>09.02.05</span>
                  <span>техник-программист</span>
                </div>

                <h4 class="prof-item__title">Прикладная информатика (по отраслям)</h4>

                <p class="prof-item__text">
                  Человек, выбравший данную специальность в Нижегородском гуманитарно-техническом колледже после
                  получения
                  диплома точно найдет работу и сможет обеспечить не только себя, но и свою семью, ведь
                  техник-программист
                  — профессия актуальная, она развивается, и безусловно, останется одной из самых востребованных.
                </p>
                <button type="button" class="prof-item__btn">
                  Узнать стоимость обучения
                </button>
              </div>
            </div>
          </div>

          <div class="swiper-slide info-slider-swiper-slide">
            <div class="prof-item">
              <div class="prof-item__inner">
                <div class="prof-item__info">
                  <span>09.02.05</span>
                  <span>техник-программист</span>
                </div>

                <h4 class="prof-item__title">Прикладная информатика (по отраслям)</h4>

                <p class="prof-item__text">
                  Человек, выбравший данную специальность в Нижегородском гуманитарно-техническом колледже после
                  получения
                  диплома точно найдет работу и сможет обеспечить не только себя, но и свою семью, ведь
                  техник-программист
                  — профессия актуальная, она развивается, и безусловно, останется одной из самых востребованных.
                </p>
                <button type="button" class="prof-item__btn">
                  Узнать стоимость обучения
                </button>
              </div>
            </div>
          </div>

          <div class="swiper-slide info-slider-swiper-slide">
            <div class="prof-item">
              <div class="prof-item__inner">
                <div class="prof-item__info">
                  <span>09.02.05</span>
                  <span>техник-программист</span>
                </div>

                <h4 class="prof-item__title">Прикладная информатика (по отраслям)</h4>

                <p class="prof-item__text">
                  Человек, выбравший данную специальность в Нижегородском гуманитарно-техническом колледже после
                  получения
                  диплома точно найдет работу и сможет обеспечить не только себя, но и свою семью, ведь
                  техник-программист
                  — профессия актуальная, она развивается, и безусловно, останется одной из самых востребованных.
                </p>
                <button type="button" class="prof-item__btn">
                  Узнать стоимость обучения
                </button>
              </div>
            </div>
          </div>

          <div class="swiper-slide info-slider-swiper-slide">
            <div class="prof-item">
              <div class="prof-item__inner">
                <div class="prof-item__info">
                  <span>09.02.05</span>
                  <span>техник-программист</span>
                </div>

                <h4 class="prof-item__title">Прикладная информатика (по отраслям)</h4>

                <p class="prof-item__text">
                  Человек, выбравший данную специальность в Нижегородском гуманитарно-техническом колледже после
                  получения
                  диплома точно найдет работу и сможет обеспечить не только себя, но и свою семью, ведь
                  техник-программист
                  — профессия актуальная, она развивается, и безусловно, останется одной из самых востребованных.
                </p>
                <button type="button" class="prof-item__btn">
                  Узнать стоимость обучения
                </button>
              </div>
            </div>
          </div>

          <div class="swiper-slide info-slider-swiper-slide">
            <div class="prof-item">
              <div class="prof-item__inner">
                <div class="prof-item__info">
                  <span>09.02.05</span>
                  <span>техник-программист</span>
                </div>

                <h4 class="prof-item__title">Прикладная информатика (по отраслям)</h4>

                <p class="prof-item__text">
                  Человек, выбравший данную специальность в Нижегородском гуманитарно-техническом колледже после
                  получения
                  диплома точно найдет работу и сможет обеспечить не только себя, но и свою семью, ведь
                  техник-программист
                  — профессия актуальная, она развивается, и безусловно, останется одной из самых востребованных.
                </p>
                <button type="button" class="prof-item__btn">
                  Узнать стоимость обучения
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <a href="#" class="entrance-form__btn main-prof-slider__link">
        Все специальности
      </a>
    </div>
  </div>

  <div class="container">

    <div class="main-doc">
      <div class="main-doc-item">
        <div class="main-doc-item__content">
          <h4 class="main-doc-item__title">Лицензия</h4>
          <p class="main-doc-item__text">
            Государственная лицензия на осуществление образовательной деятельности выдана Департаментом образования
            города
            Москвы. Регистрационный номер лицензии № ЛО35-01298-77/00181955 от 13.08.2019.Документ подтверждает право
            АНО
            ПО МКИТ на образовательную деятельность.
          </p>
        </div>

        <div class="main-doc-item__list">
          <a href="./assets/images/doc-1.jpg" class="main-doc-item-img main-doc-item-img_border" data-fancybox>
            <img src="./assets/images/doc-1.jpg" alt="doc">
          </a>
          <a href="./assets/images/doc-2.jpg" class="main-doc-item-img main-doc-item-img_border" data-fancybox>
            <img src="./assets/images/doc-2.jpg" alt="doc">
          </a>
          <a href="./assets/images/doc-3.jpg" class="main-doc-item-img main-doc-item-img_border" data-fancybox>
            <img src="./assets/images/doc-3.jpg" alt="doc">
          </a>
        </div>
      </div>

      <div class="main-doc-item">
        <div class="main-doc-item__content">
          <h4 class="main-doc-item__title">Аккредитация</h4>
          <p class="main-doc-item__text">
            Государственная аккредитация образовательной деятельности подтверждает соответствия реализуемых основных
            образовательных программ и подготовки обучающихся требованиям федеральных государственных образовательных
            стандартов.
          </p>
        </div>

        <div class="main-doc-item__list">
          <a href="./assets/images/doc-4.jpg" class="main-doc-item-img" data-fancybox>
            <img src="./assets/images/doc-4.jpg" alt="doc">
          </a>
          <a href="./assets/images/doc-5.jpg" class="main-doc-item-img" data-fancybox>
            <img src="./assets/images/doc-5.jpg" alt="doc">
          </a>
        </div>
      </div>
    </div>

    <div class="main-news">
      <h4 class="main-news__title">Новости</h4>

      <ul class="main-news-list">
        <li class="main-news-list-item">
          <div class="main-news-list-item__inner">
            <div class="main-news-list-item__img">
              <img src="./assets/images/news-1.jpg" alt="main-news">
            </div>

            <span class="main-news-list-item__date">22 марта 2023</span>

            <h5 class="main-news-list-item__title">Встреча с представителями военного университета</h5>

            <p class="main-news-list-item__text">
              Сегодня 22 марта 2023 года в стенах Нижегородского гуманитарно-технического колледжа прошла встреча с
              представител...
            </p>

            <a href="#" class="main-news-list-item__btn">
              Читать далее
            </a>
          </div>
        </li>

        <li class="main-news-list-item">
          <div class="main-news-list-item__inner">
            <div class="main-news-list-item__img">
              <img src="./assets/images/news-2.jpg" alt="main-news">
            </div>

            <span class="main-news-list-item__date">8 марта 2023</span>

            <h5 class="main-news-list-item__title">Поздравляем с Международным женским днем!</h5>

            <p class="main-news-list-item__text">
              Дорогие девушки! Хотим поздравить вас с этим замечательным праздником. Желаем вам, чтобы вы были любимы...
            </p>

            <a href="#" class="main-news-list-item__btn">
              Читать далее
            </a>
          </div>
        </li>

        <li class="main-news-list-item">
          <div class="main-news-list-item__inner">
            <div class="main-news-list-item__img">
              <img src="./assets/images/news-3.jpg" alt="main-news">
            </div>

            <span class="main-news-list-item__date">7 марта 2023</span>

            <h5 class="main-news-list-item__title">Вручение почетных грамот и благодарственных писем от Министерства!
            </h5>

            <p class="main-news-list-item__text">
              Поздравляем преподавателя экономики НГТК Ражева Андрея Александровича с получением почетной грамоты от
              Минист...
            </p>

            <a href="#" class="main-news-list-item__btn">
              Читать далее
            </a>
          </div>
        </li>

        <li class="main-news-list-item">
          <div class="main-news-list-item__inner">
            <div class="main-news-list-item__img">
              <img src="./assets/images/news-4.jpg" alt="main-news">
            </div>

            <span class="main-news-list-item__date">2 марта 2023</span>

            <h5 class="main-news-list-item__title">Состоялось награждение правозащитников Нижегородской области</h5>

            <p class="main-news-list-item__text">
              Первого марта заседание Комиссии по правам человека, содействию развитию институтов гражданского
              общества...
            </p>

            <a href="#" class="main-news-list-item__btn">
              Читать далее
            </a>
          </div>
        </li>
      </ul>

      <a href="#" class="entrance-form__btn main-prof-slider__link">
        Все новости
      </a>
    </div>

    <div class="main-about">
      <h3 class="main-about__title">Как учиться у нас</h3>
      <div class="main-about__inner">
        <div class="main-about__btns">
          <button type="button" class="main-about__btn _active">
            Очная форма
            <svg>
              <use href="#arrow-right-icon"></use>
            </svg>
          </button>

          <button type="button" class="main-about__btn">
            заОчная форма
            <svg>
              <use href="#arrow-right-icon"></use>
            </svg>
          </button>
        </div>

        <div class="swiper main-about-swiper">
          <div class="swiper-wrapper main-about-swiper-wrapper">
            <div class="swiper-slide main-about-swiper-slide">
              <div class="main-about-info">
                <div class="main-about-info__inner">
                  <h4 class="main-about-info__title">Форма обучения</h4>

                  <div class="main-about-info__text">
                    <p>
                      Очная форма обучения предполагает непосредственное личное общение обучающегося с преподавателями и
                      обязательное посещение аудиторных занятий в объеме учебных часов, предусмотренных учебными
                      планами.
                    </p>
                    <p>
                      Пятидневная учебная неделя с шестым развивающим днем, для проведения консультаций, дополнительных
                      программ. Учебный год начинается 1 сентября и разделен на 2 семестра.
                    </p>
                  </div>
                </div>
              </div>
              <div class="main-about-info">
                <div class="main-about-info__inner">
                  <h4 class="main-about-info__title">Занятия</h4>

                  <div class="main-about-info__text">
                    <p>
                      Начало занятий 09:00.
                    </p>
                    <p>
                      Занятия проводятся по парам, продолжительность одной пары — пара состоит из двух школьных уроков
                      и длится 90 минут (1 час 30 минут).
                    </p>
                    <p>
                      Между парами существует перемены, продолжительность которых 10-15 минут.
                    </p>
                  </div>
                </div>
              </div>
              <div class="main-about-info">
                <div class="main-about-info__inner">
                  <h4 class="main-about-info__title">Каникулы</h4>

                  <div class="main-about-info__text">
                    <p>
                      Для студентов предусмотрены зимние каникулы, продолжительностью не более 14 дней и летние
                      каникулы,
                      продолжительностью 2 месяца (июль, август).
                    </p>
                  </div>
                </div>
              </div>
              <div class="main-about-info">
                <div class="main-about-info__inner">
                  <h4 class="main-about-info__title">Аудитории</h4>

                  <div class="main-about-info__text">
                    <p>
                      Занятия проводятся в оснащенных аудиториях с соблюдением требований пожарной безопасности и
                      санитарно-эпидемиологических норм и правил.
                    </p>
                  </div>
                </div>
              </div>
              <div class="main-about-info">
                <div class="main-about-info__inner">
                  <h4 class="main-about-info__title">Сессии</h4>

                  <div class="main-about-info__text">
                    <p>
                      У нас две экзаменационные сессии: зимняя в декабре, летняя в июне.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide main-about-swiper-slide">
              <div class="main-about-info">
                <div class="main-about-info__inner">
                  <h4 class="main-about-info__title">Форма обучения 2</h4>

                  <div class="main-about-info__text">
                    <p>
                      Очная форма обучения предполагает непосредственное личное общение обучающегося с преподавателями и
                      обязательное посещение аудиторных занятий в объеме учебных часов, предусмотренных учебными
                      планами.
                    </p>
                    <p>
                      Пятидневная учебная неделя с шестым развивающим днем, для проведения консультаций, дополнительных
                      программ. Учебный год начинается 1 сентября и разделен на 2 семестра.
                    </p>
                  </div>
                </div>
              </div>
              <div class="main-about-info">
                <div class="main-about-info__inner">
                  <h4 class="main-about-info__title">Занятия 2</h4>

                  <div class="main-about-info__text">
                    <p>
                      Начало занятий 09:00.
                    </p>
                    <p>
                      Занятия проводятся по парам, продолжительность одной пары — пара состоит из двух школьных уроков
                      и длится 90 минут (1 час 30 минут).
                    </p>
                    <p>
                      Между парами существует перемены, продолжительность которых 10-15 минут.
                    </p>
                  </div>
                </div>
              </div>
              <div class="main-about-info">
                <div class="main-about-info__inner">
                  <h4 class="main-about-info__title">Каникулы 2</h4>

                  <div class="main-about-info__text">
                    <p>
                      Для студентов предусмотрены зимние каникулы, продолжительностью не более 14 дней и летние
                      каникулы,
                      продолжительностью 2 месяца (июль, август).
                    </p>
                  </div>
                </div>
              </div>
              <div class="main-about-info">
                <div class="main-about-info__inner">
                  <h4 class="main-about-info__title">Аудитории 2</h4>

                  <div class="main-about-info__text">
                    <p>
                      Занятия проводятся в оснащенных аудиториях с соблюдением требований пожарной безопасности и
                      санитарно-эпидемиологических норм и правил.
                    </p>
                  </div>
                </div>
              </div>
              <div class="main-about-info">
                <div class="main-about-info__inner">
                  <h4 class="main-about-info__title">Сессии 2</h4>

                  <div class="main-about-info__text">
                    <p>
                      У нас две экзаменационные сессии: зимняя в декабре, летняя в июне.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  {{> _entrance-form }}

  <div class="info-slider main-teacher-slider">
    <div class="container">
      <div class="info-slider__head">
        <h3 class="info-slider__title">Наши преподаватели</h3>

        <div class="info-slider__controls">
          <button type="button" class="info-slider__btn info-slider__btn_left">
            <svg>
              <use href="#arrow-left-icon"></use>
            </svg>
          </button>

          <button type="button" class="info-slider__btn info-slider__btn_right">
            <svg>
              <use href="#arrow-right-icon"></use>
            </svg>
          </button>
        </div>
      </div>

      <div class="swiper info-slider-swiper">
        <div class="swiper-wrapper info-slider-swiper-wrapper">
          <div class="swiper-slide info-slider-swiper-slide">
            <div class="teacher-item">
              <div class="teacher-item__inner">
                <div class="teacher-item__img">
                  <img src="./assets/images/teacher-1.jpg" alt="teacher">
                </div>

                <div class="teacher-item__info">
                  <h4 class="teacher-item__title">Jenny Wilson</h4>
                  <h5 class="teacher-item__subtitle">Директор</h5>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide info-slider-swiper-slide">
            <div class="teacher-item">
              <div class="teacher-item__inner">
                <div class="teacher-item__img">
                  <img src="./assets/images/teacher-2.jpg" alt="teacher">
                </div>

                <div class="teacher-item__info">
                  <h4 class="teacher-item__title">Darrell Steward</h4>
                  <h5 class="teacher-item__subtitle">Преподаватель</h5>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide info-slider-swiper-slide">
            <div class="teacher-item">
              <div class="teacher-item__inner">
                <div class="teacher-item__img">
                  <img src="./assets/images/teacher-3.jpg" alt="teacher">
                </div>

                <div class="teacher-item__info">
                  <h4 class="teacher-item__title">Theresa Webb</h4>
                  <h5 class="teacher-item__subtitle">Преподаватель</h5>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide info-slider-swiper-slide">
            <div class="teacher-item">
              <div class="teacher-item__inner">
                <div class="teacher-item__img">
                  <img src="./assets/images/teacher-4.jpg" alt="teacher">
                </div>

                <div class="teacher-item__info">
                  <h4 class="teacher-item__title">Jacob Jones</h4>
                  <h5 class="teacher-item__subtitle">Преподаватель</h5>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide info-slider-swiper-slide">
            <div class="teacher-item">
              <div class="teacher-item__inner">
                <div class="teacher-item__img">
                  <img src="./assets/images/teacher-1.jpg" alt="teacher">
                </div>

                <div class="teacher-item__info">
                  <h4 class="teacher-item__title">Jenny Wilson</h4>
                  <h5 class="teacher-item__subtitle">Директор</h5>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide info-slider-swiper-slide">
            <div class="teacher-item">
              <div class="teacher-item__inner">
                <div class="teacher-item__img">
                  <img src="./assets/images/teacher-2.jpg" alt="teacher">
                </div>

                <div class="teacher-item__info">
                  <h4 class="teacher-item__title">Darrell Steward</h4>
                  <h5 class="teacher-item__subtitle">Преподаватель</h5>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide info-slider-swiper-slide">
            <div class="teacher-item">
              <div class="teacher-item__inner">
                <div class="teacher-item__img">
                  <img src="./assets/images/teacher-3.jpg" alt="teacher">
                </div>

                <div class="teacher-item__info">
                  <h4 class="teacher-item__title">Theresa Webb</h4>
                  <h5 class="teacher-item__subtitle">Преподаватель</h5>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide info-slider-swiper-slide">
            <div class="teacher-item">
              <div class="teacher-item__inner">
                <div class="teacher-item__img">
                  <img src="./assets/images/teacher-4.jpg" alt="teacher">
                </div>

                <div class="teacher-item__info">
                  <h4 class="teacher-item__title">Jacob Jones</h4>
                  <h5 class="teacher-item__subtitle">Преподаватель</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <a href="#" class="entrance-form__btn main-prof-slider__link">
        Все преподаватели
      </a>
    </div>
  </div>

  <div class="reviews main-reviews">
    <div class="container reviews-container">

      <div class="reviews-head">
        <div class="info-slider__head">
          <h3 class="info-slider__title">Отзывы студентов</h3>

          <div class="info-slider__controls">
            <button type="button" class="info-slider__btn info-slider__btn_left">
              <svg>
                <use href="#arrow-left-icon"></use>
              </svg>
            </button>

            <button type="button" class="info-slider__btn info-slider__btn_right">
              <svg>
                <use href="#arrow-right-icon"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>

      <div class="swiper reviews-swiper">
        <div class="swiper-wrapper reviews-swiper-wrapper">
          <div class="swiper-slide reviews-swiper-slide">
            <div class="reviews-swiper-slide__img">
              <img src="./assets/images/reviews-1.jpg" alt="reviews">
            </div>

            <div class="reviews-swiper-slide__content">
              <svg>
                <use href="#quoma-icon"></use>
              </svg>
              <svg>
                <use href="#quoma-icon"></use>
              </svg>

              <p class="reviews-swiper-slide__text">
                Меня зовут Алёхина Вика, мне 17 лет, учусь я в МКИТ на 2 курсе. Здесь классно. Очень хорошие
                преподаватели, с которыми можно запросто найти общий язык и если что-то будет непонятно, то можно
                спокойно
                подойти и попросить о помощи. Собственно мне как человеку, которому максимально трудно заводить общение
                с
                людьми (даже со сверстниками), это очень сильно понравилось!
              </p>

              <h5 class="reviews-swiper-slide__subtitle">
                Имя фамилия, курс
              </h5>
            </div>
          </div>

          <div class="swiper-slide reviews-swiper-slide">
            <div class="reviews-swiper-slide__img">
              <img src="./assets/images/reviews-1.jpg" alt="reviews">
            </div>

            <div class="reviews-swiper-slide__content">
              <svg>
                <use href="#quoma-icon"></use>
              </svg>
              <svg>
                <use href="#quoma-icon"></use>
              </svg>

              <p class="reviews-swiper-slide__text">
                Меня зовут Алёхина Вика, мне 17 лет, учусь я в МКИТ на 2 курсе. Здесь классно. Очень хорошие
                преподаватели, с которыми можно запросто найти общий язык и если что-то будет непонятно, то можно
                спокойно
                подойти и попросить о помощи. Собственно мне как человеку, которому максимально трудно заводить общение
                с
                людьми (даже со сверстниками), это очень сильно понравилось!
              </p>

              <h5 class="reviews-swiper-slide__subtitle">
                Имя фамилия, курс
              </h5>
            </div>
          </div>

          <div class="swiper-slide reviews-swiper-slide">
            <div class="reviews-swiper-slide__img">
              <img src="./assets/images/reviews-1.jpg" alt="reviews">
            </div>

            <div class="reviews-swiper-slide__content">
              <svg>
                <use href="#quoma-icon"></use>
              </svg>
              <svg>
                <use href="#quoma-icon"></use>
              </svg>

              <p class="reviews-swiper-slide__text">
                Меня зовут Алёхина Вика, мне 17 лет, учусь я в МКИТ на 2 курсе. Здесь классно. Очень хорошие
                преподаватели, с которыми можно запросто найти общий язык и если что-то будет непонятно, то можно
                спокойно
                подойти и попросить о помощи. Собственно мне как человеку, которому максимально трудно заводить общение
                с
                людьми (даже со сверстниками), это очень сильно понравилось!
              </p>

              <h5 class="reviews-swiper-slide__subtitle">
                Имя фамилия, курс
              </h5>
            </div>
          </div>
        </div>
      </div>

      <a href="#" class="entrance-form__btn main-prof-slider__link">
        Все отзывы
      </a>

    </div>
  </div>

  <div class="info-slider main-partners-slider">
    <div class="container">
      <div class="info-slider__head">
        <h3 class="info-slider__title">Партнеры</h3>

        <div class="info-slider__controls">
          <button type="button" class="info-slider__btn info-slider__btn_left">
            <svg>
              <use href="#arrow-left-icon"></use>
            </svg>
          </button>

          <button type="button" class="info-slider__btn info-slider__btn_right">
            <svg>
              <use href="#arrow-right-icon"></use>
            </svg>
          </button>
        </div>
      </div>

      <div class="swiper info-slider-swiper">
        <div class="swiper-wrapper info-slider-swiper-wrapper">
          <div class="swiper-slide info-slider-swiper-slide">
            <div class="partners-item">
              <div class="partners-item__inner">
                <img src="./assets/images/partners-1.png" alt="partners">
              </div>
            </div>
          </div>
          <div class="swiper-slide info-slider-swiper-slide">
            <div class="partners-item">
              <div class="partners-item__inner">
                <img src="./assets/images/partners-2.png" alt="partners">
              </div>
            </div>
          </div>
          <div class="swiper-slide info-slider-swiper-slide">
            <div class="partners-item">
              <div class="partners-item__inner">
                <img src="./assets/images/partners-3.png" alt="partners">
              </div>
            </div>
          </div>
          <div class="swiper-slide info-slider-swiper-slide">
            <div class="partners-item">
              <div class="partners-item__inner">
                <img src="./assets/images/partners-4.png" alt="partners">
              </div>
            </div>
          </div>
          <div class="swiper-slide info-slider-swiper-slide">
            <div class="partners-item">
              <div class="partners-item__inner">
                <img src="./assets/images/partners-1.png" alt="partners">
              </div>
            </div>
          </div>
          <div class="swiper-slide info-slider-swiper-slide">
            <div class="partners-item">
              <div class="partners-item__inner">
                <img src="./assets/images/partners-2.png" alt="partners">
              </div>
            </div>
          </div>
          <div class="swiper-slide info-slider-swiper-slide">
            <div class="partners-item">
              <div class="partners-item__inner">
                <img src="./assets/images/partners-3.png" alt="partners">
              </div>
            </div>
          </div>
          <div class="swiper-slide info-slider-swiper-slide">
            <div class="partners-item">
              <div class="partners-item__inner">
                <img src="./assets/images/partners-4.png" alt="partners">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>