<section class="news">
  <div class="container">

    <div class="page-info">
      <div class="page-info-nav">
        <a href="#" class="page-info-nav__link">
          Главная
        </a>
        <a href="#" class="page-info-nav__link">
          Новости
        </a>
        <a href="#" class="page-info-nav__link">
          ВСТРЕЧА «ОДНАЖДЫ В ГОСТИНОЙ»
        </a>
      </div>

      <h1 class="page-info__title">
        ВСТРЕЧА «ОДНАЖДЫ В ГОСТИНОЙ»
      </h1>
    </div>

    <div class="news-container">
      <div class="news-head">
        <div class="news-head__img">
          <img src="./assets/images/news/news-1.jpg" alt="news">
        </div>

        <div class="doc-info news-head__info">
          <div class="doc-info__content">
            <div class="doc-info-item">
              <p>
                Сегодня, 27 апреля 2023 года, состоялась встреча «Однажды в гостиной», в рамках серии мероприятий,
                посвященных поздравлению дню рождения колледжа.«Нижегородский гуманитарно-технический колледж» – был
                создан в апреле 2015 года.
              </p>
              <p>
                Молодой, но стремительно развивающийся колледж, уверенно идущий по выбранному пути. За 8 лет
                продуктивной работы, колледж зарекомендовал себя, как одно из лидирующих учебных заведений Нижегородской
                области.
              </p>
              <p>
                Ребята приготовили работы на тематику знаменитых людей города Нижнего Новгорода.
              </p>
              <p>
                За сотни лет на нижегородской земле родилось множество достойных людей.Многие представители
                Нижегородской области прославились своими талантами, и даже вошли в историю не только России, но и
                мира.Наши студенты рассказали про истории их жизни, исторические факты, знаменитых нижегородцев, и их
                заслуги.Меняются времена, меняются люди, но неизменны простые человеческие чувства: активность,
                творчество и радость общения.
              </p>
              <p>
                Данная встреча была завершающей в серии мероприятий, посвященных дню рождения колледжа, и вновь хочется
                поздравить весь коллектив, студентов, родителей, выпускников с таким значимым событием. От всей души
                пожелать здоровья, оптимизма и успешного решения поставленных задач.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="news-images">
        <a href="./assets/images/news/news-2.jpg" class="news-images-item" data-fancybox>
          <img src="./assets/images/news/news-2.jpg" alt="news">
        </a>
        <a href="./assets/images/news/news-3.jpg" class="news-images-item" data-fancybox>
          <img src="./assets/images/news/news-3.jpg" alt="news">
        </a>
      </div>
    </div>

  </div>
</section>