<div class="reviews">
  <div class="container reviews-container">

    <div class="reviews-head">
      <div class="info-slider__head">
        <h3 class="info-slider__title">Отзывы студентов</h3>

        <div class="info-slider__controls">
          <button type="button" class="info-slider__btn info-slider__btn_left">
            <svg>
              <use href="#arrow-left-icon"></use>
            </svg>
          </button>

          <button type="button" class="info-slider__btn info-slider__btn_right">
            <svg>
              <use href="#arrow-right-icon"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <div class="swiper reviews-swiper">
      <div class="swiper-wrapper reviews-swiper-wrapper">
        <div class="swiper-slide reviews-swiper-slide">
          <div class="reviews-swiper-slide__img">
            <!-- <img src="./assets/images/reviews-1.jpg" alt="reviews"> -->
          </div>

          <div class="reviews-swiper-slide__content">
            <p class="reviews-swiper-slide__text">
              Меня зовут Алёхина Вика, мне 17 лет, учусь я в МКИТ на 2 курсе. Здесь классно. Очень хорошие
              преподаватели, с которыми можно запросто найти общий язык и если что-то будет непонятно, то можно спокойно
              подойти и попросить о помощи. Собственно мне как человеку, которому максимально трудно заводить общение с
              людьми (даже со сверстниками), это очень сильно понравилось!
            </p>

            <h5 class="reviews-swiper-slide__subtitle">
              Имя фамилия, курс
            </h5>
          </div>
        </div>

        <div class="swiper-slide reviews-swiper-slide">
          <div class="reviews-swiper-slide__img">
            <!-- <img src="./assets/images/reviews-1.jpg" alt="reviews"> -->
          </div>

          <div class="reviews-swiper-slide__content">
            <p class="reviews-swiper-slide__text">
              Меня зовут Алёхина Вика, мне 17 лет, учусь я в МКИТ на 2 курсе. Здесь классно. Очень хорошие
              преподаватели, с которыми можно запросто найти общий язык и если что-то будет непонятно, то можно спокойно
              подойти и попросить о помощи. Собственно мне как человеку, которому максимально трудно заводить общение с
              людьми (даже со сверстниками), это очень сильно понравилось!
            </p>

            <h5 class="reviews-swiper-slide__subtitle">
              Имя фамилия, курс
            </h5>
          </div>
        </div>

        <div class="swiper-slide reviews-swiper-slide">
          <div class="reviews-swiper-slide__img">
            <!-- <img src="./assets/images/reviews-1.jpg" alt="reviews"> -->
          </div>

          <div class="reviews-swiper-slide__content">
            <p class="reviews-swiper-slide__text">
              Меня зовут Алёхина Вика, мне 17 лет, учусь я в МКИТ на 2 курсе. Здесь классно. Очень хорошие
              преподаватели, с которыми можно запросто найти общий язык и если что-то будет непонятно, то можно спокойно
              подойти и попросить о помощи. Собственно мне как человеку, которому максимально трудно заводить общение с
              людьми (даже со сверстниками), это очень сильно понравилось!
            </p>

            <h5 class="reviews-swiper-slide__subtitle">
              Имя фамилия, курс
            </h5>
          </div>
        </div>

        <div class="swiper-slide reviews-swiper-slide">
          <div class="reviews-swiper-slide__img">
            <!-- <img src="./assets/images/reviews-1.jpg" alt="reviews"> -->
          </div>

          <div class="reviews-swiper-slide__content">
            <p class="reviews-swiper-slide__text">
              Меня зовут Алёхина Вика, мне 17 лет, учусь я в МКИТ на 2 курсе. Здесь классно. Очень хорошие
              преподаватели, с которыми можно запросто найти общий язык и если что-то будет непонятно, то можно спокойно
              подойти и попросить о помощи. Собственно мне как человеку, которому максимально трудно заводить общение с
              людьми (даже со сверстниками), это очень сильно понравилось!
            </p>

            <h5 class="reviews-swiper-slide__subtitle">
              Имя фамилия, курс
            </h5>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>