<section class="specialization">
  <div class="container">

    <div class="page-info">
      <div class="page-info-nav">
        <a href="#" class="page-info-nav__link">
          Главная
        </a>
        <a href="#" class="page-info-nav__link">
          Специальности
        </a>
      </div>

      <h1 class="page-info__title">
        Специальности
      </h1>
    </div>

    <div class="doc">
      <div class="doc-nav">
        <a href="#" class="doc-nav__link _active">
          Прикладная информатика (по отраслям)
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Экономика и бухгалтерский учет (по отраслям)
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          Операционная деятельность в логистике
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          землеустройство
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          геология и разведка нефтяных и газовых месторождений
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          право и организация социального обеспечения
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          правоохранительная деятельность
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          техническое обслуживание и ремонт автомобильного транспорта
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
        <a href="#" class="doc-nav__link">
          дошкольное образование
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
      </div>

      <div class="doc-container">
        <div class="doc-info">
          <div class="doc-info__content">
            <div class="doc-inner">
              <h3 class="doc-inner__title">
                ПРИКЛАДНАЯ ИНФОРМАТИКА (ПО ОТРАСЛЯМ)
              </h3>
            </div>

            <div class="doc-info-item">
              <h4>Квалификация</h4>
              <p>
                Техник-программист
              </p>
            </div>

            <div class="doc-info-item">
              <h4>Код направления подготовки</h4>
              <p>
                09.02.05
              </p>
            </div>

            <div class="doc-info-item">
              <p>
                Мы живем в то время, когда технологии стремительно развиваются. Еще несколько десятков лет назад сложно
                было представить обширное применение компьютеров в обществе. Сейчас виртуальный мир позволяет общаться с
                друзьями; играть, не выходя из дома; находить полезную информацию.
              </p>
              <p>
                IT-сфера отличается молодостью и современным подходом к образованию. При трудоустройстве на работу
                работодатель оценивает не столько диплом, сколько навыки будущего сотрудника. В связи с этим главной
                задачей Нижегородского колледжа является воспитание   в своих студентах следующих качеств:
                математических и аналитических способностей, логического мышления, высокого уровня развития технических
                способностей, умения самостоятельно принимать решения, аккуратность, внимательность,
                дисциплинированность и т.д.
              </p>
              <p>
                Профессия программиста бесспорно очень притягательна для современных абитуриентов. И это оправданно:
                высокая зарплата, востребованность, простор для творчества, отличная возможность удаленной работы,
                свободный график, а также карьерный рост в России и за рубежом. Человек, выбравший данную специальность
                в Нижегородском гуманитарно-техническом колледже, пройдет учебную, производственную, преддипломную
                практику и после получения диплома точно найдет работу и сможет обеспечить не только себя, но и свою
                семью, ведь техник-программист — профессия актуальная, она развивается, и безусловно, останется одной из
                самых востребованных.
              </p>
            </div>

            <div class="doc-info-item _comment">
              <p>
                Прием на обучение в соответствии с федеральным государственным образовательным стандартом среднего
                профессионального образования по специальности 09.02.05 Прикладная информатика (по отраслям)
                прекращается 1 января 2021 года. (Специальность доступна для перевода из других образовательных
                организаций и восстановления после отчисления из ЧПОУ НГТК)
              </p>
            </div>
          </div>
        </div>

        <div class="specialization-info">
          <div class="specialization-info-item">
            <div class="specialization-info-item__container">
              <h3 class="specialization-info-item__title">Сроки обучения</h3>

              <div class="specialization-info-item__content">
                <div class="specialization-info-item__inner">
                  <p class="specialization-info-item__text specialization-info-item__text_grey">На базе 9 классов:</p>
                  <p class="specialization-info-item__text">заочная – 4 г. 10 мес.</p>
                </div>
                <div class="specialization-info-item__inner">
                  <p class="specialization-info-item__text specialization-info-item__text_grey">На базе 11 классов:</p>
                  <p class="specialization-info-item__text">заочная – 3 г. 10 мес.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="specialization-info-item">
            <div class="specialization-info-item__container">
              <h3 class="specialization-info-item__title">Стоимость</h3>

              <div class="specialization-info-item__content">
                <p class="specialization-info-item__text">По запросу</p>
              </div>
            </div>
          </div>
          <div class="specialization-info-item">
            <div class="specialization-info-item__container">
              <h3 class="specialization-info-item__title">ФОРМА ОБУЧЕНИЯ</h3>

              <div class="specialization-info-item__content">
                <p class="specialization-info-item__text">Заочная</p>
              </div>
            </div>
          </div>
          <div class="specialization-info-item">
            <div class="specialization-info-item__container">
              <h3 class="specialization-info-item__title">ВСТУПИТЕЛЬНЫЕ ЭКЗАМЕНЫ</h3>

              <div class="specialization-info-item__content">
                <p class="specialization-info-item__text">Не требуются. Поступление на базе аттестата об окончании 9 или
                  11 класса.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="doc-info">
          <div class="doc-info__content">
            <div class="doc-info-item">
              <h4>УЧЕБНЫЙ ПЛАН</h4>
              <ul>
                <li>
                  Основы теории информации
                </li>
                <li>
                  Операционные системы и среды
                </li>
                <li>
                  Архитектура электронно-вычислительных машин и вычислительные системы
                </li>
                <li>
                  Информационные технологии в профессиональной деятельности
                </li>
                <li>
                  Базы данных
                </li>
                <li>
                  Безопасность информации в компьютерных сетях
                </li>
                <li>
                  Обработка отраслевой информации
                </li>
                <li>
                  Разработка, внедрение и адаптация программного обеспечения отраслевой направленности
                </li>
                <li>
                  Сопровождение и продвижение программного обеспечения отраслевой направленности
                </li>
                <li>
                  Разработка и эксплуатация информационных систем
                </li>
                <li>
                  Разработка приложений на базе интегрированных сред
                </li>
                <li>
                  Сетевые технологии
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="doc-info">
          <div class="doc-info__content">
            <div class="doc-info-item">
              <h4>ДОКУМЕНТЫ ДЛЯ ПОСТУПЛЕНИЯ</h4>
              <ul>
                <li>
                  Оригинал или ксерокопия документов, удостоверяющих вашу личность, гражданство;
                </li>
                <li>
                  Оригинал или ксерокопия документа об образовании и (или) квалификации;
                </li>
                <li>
                  4 цветные фотографии.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <form action="#" class="entrance-form">
    <div class="container">

      <div class="entrance-form-container">
        <div class="entrance-form-info">
          <h3 class="entrance-form__title">Заявка на поступление</h3>

          <p class="entrance-form__text">
            Поступить к нам не сложно — просто оставьте заявку, мы свяжемся с вами и проконсультируем по всем
            интересующим
            вопросам, а также подскажем, что делать дальше
          </p>
        </div>

        <div class="entrance-form-inner">
          <input type="text" class="entrance-form__input" placeholder="Имя">
          <input type="text" class="entrance-form__input" placeholder="Фамилия">
          <input type="text" class="entrance-form__input" placeholder="Телефон">
          <input type="text" class="entrance-form__input" placeholder="E-mail">
          <label class="entrance-form-checkbox" data-checkbox>
            <input type="checkbox">
            <span class="entrance-form-checkbox__icon">
              <svg>
                <use href="#check-icon"></use>
              </svg>
              <svg>
                <use href="#check-icon"></use>
              </svg>
            </span>
            <span class="entrance-form-checkbox__text">
              Согласен на обработку персональных данных, получение рассылок, а
              также с <a href="#">Политикой конфиденциальности</a>
            </span>
          </label>

          <button class="entrance-form__btn">
            Оставить заявку
          </button>
        </div>
      </div>

    </div>
  </form>

</section>